<header>
    <dx-toolbar class="header-toolbar">
        <div *ngIf='isMobileResolution'>
        <dxi-item
            *ngIf="menuToggleEnabled"
            location="before"
            widget="dxButton"
            cssClass="menu-button"
            [options]="{
                icon: 'menu',
                stylingMode: 'text',
                onClick: toggleMenu
            }">
        </dxi-item>
    </div>
        <!-- <dxi-item
            location="before"
            cssClass="header-title"
            *ngIf="title"
            [text]="title">
        </dxi-item> -->
       
        <dxi-item location="before" cssClass="header-logo">
                <img class="site-logo" src="assets/images/astrologo.png">
        </dxi-item>
        <div class="menu">
        <dxi-item location="after" cssClass="web-menu">
                <div class="menu-item" (click)="onHomeClick()">Home</div>
        </dxi-item>
        <!-- <dxi-item location="after" cssClass="web-menu">
                <div class="menu-item" (click)="onServicesClick($event)">Services</div>
        </dxi-item> -->
        <dxi-item location="after" cssClass="web-menu">
            <div class="menu-item" *dxTemplate="let data of 'item'">
                <dx-menu [dataSource]="loginService.serviceMenus" displayExpr="text" activeStateEnabled='true'
                        [showFirstSubmenuMode]="showFirstSubmenuModes" orientation="horizontal" submenuDirection="auto"
                        [hideSubmenuOnMouseLeave]="true" (onItemClick)="itemClick($event)">
                        </dx-menu>
            </div>
        </dxi-item>
        <dxi-item location="after" cssClass="web-menu">
                <div class="menu-item" (click)="onAboutUsClick()">About Us</div>
        </dxi-item>
        <dxi-item location="after" cssClass="web-menu">
                <div class="menu-item" (click)="onContactUsClick()">Contact Us</div>
        </dxi-item>
        <dxi-item location="after" cssClass="web-menu">
            <div class="menu-item" (click)="onProductsClick()">Products</div>
        </dxi-item>
        <dxi-item location="after" cssClass="web-menu" *ngIf="loginService.userProfileVisible">
                <div class="menu-item" (click)="onSettingsClick()">Settings</div>
        </dxi-item>
        <dxi-item location="after" cssClass="web-menu" *ngIf="loginService.userProfileVisible">
                <div class="menu-item" (click)="onProfileClick()">Profile</div>
        </dxi-item>
        <dxi-item location="after" cssClass="web-menu" *ngIf="loginService.userProfileVisible">
                <div class="menu-item" (click)="onAdminClick()">Admin</div>
        </dxi-item>
        <!-- <dxi-item location="after">
            <div class="menu-item">
                <dx-menu *ngIf='!isMobileResolution' #menu [dataSource]="loginService.menuItems" displayExpr="text"
                    [showFirstSubmenuMode]="showFirstSubmenuModes" orientation="horizontal" submenuDirection="auto"
                    [hideSubmenuOnMouseLeave]="true" (onItemClick)="itemClick($event)">
                </dx-menu>
            </div>
        </dxi-item> -->
        
    </div>
    <dxi-item location="after" *ngIf="!loginService.userProfileVisible">
        <div class="login-register menu-item">
        <dx-button text="Login" (onClick)="OnLogin_click()" style="border-radius: 15px 0px 0px 15px;"></dx-button>
        <dx-button text="Register" (onClick)="OnRegister_click()"style="border-radius: 0px 15px 15px 0px;"></dx-button>
    </div>
</dxi-item>
        <dxi-item *ngIf="loginService.userProfileVisible" 
            location="after"
            locateInMenu="auto"
            menuItemTemplate="menuItem">
            <div *dxTemplate="let data of 'item'">
                <dx-button
                    class="user-button authorization"
                    width="170px"
                    height="100%"
                    stylingMode="text">
                    <div *dxTemplate="let data of 'content'">
                        <app-user-panel [menuItems]="userMenuItems" menuMode="context"></app-user-panel>
                    </div>
                </dx-button>
            </div>
        </dxi-item>
        <div *dxTemplate="let data of 'menuItem'">
            <app-user-panel [menuItems]="userMenuItems" menuMode="list"></app-user-panel>
        </div>
    </dx-toolbar>
</header>
