<header>
    <dx-toolbar class="header-toolbar">
        <div *ngIf='isMobileResolution'>
        <dxi-item
            *ngIf="menuToggleEnabled"
            location="before"
            widget="dxButton"
            cssClass="menu-button"
            [options]="{
                icon: 'menu',
                stylingMode: 'text',
                onClick: toggleMenu
            }">
        </dxi-item>
    </div>
        <!-- <dxi-item
            location="before"
            cssClass="header-title"
            *ngIf="title"
            [text]="title">
        </dxi-item> -->
       
        <dxi-item location="before" cssClass="header-logo">
                <img class="site-logo" src="assets/images/astrologo.png">
        </dxi-item>
        <div class="menu">
        <dxi-item location="after" cssClass="web-menu">
                <div class="menu-item">Home</div>
        </dxi-item>
        <dxi-item location="after" cssClass="web-menu" >
                <div class="menu-item">Services</div>
        </dxi-item>
        <dxi-item location="after" cssClass="web-menu">
                <div class="menu-item">About- Us</div>
        </dxi-item>
        <dxi-item location="after" cssClass="web-menu">
                <div class="menu-item">Contact- Us</div>
        </dxi-item>
    </div>
        <dxi-item *ngIf="loginService.userProfileVisible" 
            location="after"
            locateInMenu="auto"
            menuItemTemplate="menuItem">
            <div *dxTemplate="let data of 'item'">
                <dx-button
                    class="user-button authorization"
                    width="170px"
                    height="100%"
                    stylingMode="text">
                    <div *dxTemplate="let data of 'content'">
                        <app-user-panel [menuItems]="userMenuItems" menuMode="context"></app-user-panel>
                    </div>
                </dx-button>
            </div>
        </dxi-item>
        <div *dxTemplate="let data of 'menuItem'">
            <app-user-panel [menuItems]="userMenuItems" menuMode="list"></app-user-panel>
        </div>
    </dx-toolbar>
</header>
