<!-- <dx-tile-view #tileView 
              [height]="1200" 
              [baseItemHeight]="1300" 
              [baseItemWidth]="350" 
              width="100%" 
              [itemMargin]="10"
              [showScrollbar]="true"
              showNavButtons="true"
              direction="vertical" *ngIf="!isMobileResolution"> -->
     <dx-tile-view #tileView 
              [height]="1500" 
              [baseItemHeight]="1300" 
              [baseItemWidth]="350" 
              width="100%" 
              [itemMargin]="10"
              [showScrollbar]="true"
              showNavButtons="true"
              [direction]="direction">
    <dxi-item *ngFor="let item of serialisedPanchangaResponse">
        <div class="dx-field">
            <div class="dx-field-label panch-date">{{item.Date}}
            </div>
        </div>
        <div class="dx-field" [ngClass]="getFont(panchangaRequest.LangCode)">
            <div class="dx-field-label">{{item.Week}}
            </div>
        </div>
        <div class="dx-field" [ngClass]="getFont(panchangaRequest.LangCode)">
            <div class="samvathsara">{{item.Samvathsara}} {{caption.Samvathsara}}
            </div>
        </div>
        <div class="dx-field" [ngClass]="getFont(panchangaRequest.LangCode)">
            <div class="cap"> {{caption.SouraMasa}}</div>
            <div class="data"> :{{item.Masa}}
            </div>
        </div>
        <div class="dx-field" [ngClass]="getFont(panchangaRequest.LangCode)">
            <div class="dx-field-label">{{item.ChandraMasa}}  {{caption.Masa}}
            </div>
        </div>
        <div class="dx-field" [ngClass]="getFont(panchangaRequest.LangCode)">
            <div class="dx-field-label">{{item.Ayana}}
            </div>
        </div>
        <div class="dx-field" [ngClass]="getFont(panchangaRequest.LangCode)">
            <div class="dx-field-label">{{item.RuthuText}} {{caption.Ruthu}}
            </div>
        </div>
        <div class="dx-field" [ngClass]="getFont(panchangaRequest.LangCode)">
            <div class="dx-field-label">{{item.Paksha}}
            </div>
        </div>

        <div class="dx-field ">
            <div class="cap" [ngClass]="getFont(panchangaRequest.LangCode)"> {{ caption.SunRise}}</div>
            <div class="data"> :{{item.Sunrise}}
            </div>
        </div>
        <div class="dx-field ">
            <div class="cap" [ngClass]="getFont(panchangaRequest.LangCode)"> {{ caption.SunSet}}</div>
            <div class="data"> :{{item.Sunset}}
            </div>
        </div>
        <div class="dx-field ">
            <div class="cap" [ngClass]="getFont(panchangaRequest.LangCode)"> {{ caption.MoonRise}}</div>
            <div class="data"> :{{item.MoonRise}}
            </div>
        </div>

        <div class="dx-field ">
            <div class="cap" [ngClass]="getFont(panchangaRequest.LangCode)"> {{ caption.MoonSet}}</div>
            <div class="data"> :{{item.MoonSet}}
            </div>
        </div>
        <div class="dx-field ">
            <div class="cap" [ngClass]="getFont(panchangaRequest.LangCode)"> {{ caption.Rahu}}</div>
            <div class="data"> :{{item.Rahu}}
            </div>
        </div>
        <div class="dx-field ">
            <div class="cap" [ngClass]="getFont(panchangaRequest.LangCode)"> {{ caption.Gulika}}</div>
            <div class="data"> :{{item.Gulika}}
            </div>
        </div>
        <div class="dx-field ">
            <div class="cap" [ngClass]="getFont(panchangaRequest.LangCode)"> {{ caption.Yama}}</div>
            <div class="data"> :{{item.Yama}}
            </div>
        </div>

        <div class="dx-field " [ngClass]="getFont(panchangaRequest.LangCode)">
            <div class="cap"> {{ caption.Tithi}}</div>
            <div class="data">: {{item.Tithi}}
            </div>
        </div>

        <div class="dx-field " [ngClass]="getFont(panchangaRequest.LangCode)">
            <div class="cap"> {{ caption.Nak}}</div>
            <div class="data"> :{{item.Nak}}
            </div>
        </div>
        <div class="dx-field " [ngClass]="getFont(panchangaRequest.LangCode)">
            <div class="cap"> {{ caption.Yoga}}</div>
            <div class="data"> :{{item.Yoga}}
            </div>
        </div>
        <div class="dx-field " [ngClass]="getFont(panchangaRequest.LangCode)">
            <div class="cap"> {{ caption.NityaKarana}}</div>
            <div class="data"> :{{item.Karana}}
            </div>
        </div>
        <div class="dx-field " [ngClass]="getFont(panchangaRequest.LangCode)">
            <div class="cap"> {{ caption.VishaGhati}}</div>
            <div class="data">: {{item.Visha}}
            </div>
        </div>
        <div class="dx-field " [ngClass]="getFont(panchangaRequest.LangCode)">
            <div class="cap"> {{ caption.AmrithaGhati}}</div>
            <div class="data"> :{{item.Amritha}}
            </div>
        </div>
        <div class="dx-field " *ngIf='item.DinaVishesha!=""' [ngClass]="getFont(panchangaRequest.LangCode)">
            <div class="cap"> {{ caption.DinaVishesha}}</div>
            <div class="data"> :{{item.DinaVishesha}}
            </div>
        </div>
    </dxi-item>
</dx-tile-view>

<!-- <div *ngIf="isMobileResolution" class="widget-container">
        
    <dx-gallery #gallery
        id="gallery"
        [dataSource]="serialisedPanchangaResponse"
        height="100%"
        [width]="400"
        [loop]="true"
        [showNavButtons]="true"
        [showIndicator]="false">
    <div *dxTemplate="let galleryItem of 'item'">
            <div class="dx-card content-block responsive-paddings">  
        <div class="dx-field">
            <div class="dx-field-label">{{galleryItem.Date}}
            </div>
        </div>
        <div class="dx-field" [ngClass]="getFont(panchangaRequest.LangCode)">
            <div class="dx-field-label">{{galleryItem.Ayana}}
            </div>
        </div>
        <div class="dx-field" [ngClass]="getFont(panchangaRequest.LangCode)">
            <div class="dx-field-label">{{galleryItem.RuthuText}}
            </div>
        </div>
        <div class="dx-field" [ngClass]="getFont(panchangaRequest.LangCode)">
            <div class="dx-field-label">{{galleryItem.Paksha}}
            </div>
        </div>

        <div class="dx-field ">
            <div class="dx-field-label" [ngClass]="getFont(panchangaRequest.LangCode)"> {{ caption.SunRise}}:</div>
            <div class="dx-field-value"> {{galleryItem.Sunrise}}
            </div>
        </div>
        <div class="dx-field ">
            <div class="dx-field-label" [ngClass]="getFont(panchangaRequest.LangCode)"> {{ caption.SunSet}}:</div>
            <div class="dx-field-value"> {{galleryItem.Sunset}}
            </div>
        </div>
        <div class="dx-field ">
            <div class="dx-field-label" [ngClass]="getFont(panchangaRequest.LangCode)"> {{ caption.MoonRise}}:</div>
            <div class="dx-field-value"> {{galleryItem.MoonRise}}
            </div>
        </div>

        <div class="dx-field ">
            <div class="dx-field-label" [ngClass]="getFont(panchangaRequest.LangCode)"> {{ caption.MoonSet}}:</div>
            <div class="dx-field-value"> {{galleryItem.MoonSet}}
            </div>
        </div>
        <div class="dx-field ">
            <div class="dx-field-label" [ngClass]="getFont(panchangaRequest.LangCode)"> {{ caption.Rahu}}:</div>
            <div class="dx-field-value"> {{galleryItem.Rahu}}
            </div>
        </div>
        <div class="dx-field ">
            <div class="dx-field-label" [ngClass]="getFont(panchangaRequest.LangCode)"> {{ caption.Gulika}}:</div>
            <div class="dx-field-value"> {{galleryItem.Gulika}}
            </div>
        </div>
        <div class="dx-field ">
            <div class="dx-field-label" [ngClass]="getFont(panchangaRequest.LangCode)"> {{ caption.Yama}}:</div>
            <div class="dx-field-value"> {{galleryItem.Yama}}
            </div>
        </div>

        <div class="dx-field " [ngClass]="getFont(panchangaRequest.LangCode)">
            <div class="dx-field-label"> {{caption.SouraMasa}}:</div>
            <div class="dx-field-value"> {{galleryItem.Masa}}
            </div>
        </div>

        <div class="dx-field " [ngClass]="getFont(panchangaRequest.LangCode)">
            <div class="dx-field-label"> {{ caption.Tithi}}:</div>
            <div class="dx-field-value"> {{galleryItem.Tithi}}
            </div>
        </div>

        <div class="dx-field " [ngClass]="getFont(panchangaRequest.LangCode)">
            <div class="dx-field-label"> {{ caption.Nak}}:</div>
            <div class="dx-field-value"> {{galleryItem.Nak}}
            </div>
        </div>
        <div class="dx-field " [ngClass]="getFont(panchangaRequest.LangCode)">
            <div class="dx-field-label"> {{ caption.Yoga}}:</div>
            <div class="dx-field-value"> {{galleryItem.Yoga}}
            </div>
        </div>
        <div class="dx-field " [ngClass]="getFont(panchangaRequest.LangCode)">
            <div class="dx-field-label"> {{ caption.NityaKarana}}:</div>
            <div class="dx-field-value"> {{galleryItem.Karana}}
            </div>
        </div>
        <div class="dx-field " [ngClass]="getFont(panchangaRequest.LangCode)">
            <div class="dx-field-label"> {{ caption.VishaGhati}}:</div>
            <div class="dx-field-value"> {{galleryItem.Visha}}
            </div>
        </div>
        <div class="dx-field " [ngClass]="getFont(panchangaRequest.LangCode)">
            <div class="dx-field-label"> {{ caption.AmrithaGhati}}:</div>
            <div class="dx-field-value"> {{galleryItem.Amritha}}
            </div>
        </div>
            </div>
    </div>
</dx-gallery>
</div> -->


