<dx-tile-view #tileView [height]="900" [baseItemHeight]="900" [baseItemWidth]="300" width="100%" [itemMargin]="10"
    direction="horizontal">
    <dxi-item *ngFor="let item of serialisedPanchangaResponse">
        <div class="dx-field">
            <div class="dx-field-label">{{item.Date}}
            </div>
        </div>
        <div class="dx-field" [ngClass]="getFont(panchangaRequest.LangCode)">
            <div class="dx-field-label">{{item.Ayana}}
            </div>
        </div>
        <div class="dx-field" [ngClass]="getFont(panchangaRequest.LangCode)">
            <div class="dx-field-label">{{item.RuthuText}}
            </div>
        </div>
        <div class="dx-field" [ngClass]="getFont(panchangaRequest.LangCode)">
            <div class="dx-field-label">{{item.Paksha}}
            </div>
        </div>

        <div class="dx-field ">
            <div class="dx-field-label" [ngClass]="getFont(panchangaRequest.LangCode)"> {{ caption.SunRise}}:</div>
            <div class="dx-field-label"> {{item.Sunrise}}
            </div>
        </div>
        <div class="dx-field ">
            <div class="dx-field-label" [ngClass]="getFont(panchangaRequest.LangCode)"> {{ caption.SunSet}}:</div>
            <div class="dx-field-label"> {{item.Sunset}}
            </div>
        </div>
        <div class="dx-field ">
            <div class="dx-field-label" [ngClass]="getFont(panchangaRequest.LangCode)"> {{ caption.MoonRise}}:</div>
            <div class="dx-field-label"> {{item.MoonRise}}
            </div>
        </div>

        <div class="dx-field ">
            <div class="dx-field-label" [ngClass]="getFont(panchangaRequest.LangCode)"> {{ caption.MoonSet}}:</div>
            <div class="dx-field-label"> {{item.MoonSet}}
            </div>
        </div>
        <div class="dx-field ">
            <div class="dx-field-label" [ngClass]="getFont(panchangaRequest.LangCode)"> {{ caption.Rahu}}:</div>
            <div class="dx-field-label"> {{item.Rahu}}
            </div>
        </div>
        <div class="dx-field ">
            <div class="dx-field-label" [ngClass]="getFont(panchangaRequest.LangCode)"> {{ caption.Gulika}}:</div>
            <div class="dx-field-label"> {{item.Gulika}}
            </div>
        </div>
        <div class="dx-field ">
            <div class="dx-field-label" [ngClass]="getFont(panchangaRequest.LangCode)"> {{ caption.Yama}}:</div>
            <div class="dx-field-label"> {{item.Yama}}
            </div>
        </div>

        <div class="dx-field " [ngClass]="getFont(panchangaRequest.LangCode)">
            <div class="dx-field-label"> {{caption.SouraMasa}}:</div>
            <div class="dx-field-label"> {{item.Masa}}
            </div>
        </div>

        <div class="dx-field " [ngClass]="getFont(panchangaRequest.LangCode)">
            <div class="dx-field-label"> {{ caption.Tithi}}:</div>
            <div class="dx-field-label"> {{item.Tithi}}
            </div>
        </div>

        <div class="dx-field " [ngClass]="getFont(panchangaRequest.LangCode)">
            <div class="dx-field-label"> {{ caption.Nak}}:</div>
            <div class="dx-field-label"> {{item.Nak}}
            </div>
        </div>
        <div class="dx-field " [ngClass]="getFont(panchangaRequest.LangCode)">
            <div class="dx-field-label"> {{ caption.Yoga}}:</div>
            <div class="dx-field-label"> {{item.Yoga}}
            </div>
        </div>
        <div class="dx-field " [ngClass]="getFont(panchangaRequest.LangCode)">
            <div class="dx-field-label"> {{ caption.NityaKarana}}:</div>
            <div class="dx-field-label"> {{item.Karana}}
            </div>
        </div>
        <div class="dx-field " [ngClass]="getFont(panchangaRequest.LangCode)">
            <div class="dx-field-label"> {{ caption.VishaGhati}}:</div>
            <div class="dx-field-label"> {{item.Visha}}
            </div>
        </div>
        <div class="dx-field " [ngClass]="getFont(panchangaRequest.LangCode)">
            <div class="dx-field-label"> {{ caption.AmrithaGhati}}:</div>
            <div class="dx-field-label"> {{item.Amritha}}
            </div>
        </div>

    </dxi-item>
</dx-tile-view>