<h2 class="content-block">Email Verification</h2>
<div class="dx-card content-block responsive-paddings">
<div class="centre">
        <i class="dx-icon-check dx-icon-custom-style"></i>
        <h4>Thank you</h4>
<p><b> Your Account Succesfully Verified. You Can set New Password Now</b></p>
</div>
</div>
<form *ngIf='passwordEntry' [formGroup]="passwordEntryForm">
        <div class="dx-field">
            <dx-text-box mode="password" formControlName="NewPassword" placeholder="New Password(4-8 Characters)" width="100%">
            </dx-text-box>
            <p style="color:red;" id='err_NewPassword'></p>
        </div>
        <div class="dx-field">
            <dx-text-box mode="password" formControlName="confirm_NewPassword" placeholder="ReEnter New Password" width="100%">
            </dx-text-box>
            <p style="color:red;" id='err_confirm_NewPassword'></p>
        </div>
        <div class="dx-field">
            <dx-button type="default" text="Save" (onClick)="OnSave_Click()"[disabled]="!passwordEntryForm.valid" width="100%"></dx-button>
        </div>
    </form>

    <dx-popup
    class="popup"
    [width]="250"
    [height]="150"
    [showTitle]="true"
    title="Thank you"
    [dragEnabled]="false"
    [closeOnOutsideClick]="true"
    [(visible)]="popupVisible">
    <div *dxTemplate="let data of 'content'">
        <p>
            <span *ngIf="PasswordUpdated">{{PasswordUpdated}}</span>
        </p>
    </div>
</dx-popup>