<h2 class="content-block">Order History</h2>
<div class="dx-card content-block responsive-paddings">
<div class="dx-fieldset">
    <div class="dx-fieldset-column">
        <div class="dx-field">
            <div class="dx-field-label">Field</div>
            <div class="dx-field-value">
                <dx-select-box (onValueChanged)="fielddataSelection($event)" [dataSource]="fielddata" displayExpr="Text"
                    valueExpr="Id" [value]="fieldvalue" [searchEnabled]="true">
                </dx-select-box>                    
            </div>
        </div>
    </div>
    <div class="dx-fieldset-column">
        <div class="dx-field">
            <div class="dx-field-label">Sort Order</div>
            <div class="dx-field-value">
                <dx-select-box (onValueChanged)="sortorderdataSelection($event)" [dataSource]="sortorderdata" displayExpr="Text"
                    valueExpr="Id" [value]="sortordervalue" [searchEnabled]="true">
                </dx-select-box>                    
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div id="accordion">
        <dx-accordion
            #accordion
            [dataSource]="services"
            [collapsible]="true"
            [multiple]="false"
            [animationDuration]="300"
            (onItemTitleClick)="onItemClick($event)">
            <div *dxTemplate="let company of 'title'">
                <div class="heading">{{company.ServiceName}}</div>
            </div>
            <div *dxTemplate="let service of 'item'">
                    <!-- <div class="dx-card responsive-paddings" *ngFor="let item of orderHistoryResponse | sortingOrders:path:order"> -->
                    <!-- <div class="dx-card responsive-paddings" *ngFor="let item of orderHistoryResponse | orderBy:'ItName'">     -->
                        <!-- <div class="dx-card responsive-paddings" *ngFor="let item of orderHistoryResponse | sortingOrders:['Amount', 'OrderId']">     -->
                            <div class="dx-card order-list" *ngFor="let item of orderHistoryResponse">  
                                <div class="dx-field" >
                            <div class="dx-fieldset-column-sub">{{item.ItName}}</div>
                            <div class="dx-fieldset-column-sub">
                                {{item.Amount|currency:'INR'}}
                            </div>
                            <div class="dx-fieldset-column-sub">Order Id : {{item.ExtCode}}</div>
                            <!-- <div class="dx-fieldset-column-sub">Order Id : {{item.OrderId}}</div> -->
                        <!-- </div> 
                        <div class="dx-field" > -->
                            
                            <div class="dx-fieldset-column-sub">
                                {{item.Date|  date:'dd/MM/yyyy'}}
                            </div>
                            <div class="dx-fieldset-column-sub">{{item.Hint}}</div>


                            <div class="dx-fieldset-column-button" *ngIf="(item.StatusCode)=='AP'">
                                    <div class="dx-field" >
                               

                                    <dx-button class="buttonClass1" text="Proceed to Delivery" type="success" (onClick)="onstatus_Click(item)"></dx-button>
                                   <span>&nbsp;&nbsp;&nbsp;</span>
                                   
                                    <dx-button text="Delete" type="danger" (onClick)="ondelete_Click(item)"></dx-button>

                              
                              </div>
                            </div>
                            <div class="dx-fieldset-column-button" *ngIf="(item.StatusCode)=='BP'||(item.StatusCode)=='PP'">
                                <div class="dx-field">

                                    <dx-button class="buttonClass1" text="Proceed to Payment" type="success" (onClick)="onstatus_Click(item)"></dx-button>
                                    <span>&nbsp;&nbsp;&nbsp;</span>
                                   
                                    <dx-button text="Delete" type="danger" (onClick)="ondelete_Click(item)"></dx-button>
                                </div>
                            </div>
                            <div class="dx-fieldset-column-button" *ngIf="(item.StatusCode)=='RD'&&(item.ItName)!='Wallet'">
                                <div class="dx-field">

                                    <dx-button class="buttonClass1" text="Download" type="success" (onClick)="onstatus_Click(item)"></dx-button>
                                    
                                </div>
                            </div>
                        </div>
                        
                            
                          
                        </div>
                
            </div>
        </dx-accordion>

        <dx-popup
        class="popup"
        [width]="350"
        [height]="200"
        [showTitle]="true"
        title="Alert"
        [dragEnabled]="false"
        [closeOnOutsideClick]="true"
        [(visible)]="deleteConfirmPopUp">
        <div *dxTemplate="let data of 'content'">
            <p>
                <span>Are you Sure to delete this record?</span>
            </p>
            <dx-button text='Yes' (onClick)="OnYes_click()"></dx-button>
            <dx-button text='No' (onClick)="OnNo_click()"></dx-button>
        </div>
    </dx-popup>
        </div>