.dx-fieldset-column {
    float: left;
    width: 45%;
    margin-right: 40px;
    margin-top: 24px !important;
    margin-bottom: 20px;
    }

    .order-list{
        margin-bottom: 10px;
    }

    .data {
        float: left;
        width: 40%;
        text-align: left;
    }
    
    .cap {
        float: left; //margin-right: 12%;
        width: 40%;
        text-align: left;
    }

    @media (max-width: 800px) {
    .dx-fieldset-column{
        float: left;
        width: 100%;
        margin-right: 40px;
        margin-top: 24px !important;
        margin-bottom: 20px;
    }
}