<h2 class="content-block">Order History</h2>
<div class="dx-card content-block responsive-paddings">

<div id="accordion">
        <dx-accordion
            #accordion
            [dataSource]="companies"
            [collapsible]="true"
            [multiple]="false"
            [animationDuration]="300"
            (onInitialized)="onInitialized($event)"
            (onItemClick)="onItemClick($event)"
            [selectedItems]="[companies[0]]">
            <div *dxTemplate="let company of 'title'">
                <h1>{{company.CompanyName}}</h1>
            </div>
            <div *dxTemplate="let company of 'item'">
                    <div class="dx-fieldset-column">
                        <div class="dx-field">
                            <div class="dx-field-label">Field</div>
                            <div class="dx-field-value">
                                <dx-select-box (onValueChanged)="fielddataSelection($event)" [dataSource]="fielddata" displayExpr="Text"
                                    valueExpr="Id" [value]="fieldvalue">
                                </dx-select-box>                    
                            </div>
                        </div>
                    </div>
                    <div class="dx-fieldset-column">
                        <div class="dx-field">
                            <div class="dx-field-label">Sort Order</div>
                            <div class="dx-field-value">
                                <dx-select-box (onValueChanged)="sortorderdataSelection($event)" [dataSource]="sortorderdata" displayExpr="Text"
                                    valueExpr="Id" [value]="sortordervalue">
                                </dx-select-box>                    
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="dx-card responsive-paddings" *ngFor="let item of orderHistoryResponse">
                            <div class="dx-field-label">{{item.ItName}}</div>
                            <div class="dx-field-value" *ngIf="(item.Amount)>0">
                                {{item.Amount}}
                            </div>
                            <div class="dx-field-label">{{item.OrderId}}</div>
                            <div class="dx-field-value">
                                {{item.Date|  date:'dd/MM/yyyy'}}
                            </div>
                            <div class="dx-field-label">{{item.Hint}}</div>
                            <div class="dx-field-value" *ngIf="(item.StatusCode)=='AP'">
                                <div class="dx-field">

                                    <dx-button class="buttonClass1" text="Proceed to Delivery Address" type="submit" (onClick)="onstatus_Click(item)"></dx-button>
                                    
                                </div>
                            </div>
                            <div class="dx-field-value" *ngIf="(item.StatusCode)=='BP'||(item.StatusCode)=='PP'">
                                <div class="dx-field">

                                    <dx-button class="buttonClass1" text="Proceed to Payment" type="submit" (onClick)="onstatus_Click(item)"></dx-button>
                                    
                                </div>
                            </div>
                            <div class="dx-field-value" *ngIf="(item.StatusCode)=='RD'">
                                <div class="dx-field">

                                    <dx-button class="buttonClass1" text="Download" type="submit" (onClick)="onstatus_Click(item)"></dx-button>
                                    
                                </div>
                            </div>
                        </div>
                <!-- <div>
                    <p>
                        <b>{{company.City}}</b>
                        (<span>{{company.State}}</span>)
                    </p>
                    <p>
                        <span>{{company.Zipcode}}</span>
                        <span>{{company.Address}}</span>
                    </p>
                </div>
                <div>
                    <p>
                        Phone: <b>{{company.Phone}}</b>
                    </p>
                    <p>
                        Fax: <b>{{company.ItActId}}</b>
                    </p>
                    <p>
                        Website:
                        <a href="{{company.Website}}" target="_blank">
                            {{company.Website}}
                        </a>
                    </p>
                </div> -->
            </div>
        </dx-accordion>
        </div>