<h2 class="content-block">Offline Payment Details</h2>
<div class="dx-card content-block responsive-paddings">


        <table>
                <tbody>
                <tr>
                <td><strong>Account Name </strong></td>
                <td><strong>:Astrolite</strong></td>
                </tr>
                <tr>
                <td><strong>Bank Name  </strong></td>
                <td><strong>: State Bank Of India</strong></td>
                </tr>
                <tr>
                <td><strong>Branch </strong></td>
                <td><strong>:Kumble</strong></td>
                </tr>
                <tr>
                <td><strong>IFSC Code</strong></td>
                <td><strong>:SBIN0014575</strong></td>
                </tr>
                <tr>
                <td><strong>Acccount No </strong></td>
                <td><strong>:37688586418</strong></td>
                </tr>
                </tbody>
                </table>
<br>
    After depositing the money call 08848887287 with your RTGS/NEFT Details and you will get the product/Updated wallet Balance after Payment Completion
</div>
