.hero-unit {
    background: rgba(250, 246, 227, 1);
    background: -moz-linear-gradient(left, rgba(250, 246, 227, 1) 0%, rgba(250, 244, 182, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(250, 246, 227, 1)), color-stop(100%, rgba(250, 244, 182, 1)));
    background: -webkit-linear-gradient(left, rgba(250, 246, 227, 1) 0%, rgba(250, 244, 182, 1) 100%);
    background: -o-linear-gradient(left, rgba(250, 246, 227, 1) 0%, rgba(250, 244, 182, 1) 100%);
    background: -ms-linear-gradient(left, rgba(250, 246, 227, 1) 0%, rgba(250, 244, 182, 1) 100%);
    background: linear-gradient(to right, rgba(250, 246, 227, 1) 0%, rgba(250, 244, 182, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faf6e3', endColorstr='#faf4b6', GradientType=1);
    background-size: cover, 100%;
   // height: 350px;
}

.slider {
    font-size: 40px;
    line-height: normal;
    letter-spacing: -.03em;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-top: 100px;
    color: #D05B19;
    text-align: center;
    font-weight: 400;
}

.main-slider{
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 50px;
    padding-bottom: 50px;

}
.product-list{

    margin-bottom: 20px;
    padding: 10px;
}
.service-image{
    float: left;
    border: 1px solid #e2c232;
    border-radius: 5px;
    margin-right: 15px;
    width:20%
}

// .product-image{

//     width: 19%;
//     float: left;
// }
.discription{
    width:78%;
    float: right;
}
#button {
    text-align: center;
    display: inline-block;
    
  }

  @media (max-width: 800px) {
  .main-slider {
    padding: 50px 20px;
}
.service-image{
    width: 200px;
    float: none;
   // border: 1px solid #e2c232;
  //  border-radius: 5px;
    margin-right: 15px;
    margin-left: 10%;
}
.discription{
    width:95%;
    float: none;
}
#button {

margin-left: 25%;
margin-right: 50%;
}
  }