
    <div class="hero-unit">
        <div class="main-slider">
      <div class="dx-card product-list">
        <div class="product-image">
          <img src="assets/images/gold.png" class="service-image">
         
        </div>


          <div class="discription">
              <h3>Astrolite Gold ( Android )</h3>
        <p>Horoscope</p>
        <p>Matchmaking</p>
        <p>Panchanga (Free)</p>
        <dx-button id="button" (onClick)='OnAstroLiteProducts_Click("Gold")' text="Explore More" type="success" [useSubmitBehavior]="true"></dx-button>
      </div>
      
      
        
      </div>

      <div class="dx-card product-list">
          <div class="product-image">
            <img src="assets/images/astrolite-silver.png" class="service-image">
           
          </div>
  
  
            <div class="discription">
                <h3>Astrolite Silver ( Android )</h3>
          <p>Horoscope</p>
          <p>Matchmaking</p>
          <p>Panchanga (Free)</p>
          <dx-button id="button" (onClick)='OnAstroLiteProducts_Click("Silver")' text="Explore More" type="success" [useSubmitBehavior]="true"></dx-button>
        </div>
       
        
          
        </div>

        <div class="dx-card product-list">
            <div class="product-image">
              <img src="assets/images/pro.png" class="service-image">
              
            </div>
    
    
              <div class="discription">
                  <h3>Astrolite Professional (Win7/8/10) LifeTime</h3>
            <div class="product-disc"><p>Horoscope (With prediction and remedies)</p>
            <p>Astamangala Calculation</p>
            <p>Matchmaking</p>
            <p>Muhurta (Over than 18 subjects)</p>
            <p>Numerology</p>
            <p>Horoview</p>
          </div>
          <div class="product-disc">
            <p>Prathamartava GunaDosha (Free)</p>
            <p>Kalidrushti Etc (Free)</p>
            <p>Shradda and Masika Finder (Free)</p>
            <p>Baby naming (Free)</p>
            <p>Panchanga (Free)</p>
          </div>
          <div class="clear"></div>
            <dx-button id="button" (onClick)='OnAstroLiteProducts_Click("Professional")' text="Explore More" type="success" [useSubmitBehavior]="true"></dx-button>
          </div>
         
          
            
          </div>

          <div class="dx-card product-list">
              <div class="product-image">
                <img src="assets/images/pro.png" class="service-image">
                
              </div>
      
      
                <div class="discription">
                <h3>Astrolite Professional ( Win7/8/10 )( one to five year Subscription)</h3>
                <div class="product-disc">
                <p>Horoscope (With prediction and remedies)</p>
                <p>Astamangala Calculation</p>
                <p>Matchmaking</p>
                <p>Muhurta (Over than 18 subjects)</p>
                <p>Numerology</p>
                <p>Horoview</p>
              </div>
              <div class="product-disc">
                <p>Prathamartava GunaDosha (Free)</p>
                <p>Kalidrushti Etc (Free)</p>
                <p>Shradda and Masika Finder (Free)</p>
                <p>Baby naming (Free)</p>
                <p>Panchanga (Free)</p>
              </div>
              <div class="clear"></div>
              <dx-button id="button" (onClick)='OnAstroLiteProducts_Click("ProfessionalYearlySubscription")' text="Explore More" type="success" [useSubmitBehavior]="true"></dx-button>
            </div>
          
            
              
            </div>
      </div>

   
     