<h2 class="content-block">Admin Panel</h2>
<div class="content-block">
    <div class="dx-card responsive-paddings" (click)='OnBasePrice_Click()'>
<h3>Base Price</h3>
<img src="assets/images/Astamangala.png">
    </div>
    <div class="dx-card responsive-paddings" id="link1" (click)='OnPriceList_Click()'>
            <h3>Price List</h3>
  <img src="assets/images/Horoscope.png">
        </div>
        <div class="dx-card responsive-paddings">
                <h3>Melameli Configuration</h3>
  <img src="assets/images/MelaMeli.png">
    </div>

</div>

