<h2 class="content-block">Admin Panel</h2>
<div class="content-block">
  <div
    class="dx-card responsive-paddings service-list"
    (click)="OnBasePrice_Click()"
  >
    <h3>Base Price</h3>
  </div>
  <div
    class="dx-card responsive-paddings service-list"
    id="link1"
    (click)="OnPriceList_Click()"
  >
    <h3>Price List</h3>
  </div>
  <div
    class="dx-card responsive-paddings service-list"
    (click)="OnAssignPriceList_Click()"
  >
    <h3>Assign Price List</h3>
  </div>
  <div
    class="dx-card responsive-paddings service-list"
    (click)="OnWelcomeOffer_Click()"
  >
    <h3>Welcome Offer</h3>
  </div>

  <div
    class="dx-card responsive-paddings service-list"
    (click)="OnPromoCodes_Click()"
  >
    <h3>Promo Codes</h3>
  </div>
</div>


<div class="list-container">
  <dx-list 
      #list
      [dataSource]="adminMenu"
      (onItemClick)="onItemClick($event)"
      [height]="400">
          <div *dxTemplate="let data of 'item'">
              <div>{{data.Name}}</div>
          </div>
  </dx-list>
</div>
