.class-1 {
    background-color: #f7d430;
    border: 1px solid lightgrey;
    padding: 15px;
    margin: 5px 0;
    border-radius: 6px;
}

.class-2{
    background-color:#ddd;
    border: 1px solid lightgrey; 
    padding: 15px; 
    margin: 5px 9px;
}

.dx-field-column {
    width: 22%;
    float: left;
    margin-left: 19%;

}
.existing-add {
    display: flex;
    /* width: 72%; */
    /* float: left; */
}
.dx-button-has-text .dx-button-content {
  
    width: 150px !important;
}
.close-button {
    float: right;
}
.delivery-add{
width: 50%;
}
@media (max-width: 800px) {
    .existing-add {
        display: block;
    }

    .dx-field-column {
        width: 100%;
        float: left;
       // margin-left: 20px;
    }

    .delivery-add{
        width: 88%;
        }

        ::ng-deep #button {
            width: 150px;
            margin-left: 10%;
        }
}

