.class-1{
    background-color:goldenrod;
    border: 1px solid lightgrey; 
    padding: 15px; 
    margin: 5px 0;
}

.class-2{
    background-color:#ddd;
    border: 1px solid lightgrey; 
    padding: 15px; 
    margin: 5px 0;
}