<h2 class="content-block">Wallet</h2>
<div class="two-column">
<div class="dx-card content-block responsive-paddings">

        <form >
                <div class="dx-field">
                <div class="dx-field-label">Amount</div>
                <div class="dx-field-value">
                    <dx-text-box   placeholder="Enter Amount" width="100%">

                    </dx-text-box>
                </div>
                
                </div>

                <div class="dx-field-label2">Bonus Amount:  </div>

                <br>
                <div class="dx-field">
                        <div class="dx-field-label">Payment Mode</div>
                        <div class="dx-field-value">
                            <dx-select-box ></dx-select-box>
                        </div>
                    </div>
                    
                
                <div class="dx-field">
                    <dx-button type="default" text="Add Money" (onClick)="addMoney_Click()" width="100%"></dx-button>
                </div>
               
            </form>


</div>
<div class="dx-card content-block responsive-paddings">
    <div class="centre">
        <i class="dx-icon-check dx-icon-custom-style"></i>
        <h4>50.00 Rs</h4>
<p><b>  Succesfully added to the wallet</b></p>

<p><b>  Updated Wallet Balance is :</b></p>
</div>
</div>
</div>