<h2 class="content-block">Muhurtha</h2>
<div class="dx-card content-block responsive-paddings">
        <aw-wizard #wizard [navBarLayout]="'large-empty-symbols'">
            <aw-wizard-step [stepTitle]="'Muhurtha'" [navigationSymbol]="{ symbol: '&#xf252;', fontFamily: 'FontAwesome' }">
                <div class="centered-content">
                      <form action="your-action" [formGroup]="muhurthaaForm">
                          <div class="dx-fieldset">
                                  <div class="dx-fieldset-column">
                                          <div class="dx-field">
                                              <div class="dx-field-label">Muhurthas*</div>
                                              <div class="dx-field-value">
                                                  <dx-select-box [dataSource]="muhurthasdata" (onValueChanged)="muhurthasdataSelection($event)"
                                                      displayExpr="Name" valueExpr="Id" [value]="muhurthasvalue" [searchEnabled]="true">
                                                  </dx-select-box>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="dx-fieldset-column">
                                          <div class="dx-field">
                                              <div class="dx-field-label">Place*</div>
                                              <div class="dx-field-value">
                                                  <dx-text-box id="txtHome" valueChangeEvent="keyup" formControlName="birthPlace" showClearButton="true" [(ngModel)]="muhurthaRequest.Place"></dx-text-box>
                                                  <p style="color:red" id='err_birthPlace'></p>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="clear"></div>
                                      <div class="dx-fieldset-column" *ngIf="vivahaSelected">
                                              <div class="dx-field">
                                  <div class="dx-field-label">Vivaha Muhurtha</div>
                                  <div class="dx-field-value">
                                          <div >
                                                  <dx-check-box
                                                      id="check"
                                                      (onValueChanged)="GodhuliCheckBoxValueChanged($event)"
                                                      text="Godhuli Required">
                                                  </dx-check-box>
                                              </div>
                                          
                                              <div class="vivaha-lagna">
                                                  <dx-check-box
                                                      id="check"
                                                      (onValueChanged)="AbhijinCheckBoxValueChanged($event)"
                                                      text="Abhijin Required">
                                                  </dx-check-box>
                                              </div>
                                  </div>
                                              </div>
                                      </div>
                                      <div class="dx-fieldset-column" *ngIf="upanayanaSelected">
                                              <div class="dx-field">
                                                      <div class="dx-field-label">Date of Birth*</div>
                                                      <div class="dx-field-value">
                                                          <dx-date-box formControlName="Date" type="date" displayFormat="dd/MM/yyyy"  [(ngModel)]="birthDateinDateFormat" dateSerializationFormat="yyyy-MM-dd" [useMaskBehavior]="true">
                                                          </dx-date-box>
                                                          <span style="color:red" id='err_Date'></span>
                                                          </div>
                                                  </div>
                                      </div>
                                      <div class="dx-fieldset-column" *ngIf="yathraSelected">
                                              <div class="dx-field">
                                                      <div class="dx-field-label">Yathra Direction*</div>
                                                      <div class="dx-field-value">
                                                          <dx-select-box (onValueChanged)="yathradirectionSelection($event)" [dataSource]="yathradirectionsdata"
                                                              displayExpr="Text" valueExpr="Id" [value]="yathradirectionsvalue" [searchEnabled]="true">
                                                          </dx-select-box>
                                                          <span style="color:red" id='err_Date'></span>
                                                      </div>
                                                  </div>
                                      </div>
                                      <div class="dx-fieldset-column"  >
                                          <div class="dx-field">
                                              <div class="dx-field-label vivaha-lagna">Report Size*</div>
                                              <div class="dx-field-value">
                                                <dx-select-box 
                                                (onValueChanged)="reportSizedataSelection($event)"
                                                    [dataSource]="reportSizedata"
                                                    displayExpr="Text"
                                                    valueExpr="Id"
                                                    [searchEnabled]="true"
                                                    [value]="reportSizevalue">
                                                </dx-select-box>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="clear"></div>
                              <div class="dx-fieldset-column">
                                  <div class="dx-field">
                                      <div class="dx-field-label">Time Format*</div>
                                      <div class="dx-field-value">
                                          <dx-select-box (onValueChanged)="timeformatdataSelection($event)" [dataSource]="timeformatdata"
                                              displayExpr="Text" valueExpr="Id" [value]="timeformatvalue" [searchEnabled]="true">
                                          </dx-select-box>
                                      </div>
                                  </div>
                              </div>
                              <div class="dx-fieldset-column">
                                      <div class="dx-field">
                                          <div class="dx-field-label">Language*</div>
                                          <div class="dx-field-value">
                                            <dx-select-box
                                            [dataSource]="languagedata"
                                            (onValueChanged)="languagedataSelection($event)"
                                            displayExpr="Text"
                                            valueExpr="Id"
                                            [searchEnabled]="true"
                                            [value]="languagevalue" >
                                        </dx-select-box>
                                          </div>
                                      </div>
                                  </div>
                              <div class="clear"></div>
                          </div>

                          <div class="dx-fieldset">
                              <dx-validation-summary id="summary"></dx-validation-summary>
                              <div class="dx-field ">
                              <dx-button [disabled]="!muhurthaaForm.valid" text="Continue" type="success"
                                  [useSubmitBehavior]="true" awNextStep>
                              </dx-button>
                              </div>
                          </div>
                      </form>
                </div>
              </aw-wizard-step>
                <aw-wizard-step (stepEnter)="OnEnterStepToRashiNakshatra($event)" [stepTitle]="'Rashi/Nakshatra'" [navigationSymbol]="{ symbol: '&#xf005;', fontFamily: 'FontAwesome' }">
                  <div class="centered-content">
                        <div id="data-grid-demo" #muhurtha>
                                <dx-data-grid
                                    id="gridContainer"
                                    [dataSource]="dataSource"
                                    (onRowRemoving)="onRowRemoving($event)"
                                    (onToolbarPreparing)="onToolbarPreparing($event)"
                                    [showBorders]="true">
                                    <dxo-selection mode="single"></dxo-selection>
                                    <dxo-paging [enabled]="false"></dxo-paging>
                                    <dxo-editing
                                        mode="batch"
                                        [allowUpdating]="true"
                                        [allowDeleting]="true">
                                    </dxo-editing>
                                    <dxi-column *ngIf="vivahaSelected" [allowEditing]="false" dataField="OfWhome" caption=""></dxi-column>
                                    <dxi-column *ngIf="upanayanaSelected" [allowEditing]="false" dataField="OfWhome" caption=""></dxi-column>
                                    <!-- <dxi-column *ngIf="semanthaSelected" [allowEditing]="false" dataField="OfWhome" caption=""></dxi-column> -->
                                    <dxi-column *ngIf="semanthaSelected||annaPrashanaSelected||houseWarmingSelected||devaPrathistaSelected" [allowEditing]="false" dataField="OfWhome" caption=""></dxi-column>
                                    <!-- <dxi-column *ngIf="houseWarmingSelected" [allowEditing]="false" dataField="OfWhome" caption=""></dxi-column> -->
                                    <dxi-column  class="grid-column2" dataField="Nakshatra" placeholder="Enter Gothra here..." [setCellValue]="setStarValue">
                                        <dxo-lookup
                                        [dataSource]="stars"
                                        displayExpr="Text"
                                        valueExpr="Id">
                                    </dxo-lookup>
                                    </dxi-column>
                                        <dxi-column class="grid-column2" dataField="Rashi" [setCellValue]="setRashiValue">
                                    <dxo-lookup
                                            [dataSource]="getFilteredRashis"
                                            displayExpr="Text"
                                            valueExpr="Id">
                                        </dxo-lookup>
                                    </dxi-column>
                                </dx-data-grid>
                            </div>
                            <a (click)="OnAddNew()">Add New Row</a>
                    <div class="dx-fieldset">
                            <dx-button text="Back" type="success" [useSubmitBehavior]="true" awPreviousStep>
                            </dx-button>
                            <dx-button text="Continue" type="success" [useSubmitBehavior]="true" awNextStep>
                            </dx-button>
                            </div>
                  </div>
                </aw-wizard-step>
                <aw-wizard-step (stepEnter)="OnEnterStepToDateRange($event)" (stepExit)="OnExitStepFromDateRange($event)" [stepTitle]="'Date Range'" [navigationSymbol]="{ symbol: '&#xf073;', fontFamily: 'FontAwesome' }">
                  <div class="centered-content">
                        <form [formGroup]="dateRangeForm">
                        <div class="dx-fieldset">
                        <div class="dx-fieldset-column">
                                <div class="dx-field">
                                    <div class="dx-field-label">From Date*</div>
                                    <div class="dx-field-value">
                                        <dx-date-box valueChangeEvent="keyup" formControlName="FromDate" [(ngModel)]="fromdateinDateFormat" [(min)]="dateinDateFormat" type="date" 
                                        displayFormat="dd/MM/yyyy" [useMaskBehavior]="true" (onValueChanged)='setToDateinDateFormat()'>
                                        </dx-date-box>
                                        </div>
                                </div>
                                </div>
                                <div class="dx-fieldset-column">
                                    <div class="dx-field">
                                        <div class="dx-field-label">To Date*</div>
                                        <div class="dx-field-value">
                                            <dx-date-box #todate id='tod' valueChangeEvent="keyup" formControlName="ToDate" [(ngModel)]="todateinDateFormat" [(min)]="dateinDateFormat" 
                                            [max]="maxdateinDateFormat" type="date" displayFormat="dd/MM/yyyy" [useMaskBehavior]="true">
                                            </dx-date-box>
                                            <span style="color:red" id='err_ToDate'></span>
                                        </div>
                                    </div>
                                    </div>
                            <div class="clear"></div>
                            <div class="dx-fieldset-column">
                                <div class="dx-field">
                    <!-- <div class="dx-field-label">Vivaha Muhurtha</div>
                    <div class="dx-field-value"> -->
                        <div class="dx-field-value">
                            <div>
                            <dx-check-box id="check" (onValueChanged)="EndTimeCheckBoxValueChanged($event)" text="Muhurtha end time required">
                            </dx-check-box>
                        </div>
                        <p style="color: red" id="err_RashiNakshatras[0].Rashi"></p>
                            <p style="color: red" id="err_RashiNakshatras[0].Nakshatra"></p>
                        </div>
                    
                    <!-- </div> -->
                    </div>
                        </div>
                        <div class="clear"></div>
                        </div>
                        </form>
                   
                    <div class="dx-fieldset">
                            <dx-button text="Back" type="success" [useSubmitBehavior]="true" awPreviousStep>
                            </dx-button>
                            <dx-button text="Submit" (onClick)='OnSubmit_click()' type="success" [useSubmitBehavior]="true">
                            </dx-button>
                            </div>
                  </div>
                </aw-wizard-step>
              </aw-wizard>
</div>
