<div class="dx-card content-block responsive-paddings">
  <p>&nbsp; &nbsp; Vedic Astrology has been a boon to mankind since ages, having been propagated by renowned astrologers all over the world. Strikingly, Kerala, a state in India is known to have contributed immensely to the field of Vedic Astrology.</p>

<p>&nbsp; &nbsp; Our services in astrology owe gratitude towards my reverent father Late Shri M Shankara Narayana Bhat, who had been an astrologer, a scholar par excellence and popularly known as&rdquo; Kidoor Joisaru&rdquo;.</p>

<p>&nbsp;Kidoor is actually a small village in Kasaragod district in the state of Kerala, India. It has its iconic significance due to the blessings of Almighty Shiva being worshipped as Mahadeva in the form of &lsquo;Swayambhu Linga&rsquo; or &lsquo;Udhbhava Linga&rsquo;, the deity at Shri Mahadeva Temple, Kidoor, which in turn we believe to be, our guiding force.</p>

<p>
	<br>
</p>

<p>Mahadeva&rsquo;s Astrolite, a software venture in the field of astrology is our brainchild. Its uniqueness owes gratification to the ever-inspiring almighty Shiva or Mahadeva. Initially, it was launched in the year 2000, in the month of April by His Holiness Shri Shri Shri Raghaveshwara Swamiji, Shri Ramachandrapura Mutt, Hosanagara with his blessings as a product of the effort of many laureates in the field of Astrology. This software is also indebted to Automation Info Solutions Pvt Ltd, a Software Developer firm, for its technical acumen, making it conducive and hassle-free for any user, be it a professional astrologer, a student of astrology or a common man, who can have an access to Horoscope, Matchmaking, Ashtamangala Calculations etc for their convenience at a click. &nbsp;</p>

<p>We are traditional to the core but with a tinge of modernity bringing you the world of astrology in a user-friendly way. So, explore to have a hassle-free experience. &nbsp;</p>

<p>M Chandrashekhara Bhat</p>

<p>Astrologer</p>

<p>Proprietor</p>

<p>Mahadeva&rsquo;s Astrolite</p>
  
</div>