<h2 class="content-block">Settings</h2>
<div class="content-block">
    <div class="dx-card responsive-paddings service-list" (click)='OnOrderHistory_Click()'>
<h3>Order History</h3>

    </div>
    <div class="dx-card responsive-paddings service-list" (click)='OnGeneralConfig_Click()'>
            <h3>General Configuration</h3>
 
        </div>

<div class="dx-card responsive-paddings service-list" (click)='OnMuhurthaConfig_Click()'>
        <h3>Muhurtha Configuration</h3>

  </div>

  <div class="dx-card responsive-paddings service-list" (click)='OnChangePassword_Click()'>
        <h3>Change Password</h3>

  </div>
</div>

