

.dx-card.responsive-paddings{
  padding: 40px;
  width: 50% !important;
  float: left !important;
  margin-left: 20px !important;
  margin-top: 10px;
}

// img{
//   width: 100px;;
// }
::ng-deep.dx-list-item:last-of-type {
  border-bottom: 1px solid #ddd !important;
}

.responsive{
width: 100%;
height: auto;

}

.service-list{
  cursor: pointer;
  
}
@media (max-width: 800px) {
  .dx-fieldset-column {
  float: left;
  width: 100%;
  
  }

  .dx-card.responsive-paddings{
    padding: 40px;
    width: 46% !important;
    float: left !important;
    margin-left: 10px !important;
    margin-top: 10px;

  }
  h3{
font-size: 12px;

  }
}