<h2 class="content-block">Settings</h2>
<div class="content-block">
    <div class="dx-card responsive-paddings" (click)='OnOrderHistory_Click()'>
<h3>Order History</h3>

    </div>
    <div class="dx-card responsive-paddings" id="link1" (mouseenter)="toggleDefault()" (mouseleave)="toggleDefault()" (click)='OnHoroScope_Click()'>
            <h3>Horoscope Configuration</h3>
 
        </div>

<div class="dx-card responsive-paddings">
        <h3>Muhurtha Configuration</h3>

  </div>

  <div class="dx-card responsive-paddings" (click)='OnChangePassword_Click()'>
        <h3>Change Password</h3>

  </div>
</div>

