<h2 class="content-block">General Configuration </h2>

<div class="dx-card content-block responsive-paddings">
  <!-- <form formGroup="partyGeneralConfig.configform"> -->
  <form [formGroup]="configform">
    <div class="dx-card ">
      <div id="accordion">
        <dx-accordion #accordion [dataSource]="configerationService.accordian"[collapsible]="true"  [multiple]="false" [animationDuration]="300">
          <div *dxTemplate="let accordian of 'title'">
            
            <div class="cap">{{ accordian.name }}</div>
          </div>
          <div *dxTemplate="let accordian of 'item'">
            
                <div class="data" *ngIf="accordian.name == 'Dasha Calculation Type'">
                  <dx-radio-group  [items]="configerationService.dashatype" [(value)]="partyGeneralConfig.Config.YearValue"valueExpr="id" displayExpr="name">
                  </dx-radio-group>
                </div>
              
          


            <div   *ngIf="accordian.name == 'Dasha Start'">
              <div class="dx-fieldset-column">
                  <dx-radio-group
                    [items]="configerationService.dashastart"
                    [(value)]="partyGeneralConfig.Config.DashaStartType"
                    valueExpr="id"
                    (onValueChanged)="OndashastartChanged($event)"
                    displayExpr="name">
                  </dx-radio-group>
               
              
              </div>
              <div class="clear"></div>
              <div class="dx-fieldset-column">
              <div class="dx-field">
                <div class="dx-field-label">From Age</div>
                <div class="dx-field-value">
                  <dx-number-box
                    #numberBox
                    [max]="100"
                    [min]="0"
                    [width]='150'
                    [disabled]='fromAgeDisabled'
                    formControlName="DashaStartFromAge"
                    [showSpinButtons]="true"
                    [(ngModel)]="partyGeneralConfig.Config.DashaStartValue"
                  ></dx-number-box>
                  <span
                    style="color:red;font-size: 14px;"
                    id="err_DashaStartFromAge"
                  ></span>
                </div>
              </div>
              </div>
              <div class="dx-fieldset-column">
              <div class="dx-field">
                <div class="dx-field-label">To Age</div>
                <div class="dx-field-value">
                  <dx-number-box
                    #numberBox
                    [width]='150'
                    formControlName="DashaStarttoAge"
                    [showSpinButtons]="true"
                    [(ngModel)]="partyGeneralConfig.Config.DashaEndValue"
                  ></dx-number-box>
                  <span  style="color:red;font-size: 14px;"
                    id="err_DashaStarttoAge"
                  ></span>
                </div>
              </div>
              </div>
             

            </div>
            <div *ngIf="accordian.name == 'Dasha Prediction'">
                
                <div class="dx-fieldset-column">
              <div class="dx-field">
                <div class="dx-field-label">From Age</div>
                <div class="dx-field-value">
                  <dx-number-box
                    #numberBox
                    [width]='150'
                    valueChangeEvent="keyup" (keyup)="onDashaPredictionFromAge($event.target.value)"  
                    [disabled]='fromAgeDisabled'
                    formControlName="DashapredictfromAge"
                    [showSpinButtons]="true"
                    [(ngModel)]="partyGeneralConfig.Config.PredStDt"
                  ></dx-number-box>
                  <!-- <dx-number-box
                    #numberBox
                    [width]='150'
                    [max]="partyGeneralConfig.Config.DashaStartValue"
                    [min]="0"
                    valueChangeEvent="keyup" (keyup)="onDashaPredictionFromAge($event.target.value)"  
                    [disabled]='fromAgeDisabled'
                    formControlName="DashapredictfromAge"
                    [showSpinButtons]="true"
                    [(ngModel)]="partyGeneralConfig.Config.PredStDt"
                  ></dx-number-box> -->
                  <span
                    style="color:red;font-size: 14px;"
                    id="err_DashapredictfromAge"
                  ></span>
                </div>
              </div>
                </div>
                <div class="dx-fieldset-column">
              <div class="dx-field">
                <div class="dx-field-label">To Age</div>
                <div class="dx-field-value">
                  <dx-number-box
                    #numberBox
                    [width]='150'
                    formControlName="DashapredicttoAge"
                    [showSpinButtons]="true"
                    [(ngModel)]="partyGeneralConfig.Config.PredEndDt"
                  ></dx-number-box>
                  <span
                    style="color:red;font-size: 14px;"
                    id="err_DashapredicttoAge"
                  ></span>
                </div>
              </div>
                </div>
             
            </div>
            <div  *ngIf="accordian.name == 'Ayanamsha'"  >
              <div class="dx-field">
                <div class="cap">
                  <dx-radio-group
                    [items]="configerationService.ayanamsha"
                    [(value)]="partyGeneralConfig.Config.AyanaType"
                    valueExpr="id"
                    displayExpr="name"
                    (onValueChanged)="ayanaValueChanged($event)">
                  </dx-radio-group>
                </div>
              </div>
              <div class="dx-field" *ngIf="isvisibleayana">
                <div class="dx-field-label">Degree</div>
                <div class="dx-field-label">
                  <dx-number-box
                    #numberBox
                    [(ngModel)]="partyGeneralConfig.Config.AyanaDeg"
                    formControlName="AyanaDeg"
                  ></dx-number-box>
                  <p style="color:red;font-size: 14px;" id="err_AyanaDeg"></p>
                </div>
              </div>

              <div class="dx-field" *ngIf="isvisibleayana">
                <div class="dx-field-label">Minute</div>
                <div class="dx-field-label">
                  <dx-number-box
                    #numberBox
                    [(ngModel)]="partyGeneralConfig.Config.AyanaMt"
                    formControlName="AyanaMt"
                  ></dx-number-box>
                  <p style="color:red;font-size: 14px;" id="err_AyanaMt"></p>
                </div>
              </div>

              <div class="dx-field" *ngIf="isvisibleayana">
                <div class="dx-field-label">second</div>
                <div class="dx-field-label">
                  <dx-number-box
                    #numberBox
                    [(ngModel)]="partyGeneralConfig.Config.AyanaSec"
                    formControlName="AyanaSec"
                  ></dx-number-box>
                  <p style="color:red;font-size: 14px;" id="err_AyanaSec"></p>
                </div>
              </div>
            </div>
            <div  *ngIf="accordian.name == 'Astaka Varga Type'"  >
              <div class="dx-field">
                <div class="cap">
                  <dx-radio-group
                    [items]="configerationService.astakavarga"
                    [(value)]="partyGeneralConfig.Config.AVType"
                    valueExpr="id"
                    displayExpr="name"
                  >
                  </dx-radio-group>
                </div>
              </div>
            </div>
            <div  *ngIf="accordian.name == 'Bhava Phal'" >
              <div class="dx-field">
                <div class="cap">
                  <dx-radio-group
                    [items]="configerationService.Bahvaphala"
                    [(value)]="partyGeneralConfig.Config.BhavaPhal"
                    valueExpr="id"
                    displayExpr="name"
                  >
                  </dx-radio-group>
                </div>
              </div>
            </div>
            <div  *ngIf="accordian.name == 'Match Making'">
              <div class="dx-field">
                <div class="cap">
                  <dx-check-box
                    [(value)]="partyGeneralConfig.Config.IsKalatraReqd"
                    text="Check kalatrarishta/Soubhagya Yoga"
                  ></dx-check-box>
                </div>
              </div>
            </div>

            <div *ngIf="accordian.name == 'Adhipathi Phal'" >
              <div class="dx-field">
                <div class="cap">
                  <dx-radio-group
                    [items]="configerationService.Adipatathaphala"
                    [(value)]="partyGeneralConfig.Config.AdhiPhal"
                    valueExpr="id"
                    displayExpr="name"
                  >
                  </dx-radio-group>
                </div>
              </div>
            </div>
            <div  *ngIf="accordian.name == 'Sadesathi Shani'">
              <div class="dx-field">
                <div class="cap">
                  <dx-check-box
                    [(value)]="partyGeneralConfig.Config.IsSadesathiReqd"
                    text="Check sadesathi"
                  ></dx-check-box>
                </div>
              </div>
            </div>
            <div  *ngIf="accordian.name == 'SunRise/SunSet'">
              <div class="dx-field">
                <div class="cap">
                  <dx-radio-group
                    [dataSource]="configerationService.sunrisesetdata"
                    [value]="partyGeneralConfig.Config.SunSetting"
                    valueExpr="id"
                    (onValueChanged)="SunSettingSelection($event)"
                    displayExpr="name">
                  </dx-radio-group>
                </div>
              </div>
            </div>
            <div *ngIf="accordian.name == 'Chart Type'">
              <div class="dx-field">
                <div class="cap">
                  <dx-select-box
                    id="ChartType"
                    name="ChartType"
                    autofocus="autofocus"
                    [value]="partyGeneralConfig.Config.ChartType"
                    [dataSource]="configerationService.charttypedata"
                    displayExpr="name"
                    valueExpr="id"
                    (onValueChanged)="charttypedataSelection($event)"
                    [searchEnabled]="true"
                    showClearButton="true">
                  </dx-select-box>
                </div>
              </div>
            </div>
            <div *ngIf="accordian.name == 'Moudya Settings'">
                <div class="dx-fieldset-column">
              <div class="dx-field">
                <div class="dx-field-label">Chandra</div>
                <div class="dx-field-label">
                  <dx-number-box
                    #numberBox
                    [(ngModel)]="partyGeneralConfig.Config.MChandra"
                    formControlName="Chandra"
                  ></dx-number-box>
                  <p style="color:red;font-size: 14px;" id="err_Chandra"></p>
                </div>
              </div>
                </div>
                <div class="dx-fieldset-column">
              <div class="dx-field">
                <div class="dx-field-label">Kuja</div>
                <div class="dx-field-label">
                  <dx-number-box
                    #numberBox
                    [(ngModel)]="partyGeneralConfig.Config.MKuja"
                    formControlName="Kuja"
                  ></dx-number-box>
                  <p style="color:red;font-size: 14px;" id="err_Kuja"></p>
                </div>
              </div>
                </div>
                <div class="dx-fieldset-column">
              <div class="dx-field">
                <div class="dx-field-label">Budha</div>
                <div class="dx-field-label">
                  <dx-number-box
                    #numberBox
                    [(ngModel)]="partyGeneralConfig.Config.MBudha"
                    formControlName="Budha"
                  ></dx-number-box>
                  <p style="color:red;font-size: 14px;" id="err_Budha"></p>
                </div>
              </div>
                </div>
                <div class="dx-fieldset-column">
              <div class="dx-field">
                <div class="dx-field-label">Guru</div>
                <div class="dx-field-label">
                  <dx-number-box
                    #numberBox
                    [(ngModel)]="partyGeneralConfig.Config.MGuru"
                    formControlName="Guru"
                  ></dx-number-box>
                  <p style="color:red;font-size: 14px;" id="err_Guru"></p>
                </div>
              </div>
                </div>
                <div class="dx-fieldset-column">
              <div class="dx-field">
                <div class="dx-field-label">Shukra</div>
                <div class="dx-field-label">
                  <dx-number-box
                    #numberBox
                    [(ngModel)]="partyGeneralConfig.Config.MShukra"
                    formControlName="Shukra"
                  ></dx-number-box>
                  <p style="color:red;font-size: 14px;" id="err_Shukra"></p>
                </div>
              </div>
                </div>
                <div class="dx-fieldset-column">
              <div class="dx-field">
                <div class="dx-field-label">Shani</div>
                <div class="dx-field-label">
                  <dx-number-box
                    #numberBox
                    [(ngModel)]="partyGeneralConfig.Config.MShani"
                    formControlName="Shani"
                  ></dx-number-box>
                  <p style="color:red;font-size: 14px;" id="err_Shani"></p>
                </div>
              </div>
                </div>
            </div>
          </div>
        </dx-accordion>
      </div>
    </div>
    <br/>
      <div class="rows">
          <a (click)="Deafult()">Set Default Configuration</a>
            <div class="dx-fieldset-column">
        <div class="dx-field">
          <div class="cs-button">
            <dx-button text="Update" [disabled]='!configform.valid' (onClick)="Update()"> </dx-button>
          </div>
        </div>
            </div>
            <!-- <div class="dx-fieldset-column">
        <div class="dx-field">
          <div class="cs-button">
            <dx-button text="Deafult" (onClick)="Deafult()"> </dx-button>
          </div>
        </div>
    </div> -->
    <div class="dx-fieldset-column">
        <div class="dx-field">
          <div class="cs-button">
            <dx-button text="Back" (onClick)="Back()"> </dx-button>
          </div>
        </div>
        </div>
      </div>
    
  </form>
</div>
