@import "../../../../themes/generated/variables.base.scss";

.login-header {
  text-align: center;
  margin-bottom: 40px;
  .RequestOTPButton{
    height: 45px;
  }
  .title {
    color: #b94d0e;
    font-weight: bold;
    font-size: 30px;
    margin: 0;
  }
}
 .dx-fieldset-column {
 float: left;
//   width: 45%;
//margin-bottom: 22px;
  
   }
   .not-active {
    pointer-events: none;
    cursor: default;
    color: currentColor;
  opacity: 0.5;
  text-decoration: none;
   }
   
   .dx-card[_ngcontent-c3]{
    width: 350px !important;
    margin: auto auto;
    padding: 25px !important;
}

.twocol {
  display: flex;
  margin-bottom: 10px;
}


:host {
  width: 100%;
  height: 100%;
}

.dx-card {
  width: 350px;
  margin: auto auto;
  padding: 30px;
  margin-top: 50px;

  :host-context(.screen-x-small) & {
    width: 100%;
    height: 100%;
    border-radius: 0;
    box-shadow: none;
    margin: 0;
    border: 0;
  }  
}

.dx-button-mode-contained.dx-button-default {
  background-color: #e07333;
  border-color: transparent;
  color: #fff;
}

a {
  color: #b74610;
  cursor: pointer;
  text-decoration: underline;
}

.isDisabled {
  color: #b74610;
  cursor: pointer;
  opacity: 0.5;
  text-decoration: none;
}

.notDisabled {
  color: #b74610;
  cursor: pointer;
}
.uppercase  {
  text-transform: uppercase;
}