

<div class="dx-card content-block responsive-paddings">
    <dx-button icon="arrowleft" *ngIf='isOTPRequested' (onClick)='onBackClick()'></dx-button>
<div class="login-header">
    <div class="title">
            <img src="assets/images/main.png"  style="width: 100px" />
    </div>
    <div>Sign In to your account</div>
</div>
<form *ngIf='!needtoEnterOTP' [formGroup]="loginForm">
        <p style="color:green;">{{message}}</p>
<div class="dx-field">
    <dx-text-box formControlName="UserName" valueChangeEvent="keyup" placeholder="Mobile No. / Email" width="100%">
    </dx-text-box>
    <p style="color:red;font-size: 12px;" id='err_UserName'></p>
    <p style="color:red;font-size: 12px;" id='err_MobileNo'></p>
</div>
<div class="dx-field">

    <!-- <dx-text-box [mode]="textboxMode" valueChangeEvent="keyup" formControlName="Password" *ngIf='!isOTPRequested' [(value)]="password" placeholder="Password" width="100%">
    </dx-text-box>
    <dx-text-box [mode]="textboxMode" valueChangeEvent="keyup" (onValueChanged)='onValueChanged($event)' formControlName="Password" *ngIf='isOTPRequested' placeholder="Enter OTP" width="100%">
    </dx-text-box> -->
    <dx-text-box *ngIf='!isOTPRequested'  [(mode)]="passwordMode" valueChangeEvent="keyup" formControlName="Password" [(value)]="password" placeholder="Password" width="100%">
    <dxi-button name="today" location="after" [options]="passwordButton"></dxi-button>
    </dx-text-box>
    <dx-text-box *ngIf='isOTPRequested'  [(mode)]="passwordMode" valueChangeEvent="keyup" (onValueChanged)='onValueChanged($event)' formControlName="Password" placeholder="Enter OTP" width="100%">
    <dxi-button name="today" location="after" [options]="passwordButton"></dxi-button>
    </dx-text-box>
    <p style="color:red;font-size: 12px;" id='err_Password'></p>
    <p style="color:red;font-size: 12px;" id='err_OTP'></p> 


    <!-- <p *ngIf='counter!= 0'>{{countDown | async }}</p> -->
</div>
<div class="dx-field">
        <!-- <div class="dx-fieldset-column">
            <dx-check-box id="check" [(value)]="ShowPassword_checkBoxValue" (onValueChanged)="ShowPassword_Click($event)" text="Show Password">
            </dx-check-box>
        </div> -->
        <div class="dx-fieldset-column">
                <!-- <a type="default" *ngIf='!isOTPRequested' (click)="onRequestOTP()" width="100%">Request OTP</a>
                    <a type="default" *ngIf='isOTPRequested'
                        (click)="ResendOTP_click()" width="100%">Resend OTP
                    </a>    -->
                    <!-- <dx-button stylingMode="text" type="default" class="RequestOTPButton" text="Request OTP" *ngIf='!isOTPRequested' (onClick)="onRequestOTP()" width="100%" style="margin-left: 29px;margin-top: -7px;" ></dx-button> -->
                    <dx-button stylingMode="text" type="default" class="RequestOTPButton" text="Request OTP" *ngIf='!isOTPRequested' (onClick)="onRequestOTP()" width="100%" style="margin-left: 110px;margin-top: -7px;" ></dx-button>
                    <div id='resendbutton'>
                    <dx-button stylingMode="text" type="default" text="Resend OTP" 
                               [disabled]="disableResendOTP||counter!= 0"
                               *ngIf='isOTPRequested' 
                               (onClick)="ResendGetOTP_click()" width="100%">
                               <div *dxTemplate="let data of 'content'">
                                    <span style="margin-left:184px;margin-top:-7px;" *ngIf='counter!= 0'>{{countDown | async }}</span>
                                    <!-- <span style="margin-left:54px;margin-top:-7px;" *ngIf='counter!= 0'>{{countDown | async }}</span> -->
                                <!-- <dx-load-indicator class='button-indicator' height="20" width="100"
                                    [visible]="disableResendOTP||counter!= 0">
                                </dx-load-indicator> -->
                                <span style="margin-left:174px;margin-top:-7px;" *ngIf='counter== 0' class='dx-button-text'>Resend OTP</span>
                            </div>
                    </dx-button>     
                </div>
        </div>
</div>
<div class="clear"></div>
<div class="dx-field">
    <dx-button type="default" text="Login" (onClick)="Login_Click()" width="100%"></dx-button>
</div>
<div class="dx-field"> 
<div class="dx-fieldset-column" style="width: 185px;">
    <a routerLink="/settings/forgotPassword">Forgot password ?</a>
</div>
<div class="dx-fieldset-column">
    <!-- <a routerLink="/registration-form">Register</a> -->
    <a (click)="goToRegistration()" >Register</a>
    <!-- <a (click)="goToRegistration()" class="not-active" style="text-decoration: underline">Register</a> -->
</div>
</div>

<p>Login through social accounts</p>
<div class="dx-field">
        <div class="dx-fieldset-column">
                <dx-button style="background-color: #d93025" type="default" text="Google" (onClick)="signInWithGoogle()" width="130px"></dx-button>
        </div>
        <div class="dx-fieldset-column">
                <dx-button style="margin-left: 25px;background-color:#4267b2" type="default" text="Facebook" (onClick)="signInWithFB()" width="130px"></dx-button>
        </div>
</div>
</form>
<form *ngIf='needtoEnterOTP' [formGroup]="uservalidateForm">
<p>{{message}}</p>
<div class="dx-field">
        <!-- <dx-text-box mode="password" valueChangeEvent="keyup" (onValueChanged)='onValueChanged($event)' formControlName="OTP" placeholder="Enter OTP" width="100%">   
        </dx-text-box> -->
    <dx-text-box stylingMode="filled" [(mode)]="passwordMode" valueChangeEvent="keyup" (onValueChanged)='onValueChanged($event)' formControlName="OTP" placeholder="Enter OTP" width="100%">
    <dxi-button name="today" location="after" [options]="passwordButton"></dxi-button>
    </dx-text-box>
    <p style="color:red;" id='err_OTP'></p>
    <p style="color:red;" id='err_OTPRef'></p>
    <!-- <div style="width: 175px;" *ngIf='!disableResendOTP'>
        <a (click)="ResendOTP_click()" style="text-decoration: underline">Resend OTP</a>
    </div>
    <div style="width: 175px;" *ngIf='disableResendOTP'>
        <a class="isDisabled" (click)="ResendOTP_click()" style="text-decoration: underline">Resend OTP</a>
    </div> -->
    <!-- <div>
        <a (click)="ResendOTP_click()" style="text-decoration: underline">Resend OTP</a>
    </div> -->
    <!-- <dx-button stylingMode="text" type="default" text="Resend OTP" *ngIf='showResendOTP' (onClick)="ResendOTP_click()" width="100%">
            <div *dxTemplate="let data of 'content'">
                <span style="margin-left:180px;margin-top:-7px;" *ngIf='counter== 0' class='dx-button-text'>Resend OTP</span>
            </div>
        </dx-button> -->
    <dx-button stylingMode="text" type="default" text="Resend OTP" (onClick)="ResendOTP_click()" width="100%">
        <div *dxTemplate="let data of 'content'">
                <span style="margin-left:184px;margin-top:-7px;" *ngIf='counter!= 0'>{{countDown | async }}</span>
            <span style="margin-left:180px;margin-top:-7px;" *ngIf='counter== 0' class='dx-button-text'>Resend OTP</span>
        </div>
    </dx-button>
</div>
<div class="dx-field">
    <dx-button  text="Submit" (onClick)="ValidateUserByOTP()"[disabled]="!uservalidateForm.valid" width="100%"></dx-button>
</div>

</form>
</div>
<dx-popup
    class="popup"
    [width]="250"
    [height]="150"
    [showTitle]="true"
    [closeOnOutsideClick]="false"
    [title]="title"
    [dragEnabled]="false"
    [closeOnOutsideClick]="true"
    [(visible)]="popUpVisible">
    <div *dxTemplate="let data of 'content'">
        <p>
            <span>{{message}}</span>
        </p>
    </div>
</dx-popup>
