

<div *ngIf="!changePasswordSuccessful" class="dx-card content-block responsive-paddings">

  
    <div class="login-header">
        <div class="title">Change Password</div>
    </div>
    <form *ngIf='!SMSOTPType' [formGroup]="changePasswordForm">
    <div class="dx-field">
        <dx-text-box mode="password" formControlName="OldPassword" placeholder="Password" width="100%">
        </dx-text-box>
        <p style="color:red;" id='err_OldPassword'></p>
    </div>
    <div class="dx-field">
        <dx-text-box mode="password" formControlName="NewPassword" placeholder="New Password(4-8 Characters)" width="100%">
        </dx-text-box>
        <p style="color:red;" id='err_NewPassword'></p>
    </div>
    <div class="dx-field">
        <dx-text-box mode="password" formControlName="confirm_NewPassword" placeholder="ReEnter New Password" width="100%">
        </dx-text-box>
        <p style="color:red;" id='err_confirm_NewPassword'></p>
        <p style="color:red" *ngIf="changePasswordForm.errors?.notSame">Passwords do not match</p>

    </div>
    <div class="dx-field">
        <dx-button type="default" text="Save" (onClick)="OnSave_Click()"[disabled]="!changePasswordForm.valid" width="100%"></dx-button>
    </div>
   
</form>

<form *ngIf='SMSOTPType' [formGroup]="uservalidateForm">
        <p>{{message}}</p>
    <div class="dx-field">
        <dx-text-box mode="password" formControlName="OTP" placeholder="OTP" width="100%">
        </dx-text-box>
        <p style="color:red;" id='err_OTP'></p>
        <a (click)="ResendOTP_click()">Resend OTP</a>
    </div>
    <div class="dx-field">
        <dx-button text="Submit" (onClick)="ValidateUserByOTP()" width="100%"></dx-button>
    </div>
       
</form>

    <dx-popup
    class="popup"
    [width]="250"
    [height]="150"
    [showTitle]="true"
    title="Thank you"
    [dragEnabled]="false"
    [closeOnOutsideClick]="true"
    [(visible)]="popupVisible">
    <div *dxTemplate="let data of 'content'">
        <p>
            <span *ngIf="EMailOTPType">{{EMailOTPType}}</span>
            <span *ngIf="SMSOTPType">{{SMSOTPType}}</span>
            <span *ngIf="OTPValidated">{{OTPValidated}}</span>
        </p>
    </div>
</dx-popup>
<dx-popup
    class="popup"
    [width]="250"
    [height]="150"
    [showTitle]="true"
    title="Thank you"
    [dragEnabled]="false"
    [closeOnOutsideClick]="true"
    [(visible)]="OTPValidatedVisible">
    <div *dxTemplate="let data of 'content'">
        <p>
            <span *ngIf="OTPValidated">{{OTPValidated}}</span>
        </p>
    </div>
</dx-popup>
</div>
<div *ngIf="changePasswordSuccessful" class="dx-card content-block responsive-paddings">
<div class="centre">
        <i class="dx-icon-check dx-icon-custom-style"></i>
        <h4>Thank you</h4>
<p><b> Your Account Password changed Successfully.</b></p>

</div>
</div>
