

<div *ngIf="!changePasswordSuccessful" class="dx-card content-block responsive-paddings">
    <div class="login-header">
        <div class="title">Change Password</div>
    </div>
    <form *ngIf='!SMSOTPType' [formGroup]="changePasswordForm">
    <div class="dx-field">
        <dx-text-box [mode]="textboxMode" valueChangeEvent="keyup" formControlName="OldPassword" placeholder="Password" width="100%">
        </dx-text-box>
        <p style="color:red;" id='err_OldPassword'></p>
    </div>
    <div class="dx-field">
        <dx-check-box id="check" 
            [(value)]="ShowPassword_checkBoxValue" 
            (onValueChanged)="ShowPassword_Click($event)"
            text="Show Password">
        </dx-check-box>
    </div>
    <div class="dx-field">
        <dx-text-box mode="text" valueChangeEvent="keyup" formControlName="NewPassword" placeholder="New Password(4-8 Characters)" width="100%">
        </dx-text-box>
        <p style="color:red;" id='err_NewPassword'></p>
    </div>
    <div class="dx-field">
        <dx-text-box mode="password" valueChangeEvent="keyup" formControlName="confirm_NewPassword" placeholder="ReEnter New Password" width="100%">
        </dx-text-box>
        <p style="color:red;" id='err_confirm_NewPassword'></p>
        <p style="color:red" *ngIf="changePasswordForm.errors?.notSame">Passwords do not match</p>

    </div>
    <div class="dx-field">
        <dx-button text="Save" (onClick)="OnSave_Click()"[disabled]="!changePasswordForm.valid" width="100%"></dx-button>
    </div>
</form>

</div>
<div *ngIf="changePasswordSuccessful" class="dx-card content-block responsive-paddings item-align">
<div class="centre">
        <i class="dx-icon-check dx-icon-custom-style"></i>
        <h4>Thank you</h4>
<p><b> Your Account Password changed Successfully.</b></p>
<!-- <button (click)='gotoServies()'>Go to Home</button> -->
<div class="dx-field">
        <dx-button type="success" text="Go to Home" (click)='gotoServies()'></dx-button>
    </div>
</div>
</div>
