<div class="dx-card responsive-paddings">


<div *ngIf='!timeExceeded'>
<div *ngIf='showSuccess' class="dx-card content-block responsive-paddings">
    <div class="centre">
        <img src="assets/images/Success.png"/>
        <h4>Thank you</h4>
<p><b> Downloaded Successfully</b></p>
</div>
</div>
</div>
<div *ngIf='timeExceeded' class="dx-card content-block responsive-paddings">
        <div class="centre">
                <img src="assets/images/Success.png"/>
                <h4>Thank you</h4>
        <p><b> It takes longer than usual time. Please click on below button to check your status.</b></p>
        <p>Your Order Id is {{ExtCode}}</p> 
        <dx-button (onClick)='gotoOrderHistory()'
                id="button"
                text="Go to Order History"
                type="success"  
                [useSubmitBehavior]="true">
            </dx-button>
        <!-- <button (click)='gotoOrderHistory()'>Go to Order History</button> -->
        </div>
</div>
</div>
<dx-load-panel
    #loadPanel
    shadingColor="rgba(0,0,0,0.4)"
    message="Loading..Please wait"
    [showIndicator]="true"
    [showPane]="true"
    [shading]="true"
    [closeOnOutsideClick]="false">
</dx-load-panel>