
<div *ngIf='!timeExceeded'>
<h2 *ngIf='showSuccess' class="content-block">Download Succesful</h2>
<div *ngIf='showSuccess' class="dx-card content-block responsive-paddings">
    <div class="centre">
        <i class="dx-icon-check dx-icon-custom-style"></i>
        <h4>Thank you</h4>
<p><b> Downloaded Succesfully</b></p>
</div>
</div>
</div>
<div *ngIf='timeExceeded'>
        <div class="centre">
                <i class="dx-icon-check dx-icon-custom-style"></i>
                <h4>Thank you</h4>
        <p><b> It takes longer than usual time. Please click on below button to check your status.</b></p>
        <p>Your Order Id is {{OrderId}}</p> 
        <button (click)='gotoOrderHistory()'>Go to Order History</button>
        </div>
</div>