

<h2 class="content-block">AstroLite {{ProductName}} </h2>

<div class="dx-card content-block responsive-paddings">
<div class="product-image">
    <!-- <img src="assets/images/gold.png" class="service-image"> -->
    <img [src]="imgsrc" class="service-image">
    <!-- <h3>Astrolite {{ProductName}}</h3> -->
</div>
<div class="product-info">
    <div class="dx-fieldset">
        <!-- <div class="dx-field">
            <div *ngFor="let item of chekboxes">
                <dx-check-box 
                    [(value)]="item.Value"
                    (onValueChanged)="chekboxes_Click($event, item.Value)"
                    [text]="item.Text">
                </dx-check-box>
            </div>
          </div> -->

        <div class="dx-fieldset-column">
            <div class="dx-field">

                <dx-check-box [(value)]="Horoscope_checkBoxValue" (onValueChanged)="Horoscope_Click($event)" text="Horoscope">
                </dx-check-box>
            </div>
        </div>
        <div class="dx-fieldset-column">
            <div class="dx-field">

                <dx-check-box [(value)]="MatchMaking_checkBoxValue" (onValueChanged)="MatchMaking_Click($event)" text="Matchmaking">
                </dx-check-box>
            </div>
        </div>
        <div class="dx-fieldset-column">
            <div class="dx-field">

                <dx-check-box [(value)]="Astamangala_checkBoxValue" (onValueChanged)="Astamangala_Click($event)" text="Ashtamangala">
                </dx-check-box>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="dx-fieldset" [formGroup]="CoupenCodeForm">
        <div class="dx-feldset-column">
            <div class="dx-field">
                <div class="cap">
                    <!-- <dx-text-box formControlName="CouponCode" valueChangeEvent="keyup" (keyup)='OnCouponCode($event.target.value)' [disabled]="alterationDisabled" showClearButton="true" placeholder="Enter Coupon Code"></dx-text-box> -->
                    <dx-text-box formControlName="CouponCode" valueChangeEvent="keyup" (keyup)='OnCouponCode($event.target.value)'
                        placeholder="Enter Coupon Code"></dx-text-box>
                    <p style="color:red" id='err_CouponCode'></p>
                    <p style="color:red"> {{errorMessage}}</p>

                </div>
                <div class="data">
                    <dx-button (onClick)='onApplyCouponCode_click()' [disabled]="!CoupenCodeForm.valid||disableButton"
                        id="button" text="Apply" type="success" [useSubmitBehavior]="true">
                    </dx-button>
                </div>
            </div>
        </div>
    </div>

    <div class="clear"></div>
    <div class="dx-fieldset">
        <div class="dx-field">
            <div class="cap">Base Price</div>
            <div class="data" style="text-decoration: line-through;">{{productPrice.BasePrice|currency:'INR'}}</div>
        </div>
        <div class="dx-field">
            <div class="cap" style="font-size: 24px;">Deal Price</div>
            <div class="data" style="font-size: 24px;color:red">{{productPrice.ActualPrice-discountAmount|currency:'INR'}}</div>
        </div>
        <div class="dx-field">
            <div class="cap" style="font-size: 12px">You Save</div>
            <div class="data" style="font-size: 10px" style="color:orangered;">{{productPrice.Discount|currency:'INR'}} ({{productPrice.DiscountRate}}%)</div>
        </div>
        <div class="dx-field" *ngIf="discountAmount">
            <div class="cap">Coupon Discount</div>
            <div class="data">{{discountAmount|currency:'INR'}}</div>
        </div>
        <div class="dx-field">
            <div class="cap" id="product1" (mouseenter)="toggleDefault()" (mouseleave)="toggleDefault()">Wallet Bonus</div>
            <div class="data" style="color:green" id="product1" (mouseenter)="toggleDefault()" (mouseleave)="toggleDefault()">{{walletdiscountAmount|currency:'INR'}} ({{walletdiscountPercentage}}%)</div>
        </div>
        <dx-tooltip 
            target="#product1" 
            [(visible)]="defaultVisible">
            <div *dxTemplate="let data = data of 'content'">
                Which can be used to get all online services(Horoscope, Matchmaking report etc.)
            </div>
        </dx-tooltip>
    </div>
    <div class="dx-fieldset ">
        <div class="dx-field">
            <div class="payment-method">
                <div class="payment-mode" [formGroup]="paymentModeForm">
                    <dx-select-box formControlName="paymentMode" (onValueChanged)="paymentModeSelection($event)"
                        [dataSource]="paymentModedata" displayExpr="Text"  placeholder="Payment Mode" valueChangeEvent="keyup" valueExpr="Id"
                        [searchEnabled]="true" [value]='paymentModedatavalue'>
                    </dx-select-box>
                </div>
            </div>
        </div>

        <div class="dx-fieldset">
               
            <div class="dx-field" style="margin-left: 138px;">
                <dx-button (onClick)='onBuyNow_click()' 
                           [disabled]="!paymentModedatavalue" 
                           text="Buy Now" 
                           type="success"
                    [useSubmitBehavior]="true">
                </dx-button>
            </div>
        
        </div>
    </div>
</div>
</div>

<dx-load-panel
    #loadPanel
    message="Please wait.."
    shadingColor="rgba(0,0,0,0.4)"
    [showIndicator]="true"
    [showPane]="true"
    [shading]="true"
    [closeOnOutsideClick]="false">
</dx-load-panel>