

<h2 class="content-block">AstroLite {{ProductName}} </h2>

<div class="dx-card content-block responsive-paddings">
    <div class="dx-fieldset">
        <!-- <div class="dx-field">
            <div *ngFor="let item of chekboxes">
                <dx-check-box 
                    [(value)]="item.Value"
                    (onValueChanged)="chekboxes_Click($event, item.Value)"
                    [text]="item.Text">
                </dx-check-box>
            </div>
          </div> -->
          <div class="dx-fieldset-column">
<div class="dx-field">
  
      <dx-check-box 
          [(value)]="Horoscope_checkBoxValue"
          (onValueChanged)="Horoscope_Click($event)"
          text="Horoscope">
      </dx-check-box>
  </div>
</div>
<div class="dx-fieldset-column">
<div class="dx-field">
  
      <dx-check-box 
          [(value)]="MatchMaking_checkBoxValue"
          (onValueChanged)="MatchMaking_Click($event)"
          text="Match Making">
      </dx-check-box>
  </div>
</div>
<div class="dx-fieldset-column">
<div class="dx-field">
  
      <dx-check-box 
          [(value)]="Astamangala_checkBoxValue"
          (onValueChanged)="Astamangala_Click($event)"
          text="Astamangala">
      </dx-check-box>
  </div>
</div>
</div>
<div class="clear"></div>
<div class="dx-fieldset" [formGroup]="CoupenCodeForm">
    <div class="dx-feldset-column">
    <div class="dx-field">
            <div class="cap">
                 <!-- <dx-text-box formControlName="CouponCode" valueChangeEvent="keyup" (keyup)='OnCouponCode($event.target.value)' [disabled]="alterationDisabled" showClearButton="true" placeholder="Enter Coupon Code"></dx-text-box> -->
                 <dx-text-box formControlName="CouponCode" valueChangeEvent="keyup" (keyup)='OnCouponCode($event.target.value)' placeholder="Enter Coupon Code"></dx-text-box>
                 <p style="color:red" id='err_CouponCode'></p>
                 <p style="color:red"> {{errorMessage}}</p>

            </div>
            <div class="data">
                    <dx-button (onClick)='onApplyCouponCode_click()' [disabled]="!CoupenCodeForm.valid||disableButton" id="button" text="Apply" type="success"
                    [useSubmitBehavior]="true">
                </dx-button>
            </div>         
        </div>
</div>
</div>
<div class="clear"></div>
<h4 class="content-block">Base Price :{{productPrice.BasePrice|currency:'INR'}}</h4>
    <h4 class="content-block">Discount :{{productPrice.Discount|currency:'INR'}}({{productPrice.DiscountRate}}%)</h4>
        <h4 class="content-block">Net Price :{{productPrice.ActualPrice|currency:'INR'}}</h4>
        <h4 class="content-block">Wallet :{{walletdiscountAmount|currency:'INR'}}({{walletdiscountPercentage}}%)</h4>
<div class="dx-fieldset">
    
    <div class="dx-field" *ngIf="discountAmount">
        <div class="cap">Coupon Discount</div>
        <div class="data">{{discountAmount|currency:'INR'}}
        </div>
    </div>
    
    <div class="dx-field" *ngIf="(discountAmount>0)">
        <div class="cap">Order Total</div>
        <div class="data">{{productPrice.ActualPrice-discountAmount|currency:'INR'}}
        </div>
    </div>
    <!-- <p style="color:green"> {{selectMeMessage}}</p> -->
    </div>
    <div class="dx-fieldset">
    <div class="dx-field">
      <div class="cap">
         <div class="payment-mode" [formGroup]="paymentModeForm">
             <dx-select-box formControlName="paymentMode"
                 (onValueChanged)="paymentModeSelection($event)" 
                 [dataSource]="paymentModedata" 
                  displayExpr="Text" 
                  valueChangeEvent="keyup"
                  valueExpr="Id"
                  [searchEnabled]="true"
                  [value]='paymentModedatavalue'>
               </dx-select-box>
           </div>
        </div>
      </div>

        <div class="dx-fieldset">
            <div class="dx-field">
                <dx-button (onClick)='onPay_click()' 
                [disabled]="!paymentModedatavalue"
                text="Buy Now" 
                type="success" 
                [useSubmitBehavior]="true">
                </dx-button>
            </div>
        </div>
        </div>
</div>