.data {
    float: left;
    width: 40%;
    margin-left: 15px;
}
.cap {
    float: left; //margin-right: 12%;
    text-align: left;
    width: 17%;
}

.clear {
    clear: both;
}

.dx-fieldset-column {
    width: 180px;
    float: left;
}
.product-image {
    float: left;
    width: 26%;
}

.product-info {
    float: left;
    width: 70%;
}
.payment-method{
width: 275px;

}
@media (max-width: 450px) {
    .cap {
        float: left; //margin-right: 12%;
        text-align: left;
        width: 50%;
    }
}