
<h2 class="content-block">Resolved Messages</h2>
<div class="dx-card content-block responsive-paddings price-grid">
        <div class="centered-content">
                <div class="dx-fieldset" [formGroup]="unresolvedMessagesSearchForm">
                        <div class="dx-fieldset-column">
                                <div class="dx-field">
                                    <div class="dx-field-label">From Date</div>
                                    <div class="dx-field-value">
                                        <dx-date-box formControlName="From" [(max)]="dateinDateFormat" type="date" displayFormat="dd/MM/yyyy">
                                        </dx-date-box>
                                    </div>
                                </div>
                        </div>
                        <div class="dx-fieldset-column">
                            <div class="dx-field">
                                <div class="dx-field-label">To Date</div>
                                    <div class="dx-field-value">
                                        <dx-date-box formControlName="To" [(max)]="dateinDateFormat" type="date" displayFormat="dd/MM/yyyy">
                                        </dx-date-box>
                                        <p style="color:red" id='err_To'></p>
                                    </div>
                            </div>
                        </div>
                </div>  
                <div class="clear"></div> 
                <div class="dx-fieldset">
                        <dx-button text="Submit" type="success" (onClick)='OnSubmit_click()' [useSubmitBehavior]="true">
                        </dx-button>
                        </div>
          </div>
    <div id="data-grid-demo" #datagridBasePrice>
    <dx-data-grid
        id="gridContainer"
        [dataSource]="dataSource"
        keyExpr="Id"
        [showBorders]="true">
        <dxo-paging [enabled]="false"></dxo-paging>
        <dxi-column dataField="Date" dataType="date" format="MM/dd/yyyy"></dxi-column>
        <dxi-column dataField="Name"></dxi-column>
        <dxi-column dataField="EMail"></dxi-column>
        <dxi-column dataField="Mobile"></dxi-column>
        <dxi-column dataField="Message"></dxi-column>
        <dxi-column dataField="ResolveComment"></dxi-column>
    </dx-data-grid>
</div>    
</div>