<div class="dx-card content-block responsive-paddings" [ngClass]="getFont(matchRequest.LangCode)">
    <div class="dx-card content-block responsive-paddings col-sm-6" style="float:left" >
                     <table>
                        <tr  *ngFor="let item of matchResponse.Left ">
                            <td>
                                {{item.Name}}
                            </td>
                            <td>
                                {{item.Value}}
                            </td>
                        </tr>
                     </table>  
                    </div> 
                    <div class="dx-card content-block responsive-paddings col-sm-6"style="float:left" >
                    <table>
                        <tr  *ngFor="let item of matchResponse.Right">
                            <td>
                                {{item.Name}}
                            </td>
                            <td>
                                {{item.Value}}
                            </td>
                        </tr>
                     </table>                        
            
                    </div>
                    

                </div>
                <div class="dx-card content-block responsive-paddings" [ngClass]="getFont(matchRequest.LangCode)">
                        
                    {{matchResponse.Prediction}}               
            
                    </div>

                    <!-- <div class="dx-card content-block responsive-paddings ">
                        <div class="dx-field-value">
                              <dx-button
                                  icon="cart"
                                  type="success"
                                  text="Buy Now"
                                  (onClick)="onClick()">
                              </dx-button>
                          </div>
                      </div> -->