.dx-button {
    float: none !important;
}

.KannadaFont {
    font-family: "kanfontfamily" !important;
    text-align: center;
    font-size: 14px !important;
}

.EnglishFont {
    font-family: sans-serif !important;
    text-align: center;
    font-size: 16px !important;
}

.HindiFont {
    font-family: "hinfontfamily" !important;
    text-align: center;
    font-size: 16px !important;
}

.MalyalamFont {
    font-family: "malfontfamily" !important;
    text-align: center;
    font-size: 16px !important;
}

.TamilFont {
    font-family: "tamfontfamily" !important;
    text-align: center;
    font-size: 16px !important;
}

.logos-container {
    margin: 20px 0 40px 0;
    text-align: center;
    svg {
        display: inline-block;
    }
}

.devextreme-logo {
    width: 200px;
    height: 34px;
    margin-bottom: 13px;
}

.angular-logo {
    width: 220px;
    height: 62px;
}

.plus {
    margin: 15px 10px;
    width: 22px;
    height: 22px;
}

:host-context(.screen-x-small) .logos-container {
    svg {
        width: 100%;
        display: block;
        &.plus {
            margin: 0;
        }
    }
}

table,
tr,
td {
    border: 2px solid #bbb !important;
    border-collapse: collapse;
    padding: 5px;
}

.dx-field-value,
.dx-field-label {
    text-align: left;
}

.dx-fieldset-column {
    float: left;
    width: 48%;
}

.dx-field-label {
    width: 200px !important;
}

.chakra {
    margin-left: 300px;
}

.clear {
    clear: both;
}

@media (max-width: 479px) {
    .dx-fieldset-column {
        float: left;
        width: 100%;
    }
    .chakra {
        margin-left: 2px;
    }
}