.data {
    float: left;
    width: 50%;
    text-align: left;
    margin-top:2px;
}
.centre {   
    text-align: center !important;
}
.cap {
    float: left; 
    width: 5%;
    text-align: left;
}
.dx-fieldset-column {
    float: left;
    width: 45%;
    margin-right: 40px;
    margin-top: 24px !important;
    }

.address{

    width: 53%;
    float: left;
}
.map{

    width:35%;
    float: left;
}
.clear {
    clear: both;
    }

    #button {
        width: 150px;
       
    }

.contact-form{
    width:50%;
}

.gc-reset{
    transform:scale(0.95) !important;
    -webkit-transform:scale(0.95) !important;
    transform-origin:0 0 !important;
    -webkit-transform-origin:0 0 !important;
    }

@media (max-width: 640px) {
    .contact-form{
        width:100%;
    }
    .content h2{
        margin-left: 10px;
    }
    .address{

        width: 90%;
        margin-bottom: 30px;
        
    }
    .map{
    
        width:100%;
      
    } 
    .map iframe {
        width: 100%;
        height: 100%;
    }

    .data {
        float: left;
        width: 80%;
        text-align: left;
       
    }
    
    .cap {
        float: left; 
        width: 15%;
        text-align: left;
    }
    .dx-fieldset-column {
        float: left;
        width: 100%;
        margin-right: 4px;
        margin-top: 24px !important;
        }
        .dx-field-label{
            width: 60%;
            align-self:flex-end;
        }
    
        .responsive-paddings {
            padding: 20px;
        }
        .dx-field-value{
            width: 90% !important;
            float: left;
        }

//recaptcha style....

        #recaptcha_challenge_image{
            margin: 0 !important;
            width: 100% !important;
            }
            #recaptcha_response_field
            {
            margin: 0 !important;
            width: 100% !important;
            }
            .recaptchatable #recaptcha_image {
            margin: 0 !important;
            width: 100% !important;
            }
            .recaptchatable .recaptcha_r1_c1, 
            .recaptchatable .recaptcha_r3_c1, 
            .recaptchatable .recaptcha_r3_c2, 
            .recaptchatable .recaptcha_r7_c1, 
            .recaptchatable .recaptcha_r8_c1, 
            .recaptchatable .recaptcha_r3_c3, 
            .recaptchatable .recaptcha_r2_c1, 
            .recaptchatable .recaptcha_r4_c1, 
            .recaptchatable .recaptcha_r4_c2, 
            .recaptchatable .recaptcha_r4_c4, 
            .recaptchatable .recaptcha_image_cell {
    
            margin: 0 !important;
            width: 100% !important;
            background: none !important;
            }
}