<div class="dx-card content-block responsive-paddings">
<div class="address">

  <h2>Contact Us</h2>
  <p>
    Astrolite center is located at the south India, serving computerised Astrology services all over the world.
  </p>
 

<div class="dx-field ">
    <div class="cap"> <img src="assets/images/mobile.png"></div>
    <div class="data">Phone: +91 6282614041, +91 8848872902</div>
</div>
<div class="dx-field ">
    <div class="cap"> <img src="assets/images/whatsapp.png"></div>
    <div class="data">Whatsapp : +91 8848872902</div>
</div>
<div class="dx-field ">
    <div class="cap"> <img src="assets/images/email.png"></div>
    <div class="data">Email: contact@astrolite.in</div>
</div>
<div class="dx-field ">
    <div class="cap"><img src="assets/images/address.png"></div>
    <div class="data">Address: Badiyadka Road,Kumbla,<br>Karasagod Dist Pincode -671321, Kerala </div>
</div>
</div>
<div class="map">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d973.4593806195269!2d74.94395072919872!3d12.592957708286773!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba3628d358b2281%3A0x324d654e77f177e4!2sKumbla%E2%80%93Badiadka+Rd%2C+Kumbla+(Kumble)%2C+Kerala+671321!5e0!3m2!1sen!2sin!4v1554117283958!5m2!1sen!2sin" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>

</div>
<div class="clear"></div>

</div>
  <div class="dx-card content-block responsive-paddings">
    <h2>Contact Form</h2>
    </div> 