
<h2 class="content-block">Contact Us</h2>


<div class="dx-card content-block responsive-paddings">

<div class="address">



 
<div class="dx-field ">
    <div class="cap"><img src="assets/images/map-01.png"></div>
    <div class="data">Address: Mahadeva Astro Services, Badiyadka Road,Kumbla,Kasaragod Dist - 671321, Kerala </div>
    </div>
<div class="dx-field ">
    <div class="cap"> <img src="assets/images/phone-01.png"></div>
    <div class="data">Phone : +91 6282614041, +91 8848872902, 04998 214011</div>
</div>
<div class="dx-field ">
    <div class="cap"> <img src="assets/images/whatsup-01.png"></div>
    <div class="data">Whatsapp : +91 8848872902</div>
</div>
<div class="dx-field ">
    <div class="cap"> <img src="assets/images/mail-01.png"></div>
    <div class="data">E-mail Address: contact@astrolite.in</div>
</div>

</div>
<div class="map">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d973.4593806195269!2d74.94395072919872!3d12.592957708286773!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba3628d358b2281%3A0x324d654e77f177e4!2sKumbla%E2%80%93Badiadka+Rd%2C+Kumbla+(Kumble)%2C+Kerala+671321!5e0!3m2!1sen!2sin!4v1554117283958!5m2!1sen!2sin" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>

</div>
<div class="clear"></div>

</div>
  <div *ngIf='!contactSubmitted' class="dx-card content-block responsive-paddings">
    <h3>Contact Form</h3>
    <form action="your-action" [formGroup]="contactusForm">
      <div class="dx-fieldset contact-form">
              <div class="dx-field">
                  <div class="dx-field-label">Full Name*</div>
                  <div class="dx-field-value">
                      <dx-text-box formControlName="Name" valueChangeEvent="keyup" placeholder="Enter Name" showClearButton="true"></dx-text-box>
                      <span style="color:red" id='err_Name'></span>
                  </div>
              </div>
              <div class="dx-field">
                  <div class="dx-field-label">E-mail Address</div>
                  <div class="dx-field-value">
                      <dx-text-box formControlName="Email" placeholder="Enter E-mail Address" showClearButton="true"></dx-text-box>
                  </div>
              </div>
              <div class="clear"></div>
                <div class="dx-field">
                    <div class="dx-field-label">Phone No*</div>
                    <div class="dx-field-value">
                        <dx-text-box formControlName="Mobile" valueChangeEvent="keyup" placeholder="Enter Phone No" showClearButton="true"></dx-text-box>
                        <span style="color:red" id='err_Mobile'></span>
                    </div>
                </div>
                  <div class="dx-field">
                      <div class="dx-field-label">Message*</div>
                      <div class="dx-field-value">
                          <!-- <dx-text-box formControlName="Message" valueChangeEvent="keyup" placeholder="Enter Message here..." showClearButton="true"></dx-text-box> -->
                          <dx-text-area [height]="90" valueChangeEvent="keyup" placeholder="Enter Message" formControlName="Message"></dx-text-area>
                          <span style="color:red" id='err_Message'></span>
                      </div>
                  </div>
                  <!-- <ngx-recaptcha2 #captchaElem  siteKey="6LdXZqEUAAAAAKiZ85dV4ziune4W6-0z9Dx2CWi9" 
                    [useGlobalDomain]="false" 
                    formControlName="recaptcha">
                  </ngx-recaptcha2> -->
                  <div class="dx-field">
                      <div class="dx-field-value">
                  <ngx-recaptcha2 #captchaElem  [siteKey]="siteKey" 
                    [useGlobalDomain]="false" 
                    formControlName="recaptcha">
                  </ngx-recaptcha2>
                  </div>
                </div>
     

      <div class="dx-fieldset submit-btn">
        <div class="dx-field">
        <dx-button [disabled]="!contactusForm.valid" (onClick)='OnSubmit_click()'
            id="button"
            text="Submit"
            type="success"  
            [useSubmitBehavior]="true">
        </dx-button>
        </div>
    </div>
  </div>
    </form>
    </div> 

    <div *ngIf='contactSubmitted' class="dx-card content-block responsive-paddings">
        <div class="centre">
            <img src="assets/images/Success.png" />
            <p><b>Contact request sent successfully</b></p>
        </div>
    </div>