.two-column{
display: flex;


}

.dx-icon-custom-style {
    font-size: 45px;
    color  :green;
}


.centre {
   
    text-align: center !important;
}

.dx-button-mode-contained.dx-button-default {
    background-color: #e07333;
    border-color: transparent;
    color: #fff;
  }