<h2 class="content-block">Wallet</h2>
<div *ngIf='!message'class="dx-card ">

        <form [formGroup]="depositToWalletForm">
            <div class="wallet-balance">
                    <div class="cap">
                <h3 id="employee">Wallet Balance:  {{walletBalanceAmount|currency:'INR'}}</h3>
            </div>
            <div class="cap"><h3>Wallet Bonus</h3></div>
            </div>
            <div class="w-border"></div>
            <br>
            <div class="padding">
                    <div class="dx-fieldset-column">
                <div class="dx-field">
                <div class="dx-field-label">Add Amount</div>
                <div class="dx-field-value">
                    <dx-text-box formControlName="Amount" valueChangeEvent="keyup" (keyup)="onAmount($event.target.value)"  placeholder="Enter Amount" width="100%">

                    </dx-text-box>
                </div>
                
                </div>

                <p style="color:red" id='err_Amount'></p>
                <p style="color: red" *ngIf="showError">Amount should be in the range {{minAmount|currency:'INR'}}-{{maxAmount|currency:'INR'}}</p>
                <div class="dx-field-label2" *ngIf="bonusAmount!=null">Bonus Amount:  {{bonusAmount|currency:'INR'}}</div>
            </div>
               
                <div class="dx-fieldset-column">
                <div class="dx-field">
                        <div class="dx-field-label">Payment Mode</div>
                        <div class="dx-field-value">
                                <dx-select-box formControlName="BillPayMode"
                                (onValueChanged)="paymentModeSelection($event)" 
                                [dataSource]="paymentModedata" 
                                displayExpr="Text" 
                                valueExpr="Id"
                                [searchEnabled]="true"
                                [value]='paymentModedatavalue'>
                                </dx-select-box>
                        </div>
                    </div>
                </div>
                <br>
                
                <div class="dx-fieldset button-padding">
                    <dx-button [disabled]="!depositToWalletForm.valid||!paymentModedatavalue" text="Add Money to Wallet" (onClick)="onClick()" width="100%" style="margin-top:20px;"></dx-button>
                </div>
                
            </div>
            </form>
</div>
<div *ngIf='message' class="dx-card content-block responsive-paddings">
    <div class="centre">
   
        <!-- <i class="dx-icon-check dx-icon-custom-style"></i> -->
        <img src="assets/images/Success.png"/>
        <h4>{{PurchaseAmount|currency:'INR'}}</h4>
<p><b>  Succesfully added to the wallet</b></p>

<p><b>  Updated Wallet Balance is :  {{walletBalanceAmount|currency:'INR'}}</b></p>
<div class="dx-fieldset">   
<div class="dx-field">
        <dx-button type="success" text="Go to Home" (click)='gotoServies()'></dx-button>
    </div>
</div>
</div>
</div>


<!-- <div class="two-column">
        <div class="dx-card content-block responsive-paddings">
    test
    <img src="assets/images/walletb.png" height="300px" width="450px"/>
    </div>  
    </div> -->
<dx-load-panel
    #loadPanel
    shadingColor="rgba(0,0,0,0.4)"
    [(visible)]="loading"
    [position]="{ of: '#employee' }"
    [showIndicator]="true"
    [showPane]="true"
    [shading]="true"
    [closeOnOutsideClick]="false">
</dx-load-panel>