.two-column{
/* display: flex; */
width: 45%;


}

.dx-icon-custom-style {
    font-size: 45px;
    color  :green;
}

h3{

    color: #d15b2f;
}
.centre {
   
    text-align: center !important;
}
::ng-deep #button {
    width: 150px;
    margin-left: 35%;
}
.dx-button-mode-contained.dx-button-default {
    background-color: #e07333;
    border-color: transparent;
    color: #fff;
  }

  @media (max-width: 800px) {

    .two-column{
        /* display: flex; */
        width: 90%;
        
        
        }
  }
