<h2 class="content-block">Assign Price List</h2>
<div class="dx-card content-block responsive-paddings">
    <form action="your-action" [formGroup]="assignNewPriceListForm">
        <div class="dx-fieldset">
                <div class="dx-fieldset-column">
                        <div class="dx-field">
                            <div class="dx-field-label">Category</div>
                            <div class="dx-field-value">
                              <dx-select-box
                              [dataSource]="categoryListdata"
                              (onValueChanged)="categoryListdataSelection($event)"
                              displayExpr="Name"
                              valueExpr="Id"
                              [value]="categoryListvalue" >
                          </dx-select-box>
                            </div>
                        </div>
                    </div>
                    <div class="dx-fieldset-column">
                        <div class="dx-field">
                            <div class="dx-field-label">Price List</div>
                            <div class="dx-field-value">
                            <dx-select-box 
                            (onValueChanged)="priceListDataSelection($event)"
                                  [dataSource]="priceListData"
                                  displayExpr="Name"
                                  valueExpr="Id"
                                  [value]="priceListvalue">
                              </dx-select-box>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>

                    <div class="dx-fieldset-column">
                            <div class="dx-field">
                                <div class="dx-field-label">From Date</div>
                                <div class="dx-field-value">
                                    <dx-date-box formControlName="FromDate" type="date" displayFormat="dd/MM/yyyy"  [(ngModel)]="fromDateinDateFormat">
                                    </dx-date-box>
                                    </div>
                            </div>
                            </div>
                            <div class="dx-fieldset-column">
                                <div class="dx-field">
                                    <div class="dx-field-label">To Date</div>
                                    <div class="dx-field-value">
                                        <dx-date-box formControlName="ToDate" type="date" displayFormat="dd/MM/yyyy"  [(ngModel)]="toDateinDateFormat">
                                        </dx-date-box>
                                        </div>
                                </div>
                                </div>
                        <div class="clear"></div>
            </div>
    
        <div class="dx-fieldset">    
            <dx-button [disabled]="!assignNewPriceListForm.valid" (onClick)='submit_click()'
                id="button"
                text="Save"
                type="success"  
                [useSubmitBehavior]="true">
            </dx-button>
        </div>
    </form>
</div>
