<h2 class="content-block">Assign New Price List</h2>
<div class="dx-card content-block responsive-paddings">
    <form action="your-action" [formGroup]="assignNewPriceListForm">
            <div class="dx-fieldset">
                    <div class="dx-field">
                        <div class="cap">
                            <div class="payment-mode">
                                <dx-select-box 
                                    (onValueChanged)="OnTypeSelection($event)"
                                    [dataSource]="typedata" 
                                    displayExpr="Text" 
                                    valueExpr="Id" 
                                    [searchEnabled]="true"
                                    [value]='typevalue'>
                                </dx-select-box>
                            </div>
                        </div>
                    </div>
                </div>
        <div class="dx-fieldset">
                <div class="dx-fieldset-column">
                        <div class="dx-field">
                            <div class="dx-field-label">Category</div>
                            <div class="dx-field-value">
                              <dx-select-box
                              [dataSource]="categoryListdata"
                              (onValueChanged)="categoryListdataSelection($event)"
                              displayExpr="Name"
                              valueExpr="Id"
                              [value]="categoryListvalue" >
                          </dx-select-box>
                            </div>
                        </div>
                    </div>
                    <div class="dx-fieldset-column">
                        <div class="dx-field">
                            <div class="dx-field-label">Price List</div>
                            <div class="dx-field-value">
                            <dx-select-box 
                            (onValueChanged)="priceListDataSelection($event)"
                                  [dataSource]="priceListData"
                                  displayExpr="Name"
                                  valueExpr="Id"
                                  [disabled]="!typevalue"
                                  [value]="priceListvalue">
                              </dx-select-box>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>

                    <div class="dx-fieldset-column">
                            <div class="dx-field">
                                <div class="dx-field-label">From Date</div>
                                <div class="dx-field-value">
                                    <dx-date-box formControlName="FromDate" type="date" displayFormat="dd/MM/yyyy">
                                    </dx-date-box>
                                </div>
                            </div>
                    </div>
                    <div class="dx-fieldset-column">
                        <div class="dx-field">
                            <div class="dx-field-label">To Date</div>
                                <div class="dx-field-value">
                                    <dx-date-box formControlName="To" type="date" displayFormat="dd/MM/yyyy">
                                    </dx-date-box>
                                    <p style="color:red" id='err_To'></p>
                                </div>
                        </div>
                    </div>
                        <div class="clear"></div>
            </div>
    
        <div class="dx-fieldset">    
            <dx-button [disabled]="!assignNewPriceListForm.valid" (onClick)='OnSubmit_click()'
                id="button"
                text="Save"
                type="success"  
                [useSubmitBehavior]="true">
            </dx-button>
        </div>
    </form>
</div>
<dx-popup
    class="popup"
    [width]="250"
    [height]="150"
    [showTitle]="true"
    title="Success"
    [dragEnabled]="false"
    [closeOnOutsideClick]="true"
    [(visible)]="popupVisible">
    <div *dxTemplate="let data of 'content'">
        <p>
            <span>Item Added Successfully</span>
        </p>
        <dx-button text='OK' (onClick)="ClosePopUp()"></dx-button>
    </div>
</dx-popup>