app-free-data{
.cover {
    //overflow:hidden;
    background-color: lightgray;
    border: solid 1px black;
    overflow-y: scroll;
    padding: 5px;
  
  }
  .page {
    //overflow:hidden;
    background-color: white;
    border: solid 1px gray;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    overflow-y: scroll;
    padding: 5px;
  //  line-height: 100px;
  }
}
.customFont {
    font-family: "MyWebFont" !important;
    text-align: center
    }
    table{
        width:400px;
        height:400px;
      }
      td{
        background-color:white;
      }