<div class="dx-card content-block responsive-paddings payment">
    <form>
<div class="payment-1">
<div class="screen">
    <div class="title">
        <h2>Payment </h2>
</div>

    
        <span>If you have a coupon code please enter here</span>
<div class="coupon-code-2" [formGroup]="CoupenCodeForm">
        <div class="dx-fieldset">
            <div class="dx-feldset-column">
            <div class="dx-field">
                <div class="dx-field-label">Coupon</div>
                <div class="dx-field-value">
                    <dx-text-box formControlName="CouponCode" (keyup)='OnCouponCode($event.target.value)' showClearButton="true"></dx-text-box>
                    <p style="color:red" id='err_CouponCode'></p>
                </div>
                
            </div>
        </div>
        <div class="dx-feldset-column">
            <div class="dx-field">
            <dx-button (onClick)='onApply()' [disabled]="!CoupenCodeForm.valid||disableButton" id="button" text="Apply" type="success"
                [useSubmitBehavior]="true">
            </dx-button>
</div>
</div>
        </div>



</div>
<div class="clear"></div>
<div>
<p>Price              :         {{payableAmount|currency:'INR'}}</p>
<p>Coupon Discount      :          {{discountAmount|currency:'INR'}}</p>
<p *ngIf="(discountAmount>0)">Order Total                :          {{payableAmount-discountAmount|currency:'INR'}}</p>
<p style="color:red" *ngIf="(differenceAmount>0)"> {{'Remaining amount '+(differenceAmount-discountAmount)+' Rs will be deducted from choosen payment modes'}} </p>
<p style="color:green"> {{selectMeMessage}}</p>
<p style="color:red"> {{errorMessage}}</p>

</div>
<div class="astrolite-wallet">
<dx-check-box id="check" 
text='Pay using Astrolite wallet--------{{walletbalance}}(Wallet Balance)'
(onValueChanged)="checkBox_valueChanged($event)">
</dx-check-box>
</div>
<div class="dx-fieldset">
        <div class="dx-field">
<div class="payment-mode" [formGroup]="paymentModeForm">
    <dx-select-box formControlName="paymentMode"
    (onValueChanged)="paymentModeSelection($event)" 
    [dataSource]="paymentModedata" 
    displayExpr="Text" 
    valueExpr="Id"
    [disabled]="selectboxdisabled"
    [value]='paymentModedatavalue'>
    </dx-select-box>
</div>
        </div>

        <div class="dx-field">
                <div class="continue-button">
                <dx-button (onClick)='onContinue()' 
                text="Continue" 
                type="success" 
                [useSubmitBehavior]="true">
                </dx-button>
                </div>
                        </div>
        </div>


</div>
</div>
<!-- <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading> -->
</form>

</div>
