


.dx-feldset-column {
    /* width: 50%; */
   
}
.clear {
    clear: both;
    }

.payment{
        width: 50%;
        }


 @media (max-width: 800px) {

    .payment{
         width: 50%;
          }
  }