<div class="dx-card content-block responsive-paddings payment">
    <form>
<div class="payment-1">
<div class="screen">
    <div class="title">
        <h2>Payment </h2>
</div>

    
<div class="coupon-code-2" [formGroup]="CoupenCodeForm">
        <div class="dx-fieldset">
            <div class="dx-feldset-column">
            <!-- <div class="dx-field">
                <div class="dx-field-label">
                     <dx-text-box formControlName="CouponCode" (keyup)='OnCouponCode($event.target.value)' [disabled]="alterationDisabled" showClearButton="true" placeholder="Enter Coupon Code"></dx-text-box>
                    <p style="color:red" id='err_CouponCode'></p>
                </div>
                <div class="dx-field-value">
                        <dx-button (onClick)='onApply()' [disabled]="!CoupenCodeForm.valid||disableButton" id="button" text="Apply" type="success"
                        [useSubmitBehavior]="true">
                    </dx-button>
                </div>         
            </div> -->
            <div class="dx-field">
                    <div class="cap">
                         <dx-text-box formControlName="CouponCode" valueChangeEvent="keyup" (keyup)='OnCouponCode($event.target.value)' [disabled]="alterationDisabled" showClearButton="true" placeholder="Enter Coupon Code"></dx-text-box>
                        <p style="color:red" id='err_CouponCode'></p>
                    </div>
                    <div class="data">
                        <dx-button (onClick)='onApply()' [disabled]="!CoupenCodeForm.valid||disableButton" id="button" text="Apply" type="success"
                            [useSubmitBehavior]="true">
                        </dx-button>
                    </div>         
                </div>
        </div>
        </div>
        <!-- <div class="dx-feldset">
            <div class="dx-field">
            <dx-button (onClick)='onApply()' [disabled]="!CoupenCodeForm.valid||disableButton" id="button" text="Apply" type="success"
                [useSubmitBehavior]="true">
            </dx-button>
</div>
</div> -->



</div>
<div class="clear"></div>
<div>
        <div class="dx-fieldset">
<div class="dx-field">
    <div class="cap">Price</div>
    <div class="data">{{payableAmount|currency:'INR'}}
    </div>
</div>

<div class="dx-field">
    <div class="cap">Coupon Discount</div>
    <div class="data">{{discountAmount|currency:'INR'}}
    </div>
</div>

<div class="dx-field" *ngIf="(discountAmount>0)">
    <div class="cap">Order Total</div>
    <div class="data">{{payableAmount-discountAmount|currency:'INR'}}
    </div>
</div>
<p style="color:green"> {{selectMeMessage}}</p>

</div>
</div>
<div class="astrolite-wallet">
<dx-check-box id="check" [disabled]="alterationDisabled"
text='Pay using Astrolite wallet      {{walletbalance|currency:"INR"}}(Wallet Balance)'
(onValueChanged)="checkBox_valueChanged($event)">
</dx-check-box>
</div>

<p style="color:red" *ngIf="(differenceAmount>0)&&(differenceAmount>discountAmount)"> {{'Remaining amount '+(differenceAmount-discountAmount)+' Rs will be deducted from choosen payment modes'}} </p>
<p style="color:red"> {{errorMessage}}</p>

<div class="dx-fieldset">
        <div class="dx-field">
                <div class="cap">
<div class="payment-mode" [formGroup]="paymentModeForm">
    <dx-select-box formControlName="paymentMode"
    (onValueChanged)="paymentModeSelection($event)" 
    [dataSource]="paymentModedata" 
    displayExpr="Text" 
    valueExpr="Id"
    [searchEnabled]="true"
    [disabled]="selectboxdisabled"
    [value]='paymentModedatavalue'>
    </dx-select-box>
</div>
</div>
        </div>

        <div class="dx-field">
            <div class="continue-button">
                <dx-button (onClick)='onContinue()' 
                text="Continue" 
                type="success" 
                [useSubmitBehavior]="true">
                </dx-button>
            </div>
        </div>
        </div>


</div>
</div>
<!-- <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading> -->
</form>

</div>
