

<div class="dx-card content-block responsive-paddings">

  
    <div class="login-header">
        <div class="title">Register</div>
    </div>
    <form *ngIf='!SMSOTPType' [formGroup]="registrationForm">
    <div class="dx-field">
        <dx-text-box formControlName="UserName" valueChangeEvent="keyup" placeholder="Mobile No / Email" width="100%">
        </dx-text-box>
    </div>
    <p style="color:red;font-size: 12px;" id='err_UserName'></p>
    <div class="dx-field">
        <dx-text-box mode="password" valueChangeEvent="keyup" formControlName="Password" placeholder="Password(4-8 Characters)" width="100%">
        </dx-text-box>
        <p style="color:red;" id='err_Password'></p>
    </div>
    <div class="dx-field">
        <dx-text-box mode="password" valueChangeEvent="keyup" formControlName="confirm_Password" placeholder="Re Enter Password" width="100%">
        </dx-text-box>
        <p style="color:red;" id='err_confirm_Password'></p>
        <p style="color:red" *ngIf="registrationForm.errors?.notSame">Passwords do not match</p>
    </div>
   
    <div class="dx-field">
        <dx-text-box formControlName="IntroParty" valueChangeEvent="keyup" placeholder="Refferal Code" width="100%">
        </dx-text-box>
        <p style="color:red;" id='err_IntroParty'></p>
    </div>

    <div class="dx-field">
        <div>
            <dx-check-box 
                id="check"
                [(value)]="NewsLetter_checkBoxValue"
                (onValueChanged)="SubscibeNewsLetters_Click($event)"
                text="Subscribe Newsletters from AstroLite">
            </dx-check-box>
        </div>
    </div>

    <div class="dx-field">
        <div>
            <dx-check-box 
                id="check"
                [(value)]="TandC_checkBoxValue"
                (onValueChanged)="TandC_Click($event)"
                text="I agree to the ">
            </dx-check-box>
            <!-- <a [routerLink]="['/TandC']">terms and conditions</a> -->
            <a (click)="goToTermsandConditions()">terms and conditions</a>
        </div>
    </div>
    <div class="dx-field">
        <dx-button type="default" text="Register" (onClick)="Register_Click()"[disabled]="!registrationForm.valid||(TandC_checkBoxValue==false)" width="100%"></dx-button>
    </div>
    <p style="color:green;">{{EMailOTPType}}</p>
</form>

<form *ngIf='SMSOTPType' [formGroup]="uservalidateForm">
    <p style="color:green;">{{SMSOTPType}}</p>
    <div class="dx-field">
        <dx-text-box mode="password" valueChangeEvent="keyup" (onValueChanged)='onValueChanged($event)' formControlName="OTP" placeholder="Enter OTP" width="100%">
        </dx-text-box>
        <p style="color:red;" id='err_OTP'></p>
        
        <!-- <div style="width: 175px;" *ngIf='!disableResendOTP'>
            <a (click)="ResendOTP_click()" style="text-decoration: underline">Resend OTP</a>
        </div>
        <div style="width: 175px;" *ngIf='disableResendOTP'>
            <a class="isDisabled" (click)="ResendOTP_click()" style="text-decoration: underline">Resend OTP</a>
        </div> -->
        <div style="width: 175px;">
            <a (click)="ResendOTP_click()" style="text-decoration: underline">Resend OTP</a>
        </div>
        <!-- <a *ngIf='!disableResendOTP' (click)="ResendOTP_click()">Resend OTP</a>
        <a *ngIf='disableResendOTP' class="isDisabled">Resend OTP</a> -->

    </div>
    <div class="dx-field">
        <!-- <dx-button  text="Submit" (onClick)="ValidateUserByOTP()"[disabled]="!uservalidateForm.valid" width="100%"></dx-button> -->
        <dx-button  text="Submit" (onClick)="ValidateUserByOTP()" width="100%"></dx-button>

    </div>
</form>


    <!-- <dx-popup
    class="popup"
    [width]="250"
    [height]="150"
    [showTitle]="true"
    title="Thank you"
    [dragEnabled]="false"
    [closeOnOutsideClick]="true"
    [(visible)]="popupVisible">
    <div *dxTemplate="let data of 'content'">
        <p>
            <span *ngIf="EMailOTPType">{{EMailOTPType}}</span>
            <span *ngIf="SMSOTPType">{{SMSOTPType}}</span>
            <span *ngIf="OTPValidated">{{OTPValidated}}</span>
        </p>
    </div>
</dx-popup> -->
<dx-popup
    class="popup"
    [width]="450"
    [height]="300"
    [showTitle]="true"
    title="Welcome"
    [dragEnabled]="false"
    [closeOnOutsideClick]="true"
    [(visible)]="OTPValidatedVisible">
    <div *dxTemplate="let data of 'content'">
        <div class="centre">
            <img src="assets/images/Success.png" />
            <p *ngIf="isReffered"><b>Congratulations. Your Account is created. {{Own|currency:'INR'}} Welcome Offer and {{Ref|currency:'INR'}}
                    Bonus Amount has been credited to your wallet.</b></p>
            <p *ngIf="!isReffered"><b>Congratulations. Your Account is created. {{Own|currency:'INR'}} reward has been credited to your wallet.</b></p>
            <div class="dx-fieldset">
                <div class="dx-field">
                    <dx-button text='OK' (onClick)="ClosePopUp()"></dx-button>
                </div>
            </div>
        </div>
    </div>
</dx-popup>
</div>
