
<dx-validation-group>
    <div class="login-header">
        <div class="title">Register</div>
    </div>
    <form [formGroup]="registrationForm">
    <div class="dx-field">
        <dx-text-box formControlName="UserName" placeholder="Mobile No / Email" width="100%">
        </dx-text-box>
    </div>
    <p style="color:red;font-size: 12px;" id='err_UserName'></p>
    <div class="dx-field">
        <dx-text-box mode="password" formControlName="Password" placeholder="Password" width="100%">
        </dx-text-box>
        <p style="color:red;" id='err_Password'></p>
    </div>
    <div class="dx-field">
        <dx-text-box mode="password" formControlName="confirm_Password" placeholder="Password" width="100%">
        </dx-text-box>
        <p style="color:red;" id='err_confirm_Password'></p>
    </div>
   
    <div class="dx-field">
        <dx-text-box formControlName="IntroParty" placeholder="Intro" width="100%">
        </dx-text-box>
        <p style="color:red;" id='err_IntroParty'></p>
    </div>
    <div class="dx-field">
        <dx-button type="default" text="Register" (onClick)="Register_Click()"[disabled]="!registrationForm.valid" width="100%"></dx-button>
    </div>
   
</form>

    <!-- <div class="dx-field">
        <dx-button type="normal" text="Create an account" width="100%"></dx-button>
    </div> -->
</dx-validation-group>
