<app-header
    class="layout-header"
    [menuToggleEnabled]="true"
    (menuToggle)="menuOpened = !menuOpened;"
    [title]="title">
</app-header>


<dx-drawer
    class="layout-body"
    position="before"
    [closeOnOutsideClick]="shaderEnabled"
    [openedStateMode]="menuMode"
    [revealMode]="menuRevealMode"
    [minSize]="minMenuSize"
    [shading]="shaderEnabled"
    [(opened)]="menuOpened">

<div *ngIf='isMobileResolution'>
    <app-side-navigation-menu
    [items]="loginService.menuItems"
    [compactMode]="!menuOpened"
    [selectedItem]="selectedRoute"
    class="dx-swatch-additional"
    *dxTemplate="let dataMenu of 'panel'"
    (selectedItemChanged)="navigationChanged($event)"
    (openMenu)="navigationClick()">
</app-side-navigation-menu>
</div>

<!-- <dx-nav-bar (onItemClick)="selectionChanged($event)"
[selectedIndex]="0" *ngIf='!isMobileResolution'>
        <dxi-item text="Registration" icon="home" (onItemClick)='OnRegistrationform_Click()'>
            <div (click)="OnRegistrationform_Click()">
                    <dx-button icon="home" text="Registration"></dx-button>
            </div>
        </dxi-item>
        <dxi-item text="Login" icon="info" [onClick]="OnLogin_Click"></dxi-item>
        <dxi-item text="Profile" icon="favorites" badge="new">
                <dx-button icon="home" text="Profile" (click)="OnProfile_Click()"></dx-button>
        </dxi-item>
        <dxi-item text="Home" icon="home"></dxi-item>
        <dxi-item text="About" icon="info"></dxi-item>
        <dxi-item text="Favorites" icon="favorites" badge="new"></dxi-item>
    </dx-nav-bar> -->
<!-- <dx-nav-bar
    [dataSource]="navBarData"
    (onItemClick)="selectionChanged($event)"
    [selectedIndex]="0">
</dx-nav-bar> -->

<!-- <dx-menu *ngIf='!isMobileResolution
            #menu
            [dataSource]="loginService.menuItems"
            displayExpr="text"
            [showFirstSubmenuMode]="showFirstSubmenuModes"
            orientation="horizontal"
            submenuDirection="auto"
            [hideSubmenuOnMouseLeave]="true"
            (onItemClick)="itemClick($event)">
</dx-menu> -->

<!-- <dx-menu *ngIf='!isMobileResolution&&!loginService.isHomePage'
            #menu
            [dataSource]="menuItems"
            displayExpr="text"
            [showFirstSubmenuMode]="showFirstSubmenuModes"
            orientation="horizontal"
            submenuDirection="auto"
            [hideSubmenuOnMouseLeave]="true"
            (onItemClick)="itemClick($event)">
</dx-menu> -->
<div class="service-menu" *ngIf='!isMobileResolution&&!loginService.isHomePage'>
    <ul>
        <li *ngFor="let item of loginService.serviceList">
            <a (click)='OnServiceClick(item.Path)' [ngClass]="getActive(item.Path)">{{item.Name}}</a>
        </li>
      </ul>
    </div>
<!-- <app-side-navigation-menu *ngIf="!loginService.userProfileVisible"
    [items]="menuItemsBeforeLogin"
    [compactMode]="!menuOpened"
    [selectedItem]="selectedRoute"
    class="dx-swatch-additional"
    *dxTemplate="let dataMenu of 'panel'"
    (selectedItemChanged)="navigationChanged($event)"
    (openMenu)="navigationClick()">
</app-side-navigation-menu>
    <app-side-navigation-menu *ngIf="loginService.userProfileVisible"
        [items]="menuItemsAfterLogin"
        [compactMode]="!menuOpened"
        [selectedItem]="selectedRoute"
        class="dx-swatch-additional"
        *dxTemplate="let dataMenu of 'panel'"
        (selectedItemChanged)="navigationChanged($event)"
        (openMenu)="navigationClick()">
    </app-side-navigation-menu> -->

    <dx-scroll-view class="full-height-scrollable">
        <div class="content">
            <ng-content></ng-content>
        </div>

        <div class="content-block">
            <ng-content select="app-footer"></ng-content>
        </div>
    </dx-scroll-view>
</dx-drawer>


<app-footer *ngIf='itemService.BuyNowVisible'>
    <dx-button
    icon="cart"
    type="success"
    text="For More Details Buy Now">
    </dx-button>
</app-footer>