:host {
  @import "../themes/generated/variables.base.scss";
  background-color: darken($base-bg, 5.00);
  display: flex;
  height: 100%;
  width: 100%;
}


 #navigation-header{

  background: url ("assets/images/logo.png") !important;
}

::ng-deep #popup {
  padding: 10px;

}

.clear {
  clear: both;
  }
  

::ng-deep .button-info {
  margin: 10px;
}
::ng-deep .popup p {
  margin-bottom: 10px;
  margin-top: 0;
  color: red;
}
.dx-toolbar {
  background-color: #ea6a18;
  color: #ffffff;
}


.menu-container {
  background: red;
}
//  .menu-container .dx-treeview .dx-treeview-node{
//   border-bottom: 1px solid #a76017;
//   background: #bb6d0d;
//  }

.dx-swatch-additional{
  background: red !important;

}
.data {
  float: left;
  width: 40%;
  text-align: left;
}

.cap {
  float: left;
  width: 40%;
  text-align: left;
  line-height: 30px;
}


.clear {
  clear: both;
}


.menu{
  padding: 22px;
  width: 22% !important;
  float: left !important;
  margin-left: 20px !important;
  margin-top: 10px;
}
.footer-menu{

  //overflow: hidden;
  bottom: 0;
  width: 22%;
  float: left;
  margin-right: 20px;
 // border: 1px solid #ddd;
}
.footer-menu a{

    //float: left;
    display: block;
    margin-left:75px;
    padding: 4px 6px;
    text-decoration: none;
    color:#797777 !important;
  //  font-size: 17px;
}
.footer-menu-padding{
    padding: 20px;

}
.dx-card{

  border:1px solid #f3dc9d;
}
.social{
  width: 50%;
  padding: 20px;
  float: left;
}
.footer-images{

  margin-top: 10px;
}

.footer-image{

margin-right: 15px;

}


@media (max-width: 800px) {
  .social{
    width:90%;
}
.footer-menu{
  margin-left: 5px;


}

}