<!-- <ng-container *ngIf="isAutorized(); else notAuthorized">
    <app-side-nav-inner-toolbar *ngIf="!registrationService.registered" title="{{appInfo.title}}">
        <router-outlet></router-outlet>
        <app-footer>
            Copyright © 2011-2018 Astrolite.in.
           
           
        </app-footer>
    </app-side-nav-inner-toolbar>
        <app-single-card *ngIf="registrationService.registered">
            <router-outlet></router-outlet>
        </app-single-card>
</ng-container>

<ng-template #notAuthorized>
    <app-single-card>
        <router-outlet></router-outlet>
    </app-single-card>
</ng-template> -->
<ng-container>
    <app-side-nav-inner-toolbar>
        <router-outlet></router-outlet>
        <app-footer>
            Copyright © 2011-2018 Astrolite.in.  
        </app-footer>
    </app-side-nav-inner-toolbar>
        <!-- <app-single-card>
            <router-outlet></router-outlet>
        </app-single-card> -->
</ng-container>






