<!-- <ng-container *ngIf="isAutorized(); else notAuthorized">
    <app-side-nav-inner-toolbar *ngIf="!registrationService.registered" title="{{appInfo.title}}">
        <router-outlet></router-outlet>
        <app-footer>
            Copyright © 2011-2018 Astrolite.in.


        </app-footer>
    </app-side-nav-inner-toolbar>
        <app-single-card *ngIf="registrationService.registered">
            <router-outlet></router-outlet>
        </app-single-card>
</ng-container>

<ng-template #notAuthorized>
    <app-single-card>
        <router-outlet></router-outlet>
    </app-single-card>
</ng-template> -->
<ng-container>
    <app-side-nav-outer-toolbar title="{{appInfo.title}}" >
        <router-outlet></router-outlet>
        <app-footer>
            <!-- <div class="dx-card responsive-paddings">
                <div class="dx-card responsive-paddings menu">
                  <img src="assets/images/trust.png" style="width: 100%;" />
                </div>
                <div class="dx-card responsive-paddings menu">
                  <img src="assets/images/secure .png" style="width: 93%;" />
                </div>
                <div class="dx-card responsive-paddings menu">
                  <img src="assets/images/help.png" style="width: 114%;" />
                </div>
                <div class="dx-card responsive-paddings menu">
                  <img src="assets/images/shop.png" style="width: 90%;" />
                </div>
              </div> -->

              <div class="dx-card footer-menu-padding ">
<div class="footer-inner">
                <div class=" footer-menu">
                    <a class="middle-heading">Company</a>
                  <a [routerLink]="['/staticpages/aboutus']">About Us</a>
                  <a [routerLink]="['/services']" href="#">Services</a>
                  <a href="#">Sitemap</a>
                </div>
                <div class=" footer-menu">
                    <a class="middle-heading">Policy Info</a>
                  <a [routerLink]="['/staticpages/privacy']">Privacy Policy</a>
                  <a [routerLink]="['/staticpages/TandC']">Terms of Use</a>
                  <a [routerLink]="['/staticpages/disclaimer']">Disclaimer</a>
                </div>

                <div class="footer-menu">
                    <a class="middle-heading">Need Help?</a>
                  <a href="#">Support</a>
                  <a [routerLink]="['/staticpages/faq']">FAQ</a>
                  <a [routerLink]="['/staticpages/contactus']">Contact</a>
                </div>

                <!-- <div class=" footer-menu subscribe">
                    <div class="middle-heading">Subscribe</div>

                    <dx-text-box value="Your email address"style=" width: 175px;float: left;"></dx-text-box>
                    <dx-button id="button" text="Subscribe" type="success"> </dx-button>
                </div> -->

              </div>
              </div>
               <!-- <div class="dx-card"style="margin-top: -6px;">
                <div class=" social">
                  Payment
                  <div class="footer-images">
                    <img src="assets/images/master.png" class="footer-image" />
                    <img src="assets/images/card.png" class="footer-image" />
                    <img src="assets/images/ccard.png" class="footer-image" />
                    <img src="assets/images/america.png" class="footer-image" />
                  </div>
                </div>
                <div class="social">
                  Connect
                  <div class="footer-images">
                    <a href="https://www.facebook.com/AstroLite-Astrology-Software-823982047980455/">     <img src="assets/images/facebook.png" class="footer-image" /></a>
                    <img src="assets/images/twitter.png" class="footer-image" />
                    <img src="assets/images/youtube.png" class="footer-image" />
                  </div>
                </div>
              </div> -->
              <div class="dx-card copyright">
                 <div class="footer-inner" >
                   <p class="rights">© 2019 Astrolite.in All Rights Reserved</p>
                  <!-- <p class="made-in">Made within India</p> -->
            <div class="made-in">
              <div class="payment-icons">
                    Payment
                    <div class="footer-images">
                      <img src="assets/images/master.png" class="footer-image" />
                      <img src="assets/images/card.png" class="footer-image" />
                      <img src="assets/images/ccard.png" class="footer-image" />
                      <img src="assets/images/america.png" class="footer-image" />

                    </div>
            </div>
            <div class="payment-icons">
                    Connect
                    <div class="footer-images">
                      <a href="https://www.facebook.com/AstroLite-Astrology-Software-823982047980455/">     <img src="assets/images/facebook.png" class="footer-image" /></a>
                      <img src="assets/images/twitter.png" class="footer-image" />
                      <img src="assets/images/youtube.png" class="footer-image" />
                    </div>
                    </div>
                  </div>
                  <!-- <p>Build version: 0.0.4</p> -->
                </div>
                </div>



        </app-footer>
    </app-side-nav-outer-toolbar>
    <!-- <app-single-card>
            <router-outlet></router-outlet>
        </app-single-card> -->

    <dx-popup
    class="popup"
    [width]="250"
    [height]="200"
    [closeOnOutsideClick]="false"
    [showTitle]="true"
    title="Error"
    [dragEnabled]="false"
    [closeOnOutsideClick]="true"
    [(visible)]="popupVisible">
    <div *dxTemplate="let data of 'content'">
        <p>
            <span>{{errorMessage}}</span>
        </p>
        <dx-button text='OK' (onClick)="ClosePopUp()"></dx-button>
    </div>
    </dx-popup>

<dx-popup
    class="popup"
    [width]="350"
    [height]="200"
    [showTitle]="true"
    [closeOnOutsideClick]="false"
    [(title)]="loadingSwitchService.title"
    [dragEnabled]="false"
    [closeOnOutsideClick]="true"
    [(visible)]="loadingSwitchService.popupVisible">
    <div *dxTemplate="let data of 'content'">
        <p>
            <span>{{loadingSwitchService.message}}</span>
        </p>
        <dx-button text='OK' (onClick)="loadingSwitchService.ClosePopUp()"></dx-button>
    </div>
</dx-popup>

<dx-popup *ngIf="loginService.orderhistorypopupVisible"
    class="popup"
    [width]="350"
    [height]="300"
    [showTitle]="true"
    title="Last Pending Transaction"
    [dragEnabled]="false"
    [closeOnOutsideClick]="true"
    [(visible)]="loginService.orderhistorypopupVisible">
    <div *dxTemplate="let data of 'content'">
        <div class="cap">Date</div> <div class="data"> :{{loginService.orderHistoryResponse.Date|  date:'dd/MM/yyyy'}}</div><div class="clear"></div>
        <div class="cap">Item Ordered</div><div class="data">:{{loginService.orderHistoryResponse.ItName}}</div><div class="clear"></div>
            <div class="cap">Order Id</div> <div class="data">:{{loginService.orderHistoryResponse.ExtCode}}</div><div class="clear"></div>
            <div class="cap">Amount  </div> <div class="data">:{{loginService.orderHistoryResponse.Amount|currency:'INR'}}
    </div>
        <div class="clear"></div>
        <div *ngIf="loginService.proceedDeliveryAddress">
            <dx-button class="proceed" text="Proceed to Delivery Address" type="success" (onClick)="onstatus_Click(loginService.orderHistoryResponse)"></dx-button>
            &nbsp;   <dx-button text="Delete" type="danger" (onClick)="ondelete_Click(loginService.orderHistoryResponse)"></dx-button>
        </div>
        <div *ngIf="loginService.proceedPayment">
            <dx-button class="delete" text="Proceed to Payment" type="success" (onClick)="onstatus_Click(loginService.orderHistoryResponse)"></dx-button>
          &nbsp; <dx-button text="Delete" type="danger" (onClick)="ondelete_Click(loginService.orderHistoryResponse)"></dx-button>
        </div>
        <div *ngIf="loginService.continueProductPayment">
            <dx-button class="delete" text="Proceed" type="success" (onClick)="onstatus_Click(loginService.orderHistoryResponse)"></dx-button>
          &nbsp; <dx-button text="Delete" type="danger" (onClick)="ondelete_Click(loginService.orderHistoryResponse)"></dx-button>
        </div>
        <!-- <dx-button text='Close' (onClick)="ClosePopUp()"></dx-button> -->
    </div>
</dx-popup>

<dx-load-panel
    #loadPanel
    shadingColor="rgba(0,0,0,0.4)"
    message="Loading..Please wait"
    [(visible)]="loadingSwitchService.loading"
    [showIndicator]="true"
    [showPane]="true"
    [shading]="true"
    [closeOnOutsideClick]="false"
    (onHidden)="onHidden()">
</dx-load-panel>
</ng-container>
    <!-- <ngx-loading [show]="loadingSwitchService.loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading> -->






