<!-- <ng-container *ngIf="isAutorized(); else notAuthorized">
    <app-side-nav-inner-toolbar *ngIf="!registrationService.registered" title="{{appInfo.title}}">
        <router-outlet></router-outlet>
        <app-footer>
            Copyright © 2011-2018 Astrolite.in.
           
           
        </app-footer>
    </app-side-nav-inner-toolbar>
        <app-single-card *ngIf="registrationService.registered">
            <router-outlet></router-outlet>
        </app-single-card>
</ng-container>

<ng-template #notAuthorized>
    <app-single-card>
        <router-outlet></router-outlet>
    </app-single-card>
</ng-template> -->
<ng-container>
    <app-side-nav-outer-toolbar title="{{appInfo.title}}" >
        <router-outlet></router-outlet>
        <app-footer>
            Copyright © 2011-2018 Astrolite.in.  
        </app-footer>
    </app-side-nav-outer-toolbar>
    <!-- <ngx-loading [show]="loadingSwitchService.loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading> -->
    <dx-popup
    class="popup"
    [width]="250"
    [height]="200"
    [showTitle]="true"
    title="Error"
    [dragEnabled]="false"
    [closeOnOutsideClick]="true"
    [(visible)]="popupVisible">
    <div *dxTemplate="let data of 'content'">
        <p>
            <span>{{errorMessage}}</span>
        </p>
        <dx-button text='OK' (onClick)="ClosePopUp()"></dx-button>
    </div>
</dx-popup>
<dx-popup
    class="popup"
    [width]="350"
    [height]="200"
    [showTitle]="true"
    title="Success"
    [dragEnabled]="false"
    [closeOnOutsideClick]="true"
    [(visible)]="loadingSwitchService.popupVisible">
    <div *dxTemplate="let data of 'content'">
        <p>
            <span>{{loadingSwitchService.message}}</span>
        </p>
        <dx-button text='OK' (onClick)="loadingSwitchService.ClosePopUp()"></dx-button>
    </div>
</dx-popup>
<dx-load-panel
    #loadPanel
    shadingColor="rgba(0,0,0,0.4)"
    message="Loading..Please wait"
    [(visible)]="loadingSwitchService.loading"
    [showIndicator]="true"
    [showPane]="true"
    [shading]="true"
    [closeOnOutsideClick]="false"
    (onHidden)="onHidden()">
</dx-load-panel>
    <!-- <app-single-card>
            <router-outlet></router-outlet>
        </app-single-card> -->
</ng-container>






