
    // .cover {
    //     //overflow:hidden;
    //     background-color: lightgray;
    //     border: solid 1px black;
    //     overflow-y: scroll;
    //     padding: 5px;
    //   }
    //   .page {
    //     //overflow:hidden;
    //     background-color: white;
    //     border: solid 1px gray;
    //     font-weight: bold;
    //     text-align: center;
    //     font-size: 18px;
    //     overflow-y: scroll;
    //     padding: 5px;
    //   //  line-height: 100px;
    //   }


// .customFont {
//     font-family: "MyWebFont" !important;
//     text-align: center
//     }
//     table{
//         width:400px;
//         height:400px;
//       }
//       td{
//         background-color:white;
//       }

.float-bar {
    position: fixed;
    right: 70px;
    top: 295px;
    transition: all 0.2s ease-in 0s;//this is the key attribute
    z-index: 9999;
    cursor: pointer;
    background: #db7234;
    padding: 20px;
    border-radius: 10px 10px 0px 0px;
    color: #fff;
    font-size: 18px;
    }
.float-button:hover {
        right: -7px;//hide it by pushing it off the screen
        }

.float-bar-button{
    padding: 13px;
    border-radius: 20px;
    margin-left: 15px;
}

.data {
    float: left;
    width: 40%;
    text-align: left;
}

.cap {
    float: left; //margin-right: 12%;
    width: 19%;
    text-align: left;
}

.dx-button {
    float: none !important;
}

h2 {
    font-size: 20px !important;
    text-align: center;
}

.note {
    color: deeppink;
}

.KannadaFont {
    font-family: "kanfontfamily" !important;
    text-align: justify;
    font-size: 18px;
}

.EnglishFont {
    font-family: sans-serif !important;
    text-align: center;
    font-size: 16px;
}

.HindiFont {
    font-family: "hinfontfamily" !important;
    text-align: center;
    font-size: 16px ;
}

.MalyalamFont {
    font-family: "malfontfamily" !important;
    text-align: center;
    font-size: 16px;
}

.TamilFont {
    font-family: "tamfontfamily" !important;
    text-align: center;
    font-size: 16px;
}



// :host-context(.screen-x-small) .logos-container {
//     svg {
//         width: 100%;
//         display: block;
//         &.plus {
//             margin: 0;
//         }
//     }
// }

table,
tr,
td {
    border: 2px solid #db7234 !important;
    border-collapse: collapse;
}

.dx-field-value,
.dx-field-label {
    text-align: left;
}

.dx-fieldset-column {
    float: left;
    width: 48%;
} // .dx-field-label {
//     width: 200px !important;
// }
// .Maha-Nakshatra{
//   width: 50%;
// }
.chakram {
    display: flex;
    align-items: center;
    justify-content: center;
}

.clear {
    clear: both;
}

.chakra.KannadaFont {
    text-align: center;
}

.subtitle {
    font-size: 20px;
}

.prediction {
    border-bottom: 1px solid;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.dx-field-kundali{
width: 50%;
float: left;

}
.dx-field-kundali-value{
    width: 50%;
    float: left;
    
    }
@media (max-width: 479px) {
    .dx-fieldset-column {
        float: left;
        width: 100%;
    }
    table {
        width: 280px !important;
    }
    .chakra {
        margin-left: 2px;
        overflow-x: auto;
    }
    .dx-field-label {
        width: 50% !important;
    }
    .responsive-paddings {
        padding: 5px !important;
    }
    .data {
        float: left;
        width: 45%;
        text-align: left;
    }
    .cap {
        float: left; //margin-right: 12%;
        width: 50%;
        text-align: left;
    }

    .dx-field-kundali{
        width: 80%;
        float: left;
        margin-bottom: 10px;
        
        }
        .dx-field-kundali-value{
            width: 100%;
            float: left;
            
            }
            .content h2{

                margin-left: 0px
            }
}



.square1 {
    height: 300px;
    width: 600px;
    overflow: hidden;
    margin: -18px;
    border-right:none;
    border-left:none;
  }
  .square2 {
    height: 300px;
    width: 300px;
    overflow: hidden;
    margin-left: -256px;
    border-left:none;
    border-right:none;
  }
  .square3 {
    height: 300px;
    width: 600px;
    overflow: hidden;
    margin: -18px;
    border-left:none;
    border-right:none;
    margin-top:-128px;
  }
  .square4 {
    height: 300px;
    width: 300px;
    overflow: hidden;
    margin-left: -256px;  
    border-left:none;
    border-right:none;
    margin-top:-135px;
    position: relative;
      top: 12px;
  }
  
//   svg {
//     height: 100%;
//     width: 100%;
//   }
  polygon {
    fill: aliceblue;
    stroke: crimson;
    stroke-linejoin: round;
  }
  polygon:hover {
    fill: cornflowerblue;
  }
  text{
    fill:black;
    font-size:1em;
    font-family:arial;
  }
  
  text.sub-text{
    fill:black;
    font-size:1em;
    font-family:arial;
  }
  
  g:hover > text{
    display:block;
  }









  .background {
    width: 100px;
    height: 50px;
    padding: 0;
    margin: 0;
    border: solid 1px #000;
  }
  
  /* .line {
    width: 112px;
    height: 47px;
    border-bottom: 1px solid red;
    transform: translateY(-20px) translateX(5px) rotate(27deg);
    position: absolute;
    z-index: -1;
  } */
  
  .line {
    width: 125px;
    height: 93%;
    border-bottom: 1px solid red;
    transform: translateY(-26px) translateX(11px) rotate(38deg);
    position: absolute;
    z-index: -1;
}

td {
    width: 80px;
    height: 80px;
}

.line2 {
    width: 127px;
    height: 93px;
    border-bottom: 1px solid red;
    transform: translateY(30px) translateX(14px) rotate(142deg);
    position: absolute;
    z-index: -1;
}
  .background>div {
    position: relative;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
  
  .bottom {
    position: absolute;
    bottom: 1px;
    left: 1px;
  }
  .bottom1 {
    position: absolute;
    top: 1px;
    left: 1px;
  }
  .top {
    position: absolute;
    top: 1px;
    right: 1px;
  }
  .top1 {
    position: absolute;
    bottom: 1px;
    right: 1px;
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }








// body { margin: 0px; padding: 0px; font-family:"Arial"; /*overflow-x:hidden;*/ }

// img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

// div { position: absolute; }

// #content-container { display: table; position: relative;  overflow: hidden;  }

// #content-container > div{ position: relative; top:inherit; }
// #page_kundali_ek1 {
// 	top: 0px;
// 	left: 0px;
// 	width: 375px;
// 	height: 812px;
// 	overflow:hidden;
// }

// #_bg__kundali_ek2 {
// 	top: 0px;
// 	left: 0px;
// 	width: 375px;
// 	height: 812px;
// 	background:rgba(255,255,255,255);
// }


// #path_1 {
// 	top: 218px;
// 	left: 23px;
// 	width: 336px;
// 	height: 337px;
// }


// #line_1 {
// 	top: 218px;
// 	left: 23px;
// 	width: 164.71557617188px;
// 	height: 168.69854736328px;
// }


// #line_2 {
// 	top: 218px;
// 	left: 187px;
// 	width: 172.69873046875px;
// 	height: 168.71534729004px;
// }


// #line_3 {
// 	top: 386px;
// 	left: 23px;
// 	width: 165.71551513672px;
// 	height: 169.69860839844px;
// }


// #line_4 {
// 	top: 386px;
// 	left: 187px;
// 	width: 172.70086669922px;
// 	height: 169.71328735352px;
// }


// #line_5 {
// 	top: 218px;
// 	left: 23px;
// 	width: 336.70812988281px;
// 	height: 337.7060546875px;
// }


// #line_6 {
// 	top: 218px;
// 	left: 23px;
// 	width: 336.70812988281px;
// 	height: 337.7060546875px;
// }


// #rahu_ketu___mandi {
// 	top: 222px;
// 	left: 65px;
// 	width: 80px;
// 	height: 39px;
// 	font-family: Helvetica Neue;
// 	font-size: 16px;
// 	text-align: left;
// 	color:#707070;
// }


// #rahu_ketu___mandi_ek1 {
// 	top: 276px;
// 	left: 145px;
// 	width: 80px;
// 	height: 39px;
// 	font-family: Helvetica Neue;
// 	font-size: 16px;
// 	text-align: left;
// 	color:#707070;
// }


// #rahu_ketu___mandi_ek2 {
// 	top: 221px;
// 	left: 228px;
// 	width: 80px;
// 	height: 39px;
// 	font-family: Helvetica Neue;
// 	font-size: 16px;
// 	text-align: left;
// 	color:#707070;
// }


// #___rahu__ketu__mandi {
// 	top: 268px;
// 	left: 305px;
// 	width: 56px;
// 	height: 57px;
// 	font-family: Helvetica Neue;
// 	font-size: 16px;
// 	text-align: left;
// 	color:#707070;
// }


// #rahu_ketu___mandi_ek3 {
// 	top: 372px;
// 	left: 59px;
// 	width: 80px;
// 	height: 39px;
// 	font-family: Helvetica Neue;
// 	font-size: 16px;
// 	text-align: left;
// 	color:#707070;
// }


// #rahu__ketu_mandi {
// 	top: 264px;
// 	left: 29px;
// 	width: 49px;
// 	height: 57px;
// 	font-family: Helvetica Neue;
// 	font-size: 16px;
// 	text-align: left;
// 	color:#707070;
// }


// #rahu_ketu___mandi_ek4 {
// 	top: 442px;
// 	left: 155px;
// 	width: 80px;
// 	height: 39px;
// 	font-family: Helvetica Neue;
// 	font-size: 16px;
// 	text-align: left;
// 	color:#707070;
// }


// #rahu_ketu___mandi_ek5 {
// 	top: 359px;
// 	left: 228px;
// 	width: 80px;
// 	height: 39px;
// 	font-family: Helvetica Neue;
// 	font-size: 16px;
// 	text-align: left;
// 	color:#707070;
// }


// #______rahu__ketu_mandi {
// 	top: 506px;
// 	left: 56px;
// 	width: 87px;
// 	height: 39px;
// 	font-family: Helvetica Neue;
// 	font-size: 16px;
// 	text-align: left;
// 	color:#707070;
// }


// #__rahu__ketu__mandi {
// 	top: 431px;
// 	left: 23px;
// 	width: 54px;
// 	height: 57px;
// 	font-family: Helvetica Neue;
// 	font-size: 16px;
// 	text-align: left;
// 	color:#707070;
// }


// #_____rahu_ketu_shukra {
// 	top: 505px;
// 	left: 230px;
// 	width: 93px;
// 	height: 39px;
// 	font-family: Helvetica Neue;
// 	font-size: 16px;
// 	text-align: left;
// 	color:#707070;
// }


// #__rahu_ketu_mandi {
// 	top: 437px;
// 	left: 302px;
// 	width: 49px;
// 	height: 57px;
// 	font-family: Helvetica Neue;
// 	font-size: 16px;
// 	text-align: left;
// 	color:#707070;
// }


