app-free-data {
    // .cover {
    //     //overflow:hidden;
    //     background-color: lightgray;
    //     border: solid 1px black;
    //     overflow-y: scroll;
    //     padding: 5px;
    //   }
    //   .page {
    //     //overflow:hidden;
    //     background-color: white;
    //     border: solid 1px gray;
    //     font-weight: bold;
    //     text-align: center;
    //     font-size: 18px;
    //     overflow-y: scroll;
    //     padding: 5px;
    //   //  line-height: 100px;
    //   }
}

// .customFont {
//     font-family: "MyWebFont" !important;
//     text-align: center
//     }
//     table{
//         width:400px;
//         height:400px;
//       }
//       td{
//         background-color:white;
//       }

.float-button {
    position: fixed;
    right: -77px;
    top: 270px;
    transition: all 0.2s ease-in 0s;//this is the key attribute
    z-index: 9999;
    cursor: pointer;
    }

    .float-button:hover {
        right: -7px;//hide it by pushing it off the screen
        }



.data {
    float: left;
    width: 40%;
    text-align: left;
}

.cap {
    float: left; //margin-right: 12%;
    width: 19%;
    text-align: left;
}

.dx-button {
    float: none !important;
}

h2 {
    font-size: 20px !important;
    text-align: center;
}

.note {
    color: deeppink;
}

.KannadaFont {
    font-family: "kanfontfamily" !important;
    text-align: justify;
    font-size: 16px !important;
}

.EnglishFont {
    font-family: sans-serif !important;
    text-align: center;
    font-size: 20px !important;
}

.HindiFont {
    font-family: "hinfontfamily" !important;
    text-align: center;
    font-size: 20px !important;
}

.MalyalamFont {
    font-family: "malfontfamily" !important;
    text-align: center;
    font-size: 20px !important;
}

.TamilFont {
    font-family: "tamfontfamily" !important;
    text-align: center;
    font-size: 20px !important;
}



:host-context(.screen-x-small) .logos-container {
    svg {
        width: 100%;
        display: block;
        &.plus {
            margin: 0;
        }
    }
}

table,
tr,
td {
    border: 1px solid black !important;
}

.dx-field-value,
.dx-field-label {
    text-align: left;
}

.dx-fieldset-column {
    float: left;
    width: 48%;
} // .dx-field-label {
//     width: 200px !important;
// }
// .Maha-Nakshatra{
//   width: 50%;
// }
.chakram {
    display: flex;
    align-items: center;
    justify-content: center;
}

.clear {
    clear: both;
}

.chakra.KannadaFont {
    text-align: center;
}

.subtitle {
    font-size: 20px;
}

.prediction {
    border-bottom: 1px solid;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

@media (max-width: 479px) {
    .dx-fieldset-column {
        float: left;
        width: 100%;
    }
    table {
        width: 280px !important;
    }
    .chakra {
        margin-left: 2px;
        overflow-x: auto;
    }
    .dx-field-label {
        width: 50% !important;
    }
    .responsive-paddings {
        padding: 5px !important;
    }
    .data {
        float: left;
        width: 45%;
        text-align: left;
    }
    .cap {
        float: left; //margin-right: 12%;
        width: 50%;
        text-align: left;
    }
}