<h2 class="content-block">Numerology</h2>
<div class="dx-card content-block responsive-paddings">
    <form action="your-action" [formGroup]="numerologyForm">
        <div class="dx-fieldset">
            <!-- <div class="dx-fieldset-header">Credentials</div> -->
            <div class="dx-fieldset-column">
                <div class="dx-field">
                    <div class="dx-field-label">Name*</div>
                    <div class="dx-field-value">
                        <dx-text-box formControlName="Name" valueChangeEvent="keyup" placeholder="Enter Name" showClearButton="true"></dx-text-box>
                        <span style="color:red" id='err_Name'></span>
                    </div>
                </div>
                </div>
                <div class="dx-fieldset-column">
                    <div class="dx-field">
                        <div class="dx-field-label">Date of birth*</div>
                        <div class="dx-field-value">
                            <dx-date-box formControlName="Date" type="date" displayFormat="dd/MM/yyyy"  [(ngModel)]="birthDateinDateFormat" [(min)]="mindateinDateFormat"
                            [(max)]="maxdateinDateFormat" dateSerializationFormat="yyyy-MM-dd" [useMaskBehavior]="true">
                            </dx-date-box>
                            </div>
                    </div>
                    </div>
                <div class="clear"></div>
                <div class="dx-fieldset-column">
                        <div class="dx-field">
                            <div class="dx-field-label">Gender*</div>
                            <div class="dx-field-value">
                                <dx-radio-group
                                 [dataSource]="genderdata" 
                                 [value]="genderValue"
                                 displayExpr="Text"
                                 valueExpr="Id" 
                                 (onValueChanged)="onGenderChanged($event)" 
                                 layout="horizontal">
                                </dx-radio-group>
                            </div>
                        </div>
                </div>
                <div class="dx-fieldset-column">
                    <div class="dx-field">
                        <div class="dx-field-label">Languages*</div>
                        <div class="dx-field-value">
                          <dx-select-box
                          [dataSource]="languagedata"
                          (onValueChanged)="languagedataSelection($event)"
                          displayExpr="Text"
                          valueExpr="Id"
                          [searchEnabled]="true"
                          [value]="languagevalue" >
                      </dx-select-box>
                        </div>
                    </div>
                </div>                        
                        <div class="clear"></div>
                        <div class="dx-fieldset-column">
                            <div class="dx-field">
                                <div class="dx-field-label">Report Size*</div>
                                <div class="dx-field-value">
                                  <dx-select-box 
                                  (onValueChanged)="reportSizedataSelection($event)"
                                      [dataSource]="reportSizedata"
                                      displayExpr="Text"
                                      valueExpr="Id"
                                      [searchEnabled]="true"
                                      [value]="reportSizevalue">
                                  </dx-select-box>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="dx-card responsive-paddings Optional">
                        <div class="dx-fieldset-header">Optional Fields</div>
                        <div class="dx-fieldset-column">
                            <div class="dx-field">
                                <div class="dx-field-label">House Name</div>
                                <div class="dx-field-value">
                                    <dx-text-box id="txtmname" formControlName="houseName" placeholder="Enter House Name" showClearButton="true"></dx-text-box>
                                </div>
                            </div>
                            </div>
                            <div class="dx-fieldset-column">
                            <div class="dx-field">
                                <div class="dx-field-label">Mobile No</div>
                                <div class="dx-field-value">
                                    <!-- <dx-text-box mode='tel' placeholder="Enter Mobile No here..." mask="0000000000"
                                    maskChar=" "formControlName="mobileNo" [showClearButton]="true">
                                    </dx-text-box> -->
                                    <dx-number-box step='0' valueChangeEvent="keyup" placeholder="Enter Mobile No"
                                    formControlName="mobileNo" [showClearButton]="true">
                                    </dx-number-box>
                                </div>
                            </div>
                            </div>
                            <div class="clear"></div>
                            <div class="dx-fieldset-column">
                                <div class="dx-field">
                                    <div class="dx-field-label">Vehicle No</div>
                                    <div class="dx-field-value" style="text-transform:uppercase" >
                                        <dx-text-box mode='text' valueChangeEvent="keyup" formControlName="vehicleNo" style="text-transform:uppercase" (onInitialized)='onInitialized($event)'[elementAttr]="{ id: 'elementId', class: 'uppercase' }" placeholder="KL14MQ3456" showClearButton="true">
                                            <!-- <dx-validator [validationRules]="loginRules"></dx-validator> -->
                                        </dx-text-box>
                                    </div>
                                </div>
                                </div>
                                <div class="dx-fieldset-column">
                                <div class="dx-field">
                                    <div class="dx-field-label">City Name</div>
                                    <div class="dx-field-value">
                                        <dx-text-box formControlName="cityName" placeholder="Enter City Name" [showClearButton]="true">
                                        </dx-text-box>
                                    </div>
                                </div>
                                </div>
                                <div class="clear"></div>
        </div>
    </div>
        <div class="dx-fieldset submit-btn">
            <dx-validation-summary id="summary"></dx-validation-summary>
            <div class="dx-field">
            <dx-button [disabled]="!numerologyForm.valid" (onClick)='submit_click()'
                id="button"
                text="Submit"
                type="success"  
                [useSubmitBehavior]="true">
            </dx-button>
            </div>
        </div>
    </form>
</div>
