<!-- <footer>
    <div class="dx-card responsive-paddings">
        <div class="dx-card responsive-paddings menu">
          <img src="assets/images/trust.png" style="width: 100%;" />
        </div>
        <div class="dx-card responsive-paddings menu">
          <img src="assets/images/secure .png" style="width: 93%;" />
        </div>
        <div class="dx-card responsive-paddings menu">
          <img src="assets/images/help.png" style="width: 114%;" />
        </div>
        <div class="dx-card responsive-paddings menu">
          <img src="assets/images/shop.png" style="width: 90%;" />
        </div>
      </div>
      
      <div class="dx-card footer-menu-padding">
        <div class=" footer-menu">
          <a [routerLink]="['/aboutus']">About Us</a>
          <a href="#">Services</a>
          <a href="#">Sitemap</a>
        </div>
        <div class=" footer-menu">
          <a [routerLink]="['/privacy']">Privacy Policy</a>
          <a [routerLink]="['/TandC']">Terms of Use</a>
          <a [routerLink]="['/disclaimer']">Disclaimer</a>
        </div>
        <div class="footer-menu">
          <a href="#">Support</a>
          <a href="#">FAQ</a>
          <a [routerLink]="['/contactus']">Contact</a>
        </div>
        <div class=" footer-menu"></div>
      </div>
      <div class="dx-card">
        <div class=" social">
          Payment
          <div class="footer-images">
            <img src="assets/images/master.png" class="footer-image" />
            <img src="assets/images/card.png" class="footer-image" />
            <img src="assets/images/ccard.png" class="footer-image" />
            <img src="assets/images/america.png" class="footer-image" />
          </div>
        </div>
        <div class="social">
          Connect
          <div class="footer-images">
            <img src="assets/images/facebook.png" class="footer-image" />
            <img src="assets/images/twitter.png" class="footer-image" />
            <img src="assets/images/youtube.png" class="footer-image" />
          </div>
        </div>
      </div>
</footer> -->