@import "../../../../themes/generated/variables.base.scss";

:host {
  display: block;
  color: rgba($base-text-color, alpha($base-text-color) * 0.7);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 20px;
  padding-bottom: 24px;
  margin-left: -40px;
  margin-right: -40px;
 // margin-bottom: 20px;
}
.menu{
  padding: 22px;
  width: 22% !important;
  float: left !important;
  margin-left: 20px !important;
  margin-top: 10px;
}
.footer-menu{

  //overflow: hidden;
  bottom: 0;
  width: 22%;
  float: left;
  margin-right: 20px;
 // border: 1px solid #ddd;
}
.footer-menu a{

    //float: left;
    display: block;
    margin-left:75px;
    padding: 4px 6px;
    text-decoration: none;
    color:#797777 !important;
  //  font-size: 17px;
}
.footer-menu-padding{
    padding: 20px;

}
.dx-card{

  border:1px solid #f3dc9d;
}
.social{
  width: 50%;
  padding: 20px;
  float: left;
}
.footer-images{

  margin-top: 10px;
}

.footer-image{

margin-right: 15px;

}