.content-full:hover{

  height: 150px;
  overflow: auto;
}

.content-full{

  height: 150px;
  overflow: hidden;
}
.hlink {
  color: #f7d430;
  font-size: medium;
  font-weight: 500;
  border-bottom: 1px solid;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  cursor: pointer;
  margin-top: 10px;
}

img {
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

h3 {
 
  text-align: center;
  color: #D05B19;
}



:host-context(.screen-x-small) .logos-container {
  svg {
    width: 100%;
    display: block;
    &.plus {
      margin: 0;
    }
  }
}

.dx-card.responsive-paddings{
  padding: 22px;
 // width: 22% !important;
  float: left !important;
  margin-left: 20px !important;
  margin-top: 10px;
  width:23%;
}
.service-list{
  border-radius: 10px;
  background-image: url(/assets/images/Intersection.png);
  background-position-x: left;
  background-position-y: bottom;
  background-repeat: no-repeat;
  
}
.service-list:hover{
box-shadow: 4px 4px 6px #ddd;
}
.dx-button-mode-contained.dx-button-success{
  background-color:rgb(194, 128, 6);

}
@media (max-width: 800px) {
  .dx-fieldset-column {
  float: left;
  width: 100%;
  
  }

  .dx-card.responsive-paddings{
    padding: 20px;
    width: 96% !important;
    float: left !important;
    margin-left: 5px !important;
    margin-top: 10px;

  }
  img {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
h3{
font-size: 16px;
text-align: center;
color: #D05B19;

}
.content-block {
  margin-left: 10px;
  margin-right: 5px;
}
}