<h2 class="content-block">Welcome to Astrolite</h2>
<div class="content-block">
    <div class="dx-card responsive-paddings service-list" (click)='OnAstamangala_Click()'>

<img src="assets/images/Astamangala.png">
<h3>Astamangala</h3>
    </div>
    <div class="dx-card responsive-paddings service-list"  (click)='OnHoroScope_Click()'>
          
  <img src="assets/images/Horoscope.png">
  <h3>Horoscope</h3>
        </div>
        <div class="dx-card responsive-paddings service-list" (click)='OnMatchMaking_Click()'>
               
  <img src="assets/images/MelaMeli.png">
  <h3>  Mela Meli</h3>
    </div>
<div class="dx-card responsive-paddings service-list" (click)='OnMuhurtha_Click()'>
        
<img src="assets/images/Muhurtha.png">
<h3>Muhurtha</h3>
  </div>
  <div class="dx-card responsive-paddings service-list" (click)='OnPanchanga_Click()'>
       
  <img src="assets/images/panchanga.png">
  <h3>Panchanga</h3>
  </div>
<div class="dx-card responsive-paddings service-list" (click)='OnNumerology_Click()'>
        
<img src="assets/images/Sankyashasthra.png">
<h3>Sankyashasthra</h3>
  </div>
  <div class="dx-card responsive-paddings service-list" (click)='OnWalletDeposit_Click()'>
    
<img src="assets/images/Sankyashasthra.png">
<h3>Wallet</h3>
</div>
</div>
<!-- <dx-popover
                target="#link1" 
                position="top"
                [width]="300"
                [(visible)]="defaultVisible">
                <div *dxTemplate="let data = model of 'content'">
                    Make final decision on whether we are going to 
                    increase our Google AdWord spend based 
                    on our 2013 marketing plan.
                </div>
            </dx-popover> -->
