::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(185, 128, 22); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d8860a; 
}

.content-full:hover{

  height: 150px;
  overflow: auto;
}

.content-full{

  height: 150px;
  overflow: hidden;
}
.hlink {
  color: #f7d430;
  font-size: medium;
  font-weight: 500;
  border-bottom: 1px solid;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  cursor: pointer;
  margin-top: 10px;
}

img {
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  cursor: pointer;
}

h3 {
 
  text-align: center;
  color: #D05B19;
}



:host-context(.screen-x-small) .logos-container {
  svg {
    width: 100%;
    display: block;
    &.plus {
      margin: 0;
    }
  }
}

.dx-card.responsive-paddings{
  padding: 22px;
 // width: 22% !important;
  float: left !important;
  margin-left: 20px !important;
  margin-top: 10px;
  width:23%;
}

.service-list{
  border-radius: 10px;
  background-image: url(/assets/images/Intersection.png);
  background-position-x: left;
  background-position-y: bottom;
  background-repeat: no-repeat;
}

.service-image {
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  cursor: pointer;
}

.service-list:hover{
box-shadow: 4px 4px 6px #ddd;
}
.dx-button-mode-contained.dx-button-success{
  background-color:rgb(194, 128, 6);

}
.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 58%;
  left: 45%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  font-weight: bold;
}


@media (max-width: 800px) {
  .dx-fieldset-column {
  float: left;
  width: 100%;
  
  }

  .dx-card.responsive-paddings{
    padding: 20px;
    width: 96% !important;
    float: left !important;
    margin-left: 5px !important;
    margin-top: 10px;

  }
  img {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
h3{
font-size: 16px;
text-align: center;
color: #D05B19;

}
.content-block {
  margin-left: 10px;
  margin-right: 5px;
}
}