::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(185, 128, 22); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d8860a; 
}
.HindiFont {
  font-family: "hinfontfamily" !important;
  text-align: center;
  font-size: 20px !important;
}
.content-summary {
  height: 150px;
}

.content-full:hover{

  height: 150px;
  overflow: auto;
}

.content-full{

  height: 150px;
  overflow: hidden;
}

.more-menu{
  background-image: url(/assets/images/more-button.png);

  background-repeat: no-repeat;
  padding-right: 50px !important;
  background-position-x: 43px;
  // background-position-y: 1px;
  padding-bottom: 3px !important;
  padding-top: 5px !important;
  font-weight: 600;

}

#gallery{
  cursor: pointer;
}
.dx-toolbar .dx-toolbar-item-content .dx-icon {
  color: #ff5722 !important;
}

.hero-unit {
  background: rgba(250, 246, 227, 1);
  height: 350px;
  background-image: url(/assets/images/slider-pattern.png);
  background-repeat: no-repeat;
  background-position: center;
}

.slider {
  font-size: 40px;
  line-height: normal;
  letter-spacing: -0.03em;
  margin-top: 2px;
  margin-bottom: 2px;
  padding-top: 110px;
  color: #7E3F08;
  text-align: center;
  font-weight: 400;
}
// .service-menu {
//   margin-left: -42px;
//   margin-right: -45px;
// }

.slider2 {
  font-size: 40px;
  line-height: normal;
  letter-spacing: -0.03em;
  font-weight: 400;
  color: #7E3F08;
  text-align: center;
}
.main-content {
  font-size: 40px;
  line-height: normal;
  letter-spacing: -0.03em;
  font-weight: 400;
  color: #D05B19;
  text-align: center;
}
.shloka {
  font-size: 24px;
  line-height: normal;
//  letter-spacing: -0.03em;
  font-weight: 200;
  color: #D05B19;
  text-align: center;
}
.centre-image{
  background-image: url(/assets/images/main-pattern-right.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: top;

}

.space{
  margin-bottom: 10px;

}
.main-image {

  display: flex;
  justify-content: center;
  // background-image: url(/assets/images/Intersection.png);
  // background-repeat: no-repeat;
  // background-position: -9px 287px;
 
}
// Horizontal menu start
ul {
  background-image: url(/assets/images/menu-background.png);
  background-repeat: no-repeat;
  list-style-type: none;
  margin: 0;
  padding: 16px;
  overflow: hidden;
  background-color: #f7d430;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding-left: 6%;
}

li {
  float: left;
//  margin-left: 12px;
  border-right: 1px solid rgba(137, 63, 3, 0.4);
}
// li a:nth-last-child(1){

//   border-right: none;
// }

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: #383131;
  text-align: center;
  padding: 5px 16px;
  text-decoration: none;
  
}

li a:hover:not(.active) {
  background-color: rgb(224, 172, 28);
}

.active {
  background-color: rgb(180, 131, 24);
  color: #fff !important;
}

// Horizontal menu end
.main-slider {
  width: 100%;
}
.dx-menu-horizontal {
  /* height: 100%; */
  height: 55px !important;
}
p {
  text-align: center;
  font-family: open-sans,sans-serif;
  font-weight: 400;
  font-style: normal;
}
.service-header {
  margin-top: 0px;
  padding-top: 32px;
  font-size: 40px;
  font-weight: 400;
  color: #d05b19;
  text-align: center;
  margin-bottom: -5px;
}
.service-image {
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  cursor: pointer;
}

h3 {
  margin-top: 2px;
  text-align: center;
  color: #D05B19;
  cursor: pointer;
}

:host-context(.screen-x-small) .logos-container {
  svg {
    width: 100%;
    display: block;
    &.plus {
      margin: 0;
    }
  }
}

.card-background {
  height: 1450px;
  background: #fadb32;
  background-image: url(/assets/images/bottom-side.png);
  background-repeat: no-repeat;
  background-position-x: right;
    background-position-y: bottom;
}

.service-box {
  padding: 22px;
  width: 23% !important;
  float: left !important;
  margin-left: 20px !important;
  margin-top: 17px;
  border-radius: 10px;
  //   background-image: url(https://testastroapi.azurewebsites.net/assets/images/astrologo.png);
  background-image: url(/assets/images/Intersection.png);
  background-position-x: left;
    background-position-y: bottom;
    background-repeat: no-repeat;
}

.product-box {
  padding: 0px;
  width: 47% !important;
  float: left !important;
  margin-left: 20px;
  margin-top: 10px;
  cursor: pointer;
}
.home-bottom {
  margin-bottom: -43px;
}

.menu {
  padding: 22px;
  width: 22% !important;
  float: left !important;
  margin-left: 20px !important;
  margin-top: 10px;
}
.footer-menu {
  //overflow: hidden;
  bottom: 0;
  width: 22%;
  float: left;
  margin-right: 20px;
  // border: 1px solid #ddd;
}
.footer-menu a {
  //float: left;
  display: block;
  margin-left: 75px;
  padding: 4px 6px;
  text-decoration: none;
  color: #797777 !important;
  //  font-size: 17px;
}
.footer-menu-padding {
  padding: 20px;
}
.dx-card {
  border: 1px solid #f3dc9d;
}
.home-content {
  padding-left: 45px;
  padding-right: 45px;
}
.social {
  width: 50%;
  padding: 20px;
  float: left;
}

.footer-images {
  margin-top: 10px;
}

.footer-image {
  margin-right: 15px;
}
.hlink {
  color: #f7d430;
  font-size: medium;
  font-weight: 500;
  border-bottom: 1px solid;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  cursor: pointer;
  margin-top: 10px;
}
a {
  cursor: pointer;
}
.clear {
    clear: both;
    }

   ::ng-deep footer {
      margin-left: -40px;
      margin-right: -40px;
      margin-bottom: 2px;
      padding-bottom: 2px;
    }


     .dropbtn {
      display: inline-block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    li a:hover, .dropdown:hover .dropbtn {
      background-color: red;
    }
    
    li.dropdown {
      display: inline-block;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    //  margin-top: 16px;
      margin-left: -37px;
      border-radius: 10px;
    
    }
    
    .dropdown-content::before  {
      content: "";
      position: absolute;
      left: calc(50% - 10px);
      margin-top: -7px;
      width: 14px;
      z-index: -1;
      height: 14px;
      background: #fff;
      transform: rotate(45deg);
  }

    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
    }
    
    .dropdown-content a:hover {background-color: #f1f1f1;}
    
    .dropdown:hover .dropdown-content {
      display: block;
    }

   .coming-soon{
    background: url(/assets/images/coming.png) left top no-repeat, url(/assets/images/Intersection.png)left bottom no-repeat,white;

   }



@media (max-width: 800px) {
  .dx-fieldset-column {
    float: left;
    width: 100%;
  }
  

  .dx-card.responsive-paddings {
    padding: 20px;
    width: 95% !important;
    float: left !important;
    margin-left: 5px !important;
    margin-top: 10px;
  }
  h3 {
    font-size: 16px;
  }
  .content-block {
    margin-left: 10px;
    margin-right: 5px;
  }

  .content-block-bottom{
    margin-left: 10px;
    margin-right: 5px;
}
  .slider {
    font-size: 30px;
  }
  .slider2 {
    font-size: 30px;
  }
  .service-menu {
    display: none;
  }
}
@media (max-width: 450px) {


  .product-box {
    padding: 0px;
    width: 100% !important;
    float: left !important;
   margin-left: 0px;
    margin-top: 10px;
    cursor: pointer;
  }
.product-img{
  width: 100%;
}
  .main-content {
    font-size: 16px;
    line-height: normal;
    letter-spacing: -0.03em;
    font-weight: 400;
    color: #D05B19;
    text-align: center;
}
.home-content {
  padding-left: 20px;
  padding-right: 20px;
}
.home-bottom{
  margin-bottom: 2px;
  border-radius: 8px;
}
.card-background{
  height: 3400px;
}
p {
  text-align: justify;
  line-height: 23px;
}

.footer-menu a{
  margin-left: 60px;
}

}
