<h2 class="content-block">Home</h2>
<div class="content-block">
    <div class="dx-card responsive-paddings">
Horoscope
<img src="assets/images/Astamangala.png">
    </div>
    <div class="dx-card responsive-paddings">
  test
  <img src="assets/images/Horoscope.png">
        </div>
        <div class="dx-card responsive-paddings">
  test
  <img src="assets/images/MelaMeli.png">
    </div>
<div class="dx-card responsive-paddings">
Horoscope
<img src="assets/images/Muhurtha.png">
  </div>
  <div class="dx-card responsive-paddings">
   Horoscope
  <img src="assets/images/panchanga.png">
  </div>
<div class="dx-card responsive-paddings">
  Horoscope
<img src="assets/images/Sankyashasthra.png">
  </div>
</div>
