.hero-unit{

  background: 50% 50% no-repeat #709df0;
  background: rgba(241,231,103,1);
background: -moz-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(241,231,103,1)), color-stop(100%, rgba(254,182,69,1)));
background: -webkit-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
background: -o-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
background: -ms-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
background: linear-gradient(to right, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645', GradientType=1 );
  background-size: cover,100%;

}

.slider{
  font-size: 64px;
  line-height: normal;
  letter-spacing: -.03em;
  margin-top: 2px;
  margin-bottom: 2px;

}

.main-slider{

    margin-left: calc(calc(3 / var(--ion-grid-columns, 12)) * 100%);
    flex: 0 0 calc(calc(6 / var(--ion-grid-columns, 12)) * 100%);
    width: calc(calc(6 / var(--ion-grid-columns, 12)) * 100%);
    max-width: calc(calc(6 / var(--ion-grid-columns, 12)) * 100%);

}

img{

  width: 100px;
  margin-left: 33px;
}

h3 {
  margin-top: 2px;
}


:host-context(.screen-x-small) .logos-container {
  svg {
    width: 100%;
    display: block;
    &.plus {
      margin: 0;
    }
  }
}

.dx-card.responsive-paddings{
  padding: 22px;
  width: 30% !important;
  float: left !important;
  margin-left: 20px !important;
  margin-top: 10px;
}
.home-content

  {
    padding-left: 40px;
    padding-right: 40px;
}


.hlink {
  color: #d46525;
  font-size: medium;
  font-weight: 500;
  border-bottom: 1px solid;
  width: 100px;
  margin-left: 30%;
}

@media (max-width: 800px) {
  .dx-fieldset-column {
  float: left;
  width: 100%;
  
  }

  .dx-card.responsive-paddings{
    padding: 20px;
    width: 48% !important;
    float: left !important;
    margin-left: 5px !important;
    margin-top: 10px;

  }
  img {
    width: 150px;
    margin-left: 6%;
}
h3{
font-size: 16px;

}
.content-block {
  margin-left: 10px;
  margin-right: 5px;
}
}