
    <div class="hero-unit">
        <div class="main-slider">
      <div class="dx-card product-list">
        <div class="product-image">
          <img src="assets/images/MelaMeli.png" class="service-image">
        </div>


          <div class="discription">
        <p>Horoscope Match Making 200 Years Panchanga</p>
        <p>Motive of Horoscope as per astrology</p>
        <p>Shloka Also Included</p>
      </div>
      <dx-button id="button"text="Explore More" type="success" [useSubmitBehavior]="true"></dx-button>
      
        
      </div>

      <div class="dx-card product-list">
          <div class="product-image">
            <img src="assets/images/MelaMeli.png" class="service-image">
          </div>
  
  
            <div class="discription">
          <p>Horoscope Match Making 200 Years Panchanga</p>
          <p>Motive of Horoscope as per astrology</p>
          <p>Shloka Also Included</p>
        </div>
        <dx-button id="button"text="Explore More" type="success" [useSubmitBehavior]="true"></dx-button>
        
          
        </div>

        <div class="dx-card product-list">
            <div class="product-image">
              <img src="assets/images/MelaMeli.png" class="service-image">
            </div>
    
    
              <div class="discription">
            <p>Horoscope Match Making 200 Years Panchanga</p>
            <p>Motive of Horoscope as per astrology</p>
            <p>Shloka Also Included</p>
          </div>
          <dx-button id="button"text="Explore More" type="success" [useSubmitBehavior]="true"></dx-button>
          
            
          </div>
      </div>

   
     