<h2 class="content-block">FAQ</h2>
<div class="dx-card content-block responsive-paddings">
  <p><strong>೧. &nbsp;ಈ ವೆಬ್&zwnj;ಸೈಟ್&zwnj;ನಲ್ಲಿ ರಿಜಿಸ್ಟರ್ ಮಾಡುವ &nbsp;ವಿಧಾನವನ್ನು ತಿಳಿಸಿ.</strong></p>

  <p>ವೆಬ್&zwnj;ಸೈಟ್&zwnj;ನಲ್ಲಿ ರಿಜಿಸ್ಟರ್ ಮಾಡಲು, ಮೊದಲಿಗೆ ವೆಬ್&zwnj;ಸೈಟ್&zwnj;ನ ಮೇಲ್ಭಾಗದಲ್ಲಿ ಕಾಣಿಸುವ &quot;ರಿಜಿಸ್ಟರ್&quot; ಬಟನ್ ಕ್ಲಿಕ್ ಮಾಡಬೇಕು.ನಂತರ ಕಾಣುವ ಪುಟದಲ್ಲಿ ನಿಮ್ಮ ಮೊಬೈಲ್ ನಂಬರ್ ಅಥವಾ ಇ-ಮೇಲ್ &nbsp;ಮತ್ತು ಪಾಸ್&zwnj;ವರ್ಡ್ ಕೊಡಬೇಕು. ಅನಂತರ ರಿಜಿಸ್ಟರ್ ಬಟನ್ ಕ್ಲಿಕ್ ಮಾಡಬೇಕು.ಅದಾಗಿ ಎರಡು ನಿಮಿಷದಲ್ಲಿ &nbsp;ನೀವು ರಿಜಿಸ್ಟರ್ ಮಾಡಿದ ಮೊಬೈಲ್ ನಂಬರ್ ಅಥವಾ ಇ-ಮೇಲ್&zwnj;ಗೆ OTP ಬರುತ್ತದೆ. OTP ಯನ್ನು ಬರೆದು &nbsp;&quot;Submit&quot; ಕ್ಲಿಕ್ ಮಾಡಿದರೆ ನೀವು Astrolite ನ ಮೆಂಬರ್ ಆಗುವಿರಿ.</p>
  
  <p>
    <br>
  </p>
  
  <p><strong>೨. ಒಂದು ಮೊಬೈಲ್ ನಂಬರ್ ಅಥವಾ ಇ-ಮೇಲ್ &nbsp;ಮೂಲಕ ಎಷ್ಟು ಬಾರಿ ರಿಜಿಸ್ಟರ್ ಮಾಡಬಹುದು?</strong></p>
  
  <p>ಒಂದು ಬಾರಿ ರಿಜಿಸ್ಟರ್ ಆದ ನಂತರ ಬೇರೆ ಮೊಬೈಲ್ ನಂಬರ್ ಅಥವಾ ಇ-ಮೇಲ್ &nbsp;ಮೂಲಕ ರಿಜಿಸ್ಟರ್ ಆಗುವ ಅವಶ್ಯಕತೆ ಇರುವುದಿಲ್ಲ.ಅಗತ್ಯವಿದ್ದಲ್ಲಿರಿಜಿಸ್ಟ್&zwnj;ರ್ ಆಗಬಹುದು, ಆದರೆ ಒಂದು &nbsp;ಅಂಕೌಟಿನ ವ್ಯಾಲೆಟನ್ನು &nbsp;ಇನ್ನೊಂದರಲ್ಲಿ ಉಪಯೋಗಿಸಲು ಸಾಧ್ಯವಿಲ್ಲ.</p>
  
  <p>
    <br>
  </p>
  
  <p><strong>೩. &nbsp;ವೆಬ್&zwnj;ಸೈಟ್&zwnj;ನಲ್ಲಿ ರಿಜಿಸ್ಟರ್ ಆದ ನಂತರ ಲೋಗಿನ್ ಆಗುವ ವಿಧಾನವನ್ನು ತಿಳಿಸಿ.</strong></p>
  
  <p>ಲೋಗಿನ್&nbsp;&nbsp;ಆಗಲು&nbsp;ನಮ್ಮ&nbsp;ವೆಬ್&zwnj;ಸೈಟ್&zwnj;ನ&nbsp;ಮೇಲ್ಭಾಗದಲ್ಲಿ&nbsp;ಕಾಣಿಸುವ&nbsp;&quot;ಲೋಗಿನ್&nbsp;&quot;&nbsp;ಬಟನ್&nbsp;ಕ್ಲಿಕ್&nbsp;ಮಾಡಬೇಕು.ಆಗ&nbsp;ಸಿಗುವ&nbsp; &nbsp;ಪುಟದಲ್ಲಿ&nbsp;ನಿಮ್ಮ&quot;ಯುಸರ್&nbsp;ನೇಮ್&quot;&nbsp;ಮತ್ತು&nbsp;&quot;ಪಾಸ್&zwnj;ವರ್ಡ&quot;&nbsp;ನ್ನು&nbsp;ಕೊಟ್ಟು&nbsp;ಲೋಗಿನ್&nbsp;&nbsp;ಬಟನ್&nbsp;ಕ್ಲಿಕ್&nbsp;ಮಾಡಬೇಕು.</p>
  
  <p>&nbsp;</p>
  
  <p><strong>೪. ರಿಜಿಸ್ಟರ್ ಆಗುವ ಸಂದರ್ಭದಲ್ಲಿ ಕೊಟ್ಟ &nbsp;ಪಾಸ್&zwnj;ವರ್ಡನ್ನು ಮತ್ತೆ ಬೇಕಾದಾಗ ಬದಲಾಯಿಸಿಕೊಳ್ಳಬಹುದೇ?</strong></p>
  
  <p>ನಿಮ್ಮ &nbsp;ಪಾಸ್&zwnj;ವರ್ಡನ್ನು &nbsp;ಯಾವುದೇ ಸಮಯದಲ್ಲಿ ನಿಮಗೆ ಬದಲಾಯಿಸಬಹುದು.ಅದಕ್ಕಾಗಿ ಎರಡು ವಿಧಾನಗಳಿವೆ.</p>
  
  <p>&nbsp;೧. ಲೋಗಿನ್ ಆಗುವ ಮೊದಲು &quot;Forgot password&quot; ಅನ್ನು ಕ್ಲಿಕ್ ಮಾಡಿರಿ.ಆಗ ಬರುವ ಪುಟದಲ್ಲಿ &quot;User name&quot; ಕೊಟ್ಟು &quot;Get OTP&quot; ಯನ್ನು ಕ್ಲಿಕ್ ಮಾಡಿದಾಗ ನಾವು ಕೊಟ್ಟ &quot;User name&quot; ಗೆ OTP ಬರುತ್ತದೆ. ಈ OTP ಯನ್ನು ಅಲ್ಲಿ ಇರುವ ಫ಼ೊರ್ಮ್ ನಲ್ಲಿ ಕೊಟ್ಟು &quot;Submit&quot; ಕ್ಲಿಕ್ ಮಾಡಿ ಹೊಸ ಪಾಸ್&zwnj;ವರ್ಡ್ ಬರೆದು &quot;Change Password&quot; ನ್ನು ಕ್ಲಿಕ್ ಮಾಡಬೇಕು.</p>
  
  <p>ಅಥವಾ&nbsp;</p>
  
  <p>೨.ಲೋಗಿನ್ ಆದ ನಂತರ &quot; Settings&quot; ಗೆ ಹೋಗಿ &quot;Change Password&quot; ನ್ನು ಕ್ಲಿಕ್ ಮಾಡಿ ನಂತರ ಹೊಸ ಪಾಸ್&zwnj;ವರ್ಡ್ ಬರೆದು &quot;Change Password&quot; ನ್ನು ಕ್ಲಿಕ್ ಮಾಡಬೇಕು.</p>
  
  <p>
    <br>
  </p>
  
  <p><strong>೫. ವ್ಯಾಲೆಟ್&zwnj;ಗೆ &nbsp;ಹಣವನ್ನು ಹೇಗೆ &nbsp; ಹಾಕಬಹುದು?</strong></p>
  
  <p>ವ್ಯಾಲೆಟ್&zwnj;ಗೆ&nbsp;&nbsp;ಹಣ&nbsp;ಎರಡು&nbsp;ವಿಧಾನಗಳ&nbsp;ಮೂಲಕ&nbsp;ಹಾಕಬಹುದು.</p>
  
  <p>&quot;Service&quot; &nbsp;ನಲ್ಲಿ&nbsp;ವ್ಯಾಲೆಟ&nbsp;ನ್ನು&nbsp;ಕ್ಲಿಕ್&nbsp;ಮಾಡಿ&nbsp;&nbsp;ಜಮಾಮಾಡಲಿರುವ&nbsp;ಮೊತ್ತವನ್ನು&nbsp;ಬರೆದು&nbsp;&quot;Payment mode&quot;&nbsp;ನಲ್ಲಿ&nbsp;&quot;Online Payment&quot; &nbsp;ಅಥವಾ</p>
  
  <p>&quot;Offline Payment&quot;&nbsp;ನ್ನು&nbsp;ಆಯ್ಕೆ&nbsp;ಮಾಡಬೇಕು.</p>
  
  <p>೧.&nbsp;Online&nbsp;ಮುಖಾಂತರ&nbsp;ನಿಮ್ಮ&nbsp;ಬ್ಯಾಂಕ್&nbsp;ಖಾತೆಯಿಂದ&nbsp;&nbsp;ಪೇಮೆಂಟ್&nbsp;ಗೇಟ್&nbsp;ವೇ&nbsp;ಉಪಯೋಗಿಸಿ&nbsp;ವ್ಯಾಲೆಟ್&zwnj;ಗೆ&nbsp;&nbsp;ಹಣವನ್ನು&nbsp;&nbsp;ಹಾಕಬಹುದು.&nbsp;</p>
  
  <p>ಅಥವಾ&nbsp;</p>
  
  <p>೨. Offline ಆಗಿ ವ್ಯಾಲೆಟ್&zwnj;ಗೆ &nbsp;ಹಣ &nbsp;ಹಾಕುವುದಾದರೆ Offline Payment ನ್ನು ಆಯ್ಕೆ ಮಾಡಿ &nbsp;ಅನಂತರ ಕಾಣುವ ಬ್ಯಾಂಕ್ ಖಾತೆಗೆ ಹಣವನ್ನು ಬ್ಯಾಂಕ್&zwnj;ನ ಮೂಲಕ &nbsp;ಹಾಕಿ ನಿಮ್ಮ Refference id ಅನ್ನು ನಮಗೆ ಕರೆ ಮಾಡಿ ತಿಳಿಸಿ.</p>
  
  <p>
    <br>
  </p>
  
  <p><strong>೬. ವ್ಯಾಲೆಟ್ &nbsp; ನ ಕನಿಷ್ಠ ಹಾಗೂ ಗರಿಷ್ಠ ಬೆಲೆ ಎಷ್ಟು?</strong></p>
  
  <p>&nbsp;ವ್ಯಾಲೆಟ್&nbsp; &nbsp;ನ&nbsp;ಕನಿಷ್ಠ&nbsp;ಬೆಲೆ&nbsp;&nbsp;೫೦&nbsp;ಹಾಗು&nbsp;ಗರಿಷ್ಠ&nbsp;ಬೆಲೆ&nbsp;&nbsp;೨೦೦೦೦&nbsp;ರೂಪಾಯಿ. (&nbsp;೩೦%&nbsp;ದಿಂದ&nbsp;೭೦&nbsp;%&nbsp;ವರೇಗೆ&nbsp;Bonus&nbsp;ಇರುತ್ತದೆ.)</p>
  
  <p>&nbsp;</p>
  
  <p><strong>೭. ಈ ವೆಬ್&zwnj;ಸೈಟನ್ನು ಮೊಬೈಲ್ ನಲ್ಲಿಯೂ ಉಪಯೋಗಿಸಬಹುದೇ?</strong></p>
  
  <p>ಹೌದು.ನಮ್ಮ ವೆಬ್&zwnj;ಸೈಟನ್ನು ಮೊಬೈಲ್ ನಲ್ಲಿಯೂ , ಟ್ಯಾಬ್ ನಲ್ಲಿಯೂ ಯಾವುದೇ Browser ನ ಮೂಲಕ(win/ios/mac) &nbsp; ಉಪಯೋಗಿಸಬಹುದು.</p>
  
  <p>
    <br>
  </p>
  
  <p><strong>೮. &nbsp;ಆರ್ಡರ್&zwnj;ಗಳನ್ನು ಡೌನ್ಲೋಡ್ ಮಾಡುವ ವಿಧಾನವು ಹೇಗೆ?</strong></p>
  
  <p>&nbsp;ಮೊದಲಿಗೆ ನಮಗೆ ಬೇಕಾದ ಸೇವೆಗಳನ್ನು ಸೆಲೆಕ್ಟ್ ಮಾಡಿ ಅದರಲ್ಲಿ ಅಗತ್ಯವಿರುವ ವಿಷಯಗಳನ್ನು ಕೊಟ್ಟು &quot; Submit &quot; &nbsp;ಕ್ಲಿಕ್ ಮಾಡಬೇಕು.ನಂತರ ಬರುವ ಪುಟದ ಕೆಳಭಾಗದಲ್ಲಿರುವ &quot; Click here &quot; ನ್ನು ಕ್ಲಿಕ್ ಮಾಡಬೇಕು.ಉದಾಹರಣೆಗೆ ನೀವು ಜಾತಕವನ್ನು &nbsp;ಪಡೆಯುವುದಾದರೆ ನಮ್ಮ ವೆಬ್&zwnj;ಸೈಟ್ ನಲ್ಲಿ &quot; Services &quot; ಕ್ಲಿಕ್ ಮಾಡಿ ಅದರಲ್ಲಿ Horoscope ನ್ನು ಆಯ್ಕೆ ಮಾಡಬೇಕು.ನಂತರ ಅದರಲ್ಲಿ ಅಗತ್ಯವಿರುವ ವಿಷಯಗಳನ್ನು ಕೊಟ್ಟು &quot; Submit &quot; &nbsp;ಕ್ಲಿಕ್ ಮಾಡಬೇಕು.ಆಗ ನಿಮಗೆ ಜಾತಕದ ಸಂಕ್ಷಿಪ್ತ ಮಾಹಿತಿಯು ಸಿಗುವುದು. ಈ ಪುಟದ &nbsp;ಕೆಳಗಡೆಯಿರುವ &quot; For detailed Horoscope &quot; ನಲ್ಲಿ &quot; Click here &quot; ಅನ್ನು ಕ್ಲಿಕ್ ಮಾಡಬೇಕು. ನಂತರ ಜಾತಕದ &quot; Price list &quot; ನ್ನು ನೋಡಬಹುದು . ಅದರಲ್ಲಿರುವ &quot; select &quot; ಬಟನ್ ಕ್ಲಿಕ್ ಮಾಡಿ ನಂತರದ ಪುಟದಲ್ಲಿ &quot; Place Order &quot; ನ್ನು ಕ್ಲಿಕ್ ಮಾಡಬೇಕು. ನಂತರ ಕಾಣಿಸುವ &quot; Payment &quot; ಪುಟದಲ್ಲಿ ಬೇಕಾದ &quot; Payment mode &quot; ನ್ನು ಆಯ್ಕೆ ಮಾಡಿ &nbsp;ಅನಂತರ &quot; Continue &quot; &nbsp;ಕ್ಲಿಕ್ ಮಾಡಬೇಕು. ಇದಾದ ಎರಡು ಮೂರು ನಿಮಿಷಗಳಲ್ಲಿ ನಿಮ್ಮ &nbsp;Order download ಆಗುವುದು.</p>
  
  <p><strong>&nbsp;</strong></p>
  
  <p><strong>೯. ಆರ್ಡರ್ ನ print copy &nbsp;ಹೇಗೆ ಪಡೆಯಬಹುದು?</strong></p>
  
  <p>ಉದಾಹರಣೆಗೆ ನೀವು ಜಾತಕವನ್ನು &nbsp;ಪಡೆಯುವುದಾದರೆ ನಮ್ಮ ವೆಬ್&zwnj;ಸೈಟ್ ನಲ್ಲಿ &quot; Services &quot; ಕ್ಲಿಕ್ ಮಾಡಿ ಅದರಲ್ಲಿ Horoscope &nbsp;ನ್ನು ಆಯ್ಕೆ ಮಾಡಬೇಕು.ನಂತರ ಅದರಲ್ಲಿ ಅಗತ್ಯವಿರುವ ವಿಷಯಗಳನ್ನು ಕೊಟ್ಟು &quot; Submit &quot; &nbsp;ಕ್ಲಿಕ್ ಮಾಡಬೇಕು.ಆಗ ನಿಮಗೆ ಜಾತಕದ ಸಂಕ್ಷಿಪ್ತ ಮಾಹಿತಿಯು ಸಿಗುವುದು. ಈ ಪುಟದ &nbsp;ಕೆಳಗಡೆಯಿರುವ &quot; For detailed Horoscope &quot; ನಲ್ಲಿ &quot; Click here &quot; ಅನ್ನು ಕ್ಲಿಕ್ ಮಾಡಬೇಕು. ನಂತರ ಜಾತಕದ &quot; Price list &quot; ನ್ನು ನೋಡಬಹುದು. ಅದರಲ್ಲಿ &quot; Hardcopy required &quot; ಅನ್ನು ಕ್ಲಿಕ್ ಮಾಡಿ &nbsp;ಕಳುಹಿಸಬೇಕಾದ ವಿಳಾಸವನ್ನು ಬರೆದು &quot; Place Order &quot; ನ್ನು ಕ್ಲಿಕ್ ಮಾಡಬೇಕು.ನಂತರ ಕಾಣಿಸುವ &quot; Payment &quot; ಪುಟದಲ್ಲಿ ಬೇಕಾದ &quot; Payment mode &quot; ಆಯ್ಕೆ ಮಾಡಿ &nbsp;ಅನಂತರ &quot; Continue &quot; &nbsp;ಕ್ಲಿಕ್ ಮಾಡಬೇಕು.ಇದಾದ ಎರಡು ಮೂರು ನಿಮಿಷಗಳಲ್ಲಿ ನಿಮ್ಮ &nbsp;Order download ಆಗುವುದರ ಜೊತೆಗೆ &nbsp;Order Request ನಮಗೆ ತಲುಪುವುದು.ನೀವು Order ಕೊಟ್ಟ ದಿನದಂದು ಅಥವಾ ಕಚೇರಿಯ ಮುಂದಿನ ದಿನದಲ್ಲಿ ನಾವು print copy ಯನ್ನು ಕಳುಹಿಸಿ ಕೊಡುತ್ತೇವೆ.</p>
  
  <p>&nbsp;</p>
  
  <p><strong>೧೦. ಎಷ್ಟು ದಿನಗಳಲ್ಲಿ ಪ್ರಿಂಟ್ ಕೋಪಿ ನಮ್ಮ ಕೈ ಸೇರುತ್ತದೆ?</strong></p>
  
  <p>.ನೀವು Order ಕೊಟ್ಟ ದಿನದಂದು ಅಥವಾ ಕಚೇರಿಯ ಮುಂದಿನ ದಿನದಲ್ಲಿ ನಾವು print copy ಯನ್ನು ಕಳುಹಿಸಿ ಕೊಡುತ್ತೇವೆ. ಅಂಚೆ ವೆಚ್ಚ ಪ್ರತ್ಯೇಕವಿರುವುದಿಲ್ಲ. print copy ಯನ್ನು ಕಳುಹಿಸುವ ವ್ಯವಸ್ಥೆಯು &nbsp;ಭಾರತಕ್ಕೆ ಮಾತ್ರ ಸೀಮಿತವಾಗಿರುತ್ತದೆ.( Print copy service is within india only).</p>
  
  <p>
    <br>
  </p>
  
  <p><strong>೧೧. ಯಾವೆಲ್ಲ ಭಾಷೆಗಳಲ್ಲಿ ತಮ್ಮ ಸೇವೆಗಳು ಲಭ್ಯವಿದೆ ?</strong></p>
  
  <p>ಕನ್ನಡ,ಮಲಯಾಳಂ,&nbsp;ಹಿಂದಿ,ಇಂಗ್ಲೀಷ್&nbsp;ಹಾಗು&nbsp;ತಮಿಳ್&nbsp;ಭಾಷೆ&nbsp;ಗಳಲ್ಲಿ&nbsp;ನಮ್ಮ&nbsp;ಸೇವೆಗಳನ್ನು&nbsp;ಪಡೆಯಬಹುದು.</p>
  
  <p>
    <br>
  </p>
  
  <p><strong>೧೨. &nbsp;ಈ ವೆಬ್&zwnj;ಸೈಟ್ ನಿಂದ Software ಖರೀದಿಸುವ ವಿಧಾನವು &nbsp;ಹೇಗೆ?</strong></p>
  
  <p>ಮೊದಲಿಗೆ ನಮ್ಮ ವೆಬ್&zwnj;ಸೈಟ್&zwnj;ನ ಮೇಲ್ಭಾಗದಲ್ಲಿ ಕಾಣುವ &quot; Products &quot; ನ್ನು ಕ್ಲಿಕ್ ಮಾಡಬೇಕು.ನಂತರದ ಪುಟದಲ್ಲಿ ನಮ್ಮ &quot; Software &quot; ನ ಮಾಹಿತಿಗಳನ್ನು ಕಾಣಬಹುದು.ನಿಮಗೆ ಬೇಕಾದ Software &nbsp;ನ್ನು &quot; Purchase &quot; &nbsp;ಮಾಡಲು ಅದರ ಮುಂದಿರುವ &quot; Explore more &quot; ನ್ನು ಕ್ಲಿಕ್ ಮಾಡಬೇಕು. ನಂತರದ ಪುಟದಲ್ಲಿ &quot; Price list &quot; &nbsp;ನ್ನು ಕಾಣಬಹುದು.&quot; Payment mode &quot; &nbsp;ನಲ್ಲಿ ನಿಮಗೆ ಬೇಕಾದ mode ನ್ನು ಕ್ಲಿಕ್ ಮಾಡಿ &quot; Buy now &quot;ನ್ನು ಕ್ಲಿಕ್ ಮಾಡಬೇಕು.&quot; Payment &quot; ಪೂರ್ಣಗೊಂಡ ನಂತರ ನಿಮ್ಮ &quot; Products &quot; ನ್ನು &quot; Order history &quot; ಯಿಂದ ಡೌನ್ಲೋಡ್ ಮಾಡಬಹುದು.ನಿಮ್ಮ order ಪೂರ್ಣಗೊಂಡು ಒಂದು ದಿವಸದೊಳಗೆ ನಾವು ನಿಮ್ಮನ್ನು ಸಂಪರ್ಕಿಸಿ ವಿವರವಾದ ಮಾಹಿತಿಯನ್ನು ಕೊಡುವೆವು.ಅಥವಾ ನೀವು ಈ ದೂರವಾಣಿ ಸಂಖ್ಯೆಯ ( 6282614041 , 8848872902 ) ಮೂಲಕ ನಮ್ಮನ್ನು ಸಂಪರ್ಕಿಸಬಹುದು.</p>
  
  <p>
    <br>
  </p>
  
  <p><strong>೧೩. ಈ ಮೊದಲೇ &nbsp;ಆಸ್ಟ್ರೋಲೈಟ್ ಸೋಫ಼್ಟ್&zwnj;ವೇರ್ &nbsp;ಮೊದಲೇ ಖರೀದಿಸಿದ್ದರೆ ಈ ವೆಬ್&zwnj;ಸೈಟ್ ನಿಂದ ಏನಾದರೂ &nbsp;ಲಾಭವಿದೆಯೇ?</strong></p>
  
  <p>ಖಂಡಿತವಾಗಿಯೂ ಇದೆ. Laptop/Desktop ಉಪಯೋಗಿಸುವವರು ಮನೆಯಿಂದ ಹೊರಗೆ ಇರುವಾಗ mobile ಮೂಲಕ ಅಥವಾ ಇತರರ &nbsp;mobile/computer &nbsp;ಮೂಲಕವೂ ಈ ಸೌಲಭ್ಯವನ್ನು ಪಡೆಯಬಹುದು.</p>
  
  <p>
    <br>
  </p>
  
  <p><strong>೧೪. ಪ್ರಪಂಚದ ಯಾವುದೇ ಸ್ಥಳದ ಮುಹೂರ್ತವು ಈ ವೆಬ್&zwnj;ಸೈಟ್&zwnj;ನಲ್ಲಿ ಲಭ್ಯವಿದೆಯೇ?</strong></p>
  
  <p>ಹೌದು. ಪ್ರಪಂಚದ ಯಾವುದೇ ಸ್ಥಳದ ಮುಹೂರ್ತವು ಲಭ್ಯವಿದೆ.&nbsp;</p>
  
  <p>
    <br>
  </p>
  
  <p><strong>೧೫. ಪ್ರಪಂಚದ ಯಾವುದೇ ಸ್ಥಳದ ಅಕ್ಷಾಂಶ ರೇಖಾಂಶ ವನ್ನು ಪಡೆಯಬಹುದೇ?</strong></p>
  
  <p>ಹೌದು.&nbsp;ಪ್ರಪಂಚದ&nbsp;ಯಾವುದೇ&nbsp;ಸ್ಥಳದ&nbsp;ಅಕ್ಷಾಂಶ&nbsp;ರೇಖಾಂಶ&nbsp;ವನ್ನು&nbsp;ನಿಮಗೆ&nbsp;ಈ&nbsp;ವೆಬ್&zwnj;ಸೈಟ್&zwnj;ನಲ್ಲಿ&nbsp;ಪಡೆಯಬಹುದು.</p>
  
  <p>
    <br>
  </p>
  
  <p><strong>&nbsp;೧೬. ಆರ್ಡರ್&zwnj;ಗಳನ್ನು ಖರೀದಿಸುವ ಮೊದಲು ಮಾದರಿ ಫ಼ೈಲ್&zwnj;ಗಳನ್ನು ನೋಡಬಹುದೇ?</strong></p>
  
  <p>ಆರ್ಡರ್&zwnj;ಗಳನ್ನು&nbsp;ಖರೀದಿಸುವ&nbsp;ಮೊದಲು&nbsp;Click here to view sample pdf&nbsp;ನ್ನು&nbsp;ಕ್ಲಿಕ್&nbsp;ಮಾಡುವುದರ&nbsp;ಮೂಲಕ&nbsp;ಮಾದರಿ&nbsp;ಫ಼ೈಲ್&zwnj;ಗಳನ್ನು&nbsp;ನೋಡಬಹುದು.</p>
  
  <p>
    <br>
  </p>
  
  <p><strong>&nbsp;೧೭. ಮುಹೂರ್ತ ಹಾಗೂ ಜಾತಕದ Settings change ಮಾಡುವುದು ಹೇಗೆ ?</strong></p>
  
  <p>ಮುಹೂರ್ತದ Settings change ಮಾಡಲು ಮೊದಲಿಗೆ Settings ಗೆ ಹೋಗಿ &quot; Muhurta configuration &quot; &nbsp; ಕ್ಲಿಕ್ ಮಾಡಬೇಕು. ನಂತರ ನಮಗೆ ಬೇಕಾದ &quot; Muhurta type &quot; &nbsp; ಕ್ಲಿಕ್ ಮಾಡಿ &nbsp;ಬೇಕಾದ configuration ಆಯ್ಕೆ ಮಾಡಬೇಕು. ಅನಂತರ &quot; Save &quot; ಕ್ಲಿಕ್ ಮಾಡಬೇಕು.</p>
  
  <p>ಜಾತಕದ &nbsp;Settings change ಮಾಡಲು ಮೊದಲಿಗೆ settings ಗೆ ಹೋಗಿ &quot; General configuration &quot; &nbsp; ಕ್ಲಿಕ್ ಮಾಡಬೇಕು.ನಂತರ ನಮಗೆ ಬೇಕಾದ &nbsp; changes &nbsp;ಮಾಡಿ &nbsp; &quot; Save &quot; ಕ್ಲಿಕ್ ಮಾಡಬೇಕು. &nbsp;</p>
  
  <p>(ಜ್ಯೋತಿಷವನ್ನು&nbsp;ಸರಿಯಾಗಿ&nbsp;ಅಧ್ಯಯನ&nbsp;ಮಾಡಿದವರು&nbsp;ಮಾತ್ರ&nbsp;ಇದರ&nbsp;ಬದಲಾವಣೆಯನ್ನು&nbsp;ಮಾಡಬಹುದು.)</p>
  
  <p>&nbsp;</p>
  
  <p><strong>೧೮. ಈ ವೆಬ್&zwnj;ಸೈಟ್&zwnj;ನಿಂದ ಯಾರಿಗೆಲ್ಲ ಪ್ರಯೋಜನವಿದೆ?</strong></p>
  
  <p>ಇದು&nbsp;ಮುಖ್ಯವಾಗಿ&nbsp;ಜನಸಾಮಾನ್ಯರಿಗೆ&nbsp;ತಮ್ಮ&nbsp;ಜಾತಕ&nbsp;ಫಲ&nbsp;ಚಿಂತನೆ&nbsp;,&nbsp;ವಿವಾಹ&nbsp;,ಸೀಮಂತ,&nbsp;ಅನ್ನ&nbsp;ಪ್ರಾಶನ,ವಾಹನ&nbsp;ಖರೀದಿ&nbsp;ಇತ್ಯಾದಿಗಳಿಗೆ&nbsp;ಮುಹೂರ್ತವನ್ನು&nbsp;ತಿಳಿಯಲು&nbsp;,ಜಾತಕ&nbsp;ಹೊಂದಾಣಿಕೆ&nbsp;ಮಾಡಲು&nbsp;,ಸಂಖ್ಯಾಶಾಸ್ತ್ರ&nbsp;ಇತ್ಯಾದಿಗಳನ್ನು&nbsp;ನೋಡಲು&nbsp;ಉಪಯೋಗಕ್ಕೆ&nbsp;ಬರುವುದು.&nbsp;</p>
    <p>ಜ್ಯೋತಿಷಿಗಳಿಗೆ&nbsp;,ಜ್ಯೋತಿಷ&nbsp;ವಿದ್ಯಾರ್ಥಿಗಳಿಗೆ&nbsp;ಹಾಗು&nbsp;ಜ್ಯೋತಿಷದಲ್ಲಿ&nbsp;ಆಸಕ್ತಿಇರುವ&nbsp;ಎಲ್ಲರಿಗೂ&nbsp;ಪ್ರಯೋಜನಕ್ಕೆ&nbsp;ಬರುವುದು.&nbsp;ಇದು ಸಂಪೂರ್ಣ ಶಾಸ್ತ್ರೀಯವಾಗಿದ್ದು,ನಿಖರವಾದ &nbsp;ಗಣಿತದಿಂದಲೂ ಕೂಡಿದ್ದು &nbsp; ಎಲ್ಲರಿಗೂ ಸುಲಭವಾಗಿ ತಿಳಿಯುವ ಶೈಲಿಯಲ್ಲಿ ಬರೆಯಲಾಗಿದೆ.</p>
  
</div>