<h2 class="content-block">FAQ</h2>
<div class="dx-card content-block responsive-paddings">
  <p><strong>೧</strong><strong>. ಈ ವೆಬ್ಸೈಟ್ನಲ್ಲಿ ರಿಜಿಸ್ಟರ್ ಮಾಡುವ ವಿಧಾನವನ್ನು ತಿಳಿಸಿ.&nbsp;</strong></p>

  <p>ವೆಬ್ಸೈಟ್ನಲ್ಲಿ ರಿಜಿಸ್ಟರ್ ಮಾಡಲು, ಮೊದಲಿಗೆ ವೆಬ್ಸೈಟ್ನ ಮೇಲ್ಭಾಗದಲ್ಲಿ ಕಾಣಿಸುವ &quot;ರಿಜಿಸ್ಟರ್&quot; ಬಟನ್ ಕ್ಲಿಕ್ ಮಾಡಬೇಕು.ನಂತರ ಕಾಣುವ ಪುಟದಲ್ಲಿ ನಿಮ್ಮ ಮೊಬೈಲ್ ನಂಬರ್ ಅಥವಾ ಇ-ಮೇಲ್ ಮತ್ತು ಪಾಸ್ವರ್ಡ್ ಕೊಡಬೇಕು. ಅನಂತರ ರಿಜಿಸ್ಟರ್ ಬಟನ್ ಕ್ಲಿಕ್ ಮಾಡಬೇಕು.ಅದಾಗಿ ಎರಡು ನಿಮಿಷದಲ್ಲಿ ನೀವು ರಿಜಿಸ್ಟರ್ ಮಾಡಿದ ಮೊಬೈಲ್ ನಂಬರ್ ಅಥವಾ ಇ-ಮೇಲ್ಗೆ OTP ಬರುತ್ತದೆ. OTP ಯನ್ನು ಬರೆದು &quot;Submit&quot; ಕ್ಲಿಕ್ ಮಾಡಿದರೆ ನೀವು Astrolite ನ ಮೆಂಬರ್ ಆಗುವಿರಿ.</p>

  <p>

  </p>

  <p><strong>೨. ಒಂದು ಮೊಬೈಲ್ ನಂಬರ್ ಅಥವಾ ಇ-ಮೇಲ್ ಮೂಲಕ ಎಷ್ಟು ಬಾರಿ ರಿಜಿಸ್ಟರ್ ಮಾಡಬಹುದು?&nbsp;</strong></p>

  <p>ಒಂದು ಬಾರಿ ರಿಜಿಸ್ಟರ್ ಆದ ನಂತರ ಬೇರೆ ಮೊಬೈಲ್ ನಂಬರ್ ಅಥವಾ ಇ-ಮೇಲ್ ಮೂಲಕ ರಿಜಿಸ್ಟರ್ ಆಗುವ ಅವಶ್ಯಕತೆ ಇರುವುದಿಲ್ಲ.ಅಗತ್ಯವಿದ್ದಲ್ಲಿರಿಜಿಸ್ಟ್ರ್ ಆಗಬಹುದು, ಆದರೆ ಒಂದು ಅಂಕೌಟಿನ ವ್ಯಾಲೆಟನ್ನು ಇನ್ನೊಂದರಲ್ಲಿ ಉಪಯೋಗಿಸಲು ಸಾಧ್ಯವಿಲ್ಲ.</p>

  <p>

  </p>

  <p><strong>೩. ವೆಬ್ಸೈಟ್ನಲ್ಲಿ ರಿಜಿಸ್ಟರ್ ಆದ ನಂತರ ಲೋಗಿನ್ ಆಗುವ ವಿಧಾನವನ್ನು ತಿಳಿಸಿ.&nbsp;</strong></p>

  <p>ಲೋಗಿನ್ ಆಗಲು ನಮ್ಮ ವೆಬ್ಸೈಟ್ನ ಮೇಲ್ಭಾಗದಲ್ಲಿ ಕಾಣಿಸುವ &quot;ಲೋಗಿನ್ &quot; ಬಟನ್ ಕ್ಲಿಕ್ ಮಾಡಬೇಕು.ಆಗ ಸಿಗುವ ಪುಟದಲ್ಲಿ ನಿಮ್ಮ&quot;ಯುಸರ್ ನೇಮ್&quot; ಮತ್ತು &quot;ಪಾಸ್ವರ್ಡ&quot; ನ್ನು ಕೊಟ್ಟು ಲೋಗಿನ್ ಬಟನ್ ಕ್ಲಿಕ್ ಮಾಡಬೇಕು.</p>

  <p>

  </p>

  <p><strong>೪. ರಿಜಿಸ್ಟರ್ ಆಗುವ ಸಂದರ್ಭದಲ್ಲಿ ಕೊಟ್ಟ ಪಾಸ್ವರ್ಡನ್ನು ಮತ್ತೆ ಬೇಕಾದಾಗ ಬದಲಾಯಿಸಿಕೊಳ್ಳಬಹುದೇ?&nbsp;</strong></p>

  <p>ನಿಮ್ಮ ಪಾಸ್ವರ್ಡನ್ನು ಯಾವುದೇ ಸಮಯದಲ್ಲಿ ನಿಮಗೆ ಬದಲಾಯಿಸಬಹುದು.ಅದಕ್ಕಾಗಿ ಎರಡು ವಿಧಾನಗಳಿವೆ.</p>

  <p><strong>೧</strong>. ಲೋಗಿನ್ ಆಗುವ ಮೊದಲು &quot;Forgot password&quot; ಅನ್ನು ಕ್ಲಿಕ್ ಮಾಡಿರಿ.ಆಗ ಬರುವ ಪುಟದಲ್ಲಿ &quot;User name&quot; ಕೊಟ್ಟು &quot;Get OTP&quot; ಯನ್ನು ಕ್ಲಿಕ್ ಮಾಡಿದಾಗ ನಾವು ಕೊಟ್ಟ &quot;User name&quot; ಗೆ OTP ಬರುತ್ತದೆ. ಈ OTP ಯನ್ನು ಅಲ್ಲಿ ಇರುವ ಫ಼ೊರ್ಮ್ ನಲ್ಲಿ ಕೊಟ್ಟು &quot;Submit&quot; ಕ್ಲಿಕ್ ಮಾಡಿ ಹೊಸ ಪಾಸ್ವರ್ಡ್ ಬರೆದು &quot;Change Password&quot; ನ್ನು ಕ್ಲಿಕ್ ಮಾಡಬೇಕು. ಅಥವಾ</p>

  <p><strong>೨</strong>.ಲೋಗಿನ್ ಆದ ನಂತರ &quot; Settings&quot; ಗೆ ಹೋಗಿ &quot;Change Password&quot; ನ್ನು ಕ್ಲಿಕ್ ಮಾಡಿ ನಂತರ ಹೊಸ ಪಾಸ್ವರ್ಡ್ ಬರೆದು &quot;Change Password&quot; ನ್ನು ಕ್ಲಿಕ್ ಮಾಡಬೇಕು.</p>

  <p>

  </p>

  <p><strong>೫. ವ್ಯಾಲೆಟ್ಗೆ ಹಣವನ್ನು ಹೇಗೆ ಹಾಕಬಹುದು?&nbsp;</strong></p>

  <p>ವ್ಯಾಲೆಟ್ಗೆ ಹಣ ಎರಡು ವಿಧಾನಗಳ ಮೂಲಕ ಹಾಕಬಹುದು &quot;Service&quot; ನಲ್ಲಿ ವ್ಯಾಲೆಟ ನ್ನು ಕ್ಲಿಕ್ ಮಾಡಿ ಜಮಾಮಾಡಲಿರುವ ಮೊತ್ತವನ್ನು ಬರೆದು &quot;Payment mode&quot; ನಲ್ಲಿ &quot;Online Payment&quot; ಅಥವ &quot;Offline Payment&quot; ನ್ನು ಆಯ್ಕೆ ಮಾಡಬೇಕು.</p>

  <p>೧. Online ಮುಂಖಾತರ ನಿಮ್ಮ ಬ್ಯಾಂಕ್ ಖಾತೆಯಿಂದ ಪೇಮೆಂಟ್ ಗೇಟ್ ವೇ ಉಪಯೋಗಿಸಿ ವ್ಯಾಲೆಟ್ಗೆ ಹಣವನ್ನು ಹಾಕಬಹುದು. ಅಥವಾ</p>

  <p>೨. Offline ಆಗಿ ವ್ಯಾಲೆಟ್ಗೆ ಹಣ ಹಾಕುವುದಾದರೆ Offline Payment ನ್ನು ಆಯ್ಕೆ ಮಾಡಿ ಅನಂತರ ಕಾಣುವ ಬ್ಯಾಂಕ್ ಖಾತೆಗೆ ಹಣವನ್ನು ಬ್ಯಾಂಕ್ನ ಮೂಲಕ ಹಾಕಿ ನಿಮ್ಮ Refference id ಅನ್ನು ನಮಗೆ ಕರೆ ಮಾಡಿ ತಿಳಿಸಿ.</p>

  <p>

  </p>

  <p><strong>೬. ವ್ಯಾಲೆಟ್ ನ ಕನಿಷ್ಠ ಹಾಗೂ ಗರಿಷ್ಠ ಬೆಲೆ ಎಷ್ಟು?&nbsp;</strong></p>

  <p>ವ್ಯಾಲೆಟ್ ನ ಕನಿಷ್ಠ ಬೆಲೆ ೫೦ ಹಾಗು ಗರಿಷ್ಠ ಬೆಲೆ ೨೦೦೦೦ ರೂಪಾಯಿ. ( ೩೦% ದಿಂದ ೭೦ % ವರೇಗೆ Bonus ಇರುತ್ತದೆ.)</p>

  <p>

  </p>

  <p><strong>೭. ಈ ವೆಬ್ಸೈಟನ್ನು ಮೊಬೈಲ್ ನಲ್ಲಿಯೂ ಉಪಯೋಗಿಸಬಹುದೇ?&nbsp;</strong></p>

  <p>ಹೌದು.ನಮ್ಮ ವೆಬ್ಸೈಟನ್ನು ಮೊಬೈಲ್ ನಲ್ಲಿಯೂ , ಟ್ಯಾಬ್ ನಲ್ಲಿಯೂ ಯಾವುದೇ Browser ನ ಮೂಲಕ(win/ios/mac) ಉಪಯೋಗಿಸಬಹುದು.</p>

  <p>

  </p>

  <p><strong>೮. ಆರ್ಡರ್ಗಳನ್ನು ಡೌನ್ಲೋಡ್ ಮಾಡುವ ವಿಧಾನವು ಹೇಗೆ?&nbsp;</strong></p>

  <p>ಮೊದಲಿಗೆ ನಮಗೆ ಬೇಕಾದ ಸೇವೆಗಳನ್ನು ಸೆಲೆಕ್ಟ್ ಮಾಡಿ ಅದರಲ್ಲಿ ಅಗತ್ಯವಿರುವ ವಿಷಯಗಳನ್ನು ಕೊಟ್ಟು &quot; Submit &quot; ಕ್ಲಿಕ್ ಮಾಡಬೇಕು.ನಂತರ ಬರುವ ಪುಟದ ಕೆಳಭಾಗದಲ್ಲಿರುವ &quot; Click here &quot; ನ್ನು ಕ್ಲಿಕ್ ಮಾಡಬೇಕು.ಉದಾಹರಣೆಗೆ ನೀವು ಜಾತಕವನ್ನು ಪಡೆಯುವುದಾದರೆ ನಮ್ಮ ವೆಬ್ಸೈಟ್ ನಲ್ಲಿ &quot; Services &quot; ಕ್ಲಿಕ್ ಮಾಡಿ ಅದರಲ್ಲಿ Horoscope ನ್ನು ಆಯ್ಕೆ ಮಾಡಬೇಕು.ನಂತರ ಅದರಲ್ಲಿ ಅಗತ್ಯವಿರುವ ವಿಷಯಗಳನ್ನು ಕೊಟ್ಟು &quot; Submit &quot; ಕ್ಲಿಕ್ ಮಾಡಬೇಕು.ಆಗ ನಿಮಗೆ ಜಾತಕದ ಸಂಕ್ಷಿಪ್ತ ಮಾಹಿತಿಯು ಸಿಗುವುದು. ಈ ಪುಟದ ಕೆಳಗಡೆಯಿರುವ &quot; For detailed Horoscope &quot; ನಲ್ಲಿ &quot; Click here &quot; ಅನ್ನು ಕ್ಲಿಕ್ ಮಾಡಬೇಕು. ನಂತರ ಜಾತಕದ &quot; Price list &quot; ನ್ನು ನೋಡಬಹುದು . ಅದರಲ್ಲಿರುವ &quot; select &quot; ಬಟನ್ ಕ್ಲಿಕ್ ಮಾಡಿ ನಂತರದ ಪುಟದಲ್ಲಿ &quot; Place Order &quot; ನ್ನು ಕ್ಲಿಕ್ ಮಾಡಬೇಕು. ನಂತರ ಕಾಣಿಸುವ &quot; Payment &quot; ಪುಟದಲ್ಲಿ ಬೇಕಾದ &quot; Payment mode &quot; ನ್ನು ಆಯ್ಕೆ ಮಾಡಿ ಅನಂತರ &quot; Continue &quot; ಕ್ಲಿಕ್ ಮಾಡಬೇಕು. ಇದಾದ ಎರಡು ಮೂರು ನಿಮಿಷಗಳಲ್ಲಿ ನಿಮ್ಮ Order download ಆಗುವುದು.</p>

  <p>

  </p>

  <p><strong>೯. ಆರ್ಡರ್ ನ print copy ಹೇಗೆ ಪಡೆಯಬಹುದು?&nbsp;</strong></p>

  <p>ಉದಾಹರಣೆಗೆ ನೀವು ಜಾತಕವನ್ನು ಪಡೆಯುವುದಾದರೆ ನಮ್ಮ ವೆಬ್ಸೈಟ್ ನಲ್ಲಿ &quot; Services &quot; ಕ್ಲಿಕ್ ಮಾಡಿ ಅದರಲ್ಲಿ Horoscope ನ್ನು ಆಯ್ಕೆ ಮಾಡಬೇಕು.ನಂತರ ಅದರಲ್ಲಿ ಅಗತ್ಯವಿರುವ ವಿಷಯಗಳನ್ನು ಕೊಟ್ಟು &quot; Submit &quot; ಕ್ಲಿಕ್ ಮಾಡಬೇಕು.ಆಗ ನಿಮಗೆ ಜಾತಕದ ಸಂಕ್ಷಿಪ್ತ ಮಾಹಿತಿಯು ಸಿಗುವುದು. ಈ ಪುಟದ ಕೆಳಗಡೆಯಿರುವ &quot; For detailed Horoscope &quot; ನಲ್ಲಿ &quot; Click here &quot; ಅನ್ನು ಕ್ಲಿಕ್ ಮಾಡಬೇಕು. ನಂತರ ಜಾತಕದ &quot; Price list &quot; ನ್ನು ನೋಡಬಹುದು. ಅದರಲ್ಲಿ &quot; Hardcopy required &quot; ಅನ್ನು ಕ್ಲಿಕ್ ಮಾಡಿ ಕಳುಹಿಸಬೇಕಾದ ವಿಳಾಸವನ್ನು ಬರೆದು &quot; Place Order &quot; ನ್ನು ಕ್ಲಿಕ್ ಮಾಡಬೇಕು.ನಂತರ ಕಾಣಿಸುವ &quot; Payment &quot; ಪುಟದಲ್ಲಿ ಬೇಕಾದ &quot; Payment mode &quot; ಆಯ್ಕೆ ಮಾಡಿ ಅನಂತರ &quot; Continue &quot; ಕ್ಲಿಕ್ ಮಾಡಬೇಕು.ಇದಾದ ಎರಡು ಮೂರು ನಿಮಿಷಗಳಲ್ಲಿ ನಿಮ್ಮ Order download ಆಗುವುದರ ಜೊತೆಗೆ Order Request ನಮಗೆ ತಲುಪುವುದು.ನೀವು Order ಕೊಟ್ಟ ದಿನದಂದು ಅಥವಾ ಕಚೇರಿಯ ಮುಂದಿನ ದಿನದಲ್ಲಿ ನಾವು print copy ಯನ್ನು ಕಳುಹಿಸಿ ಕೊಡುತ್ತೇವೆ.</p>

  <p>

  </p>

  <p><strong>೧೦. ಎಷ್ಟು ದಿನಗಳಲ್ಲಿ ಪ್ರಿಂಟ್ ಕೋಪಿ ನಮ್ಮ ಕೈ ಸೇರುತ್ತದೆ?&nbsp;</strong></p>

  <p>.ನೀವು Order ಕೊಟ್ಟ ದಿನದಂದು ಅಥವಾ ಕಚೇರಿಯ ಮುಂದಿನ ದಿನದಲ್ಲಿ ನಾವು print copy ಯನ್ನು ಕಳುಹಿಸಿ ಕೊಡುತ್ತೇವೆ. ಅಂಚೆ ವೆಚ್ಚ ಪ್ರತ್ಯೇಕವಿರುವುದಿಲ್ಲ. print copy ಯನ್ನು ಕಳುಹಿಸುವ ವ್ಯವಸ್ಥೆಯು ಭಾರತಕ್ಕೆ ಮಾತ್ರ ಸೀಮಿತವಾಗಿರುತ್ತದೆ.( Print copy service is within india only).</p>

  <p>

  </p>

  <p><strong>೧೧. ಯಾವೆಲ್ಲ ಭಾಷೆಗಳಲ್ಲಿ ತಮ್ಮ ಸೇವೆಗಳು ಲಭ್ಯವಿದೆ ?&nbsp;</strong></p>

  <p>ಕನ್ನಡ,ಮಲಯಾಳಂ, ಹಿಂದಿ,ಇಂಗ್ಲೀಷ್ ಹಾಗು ತಮಿಳ್ ಭಾಷೆ ಗಳಲ್ಲಿ ನಮ್ಮ ಸೇವೆಗಳನ್ನು ಪಡೆಯಬಹುದು.</p>

  <p>

  </p>

  <p><strong>೧೨. ಈ ವೆಬ್ಸೈಟ್ ನಿಂದ Software ಖರೀದಿಸುವ ವಿಧಾನವು ಹೇಗೆ?&nbsp;</strong></p>

  <p>ಮೊದಲಿಗೆ ನಮ್ಮ ವೆಬ್ಸೈಟ್ನ ಮೇಲ್ಭಾಗದಲ್ಲಿ ಕಾಣುವ &quot; Products &quot; ನ್ನು ಕ್ಲಿಕ್ ಮಾಡಬೇಕು.ನಂತರದ ಪುಟದಲ್ಲಿ ನಮ್ಮ &quot; Software &quot; ನ ಮಾಹಿತಿಗಳನ್ನು ಕಾಣಬಹುದು.ನಿಮಗೆ ಬೇಕಾದ Software ನ್ನು &quot; Purchase &quot; ಮಾಡಲು ಅದರ ಮುಂದಿರುವ &quot; Explore more &quot; ನ್ನು ಕ್ಲಿಕ್ ಮಾಡಬೇಕು. ನಂತರದ ಪುಟದಲ್ಲಿ &quot; Price list &quot; ನ್ನು ಕಾಣಬಹುದು.&quot; Payment mode &quot; ನಲ್ಲಿ ನಿಮಗೆ ಬೇಕಾದ mode ನ್ನು ಕ್ಲಿಕ್ ಮಾಡಿ &quot; Buy now &quot;ನ್ನು ಕ್ಲಿಕ್ ಮಾಡಬೇಕು.&quot; Payment &quot; ಪೂರ್ಣಗೊಂಡ ನಂತರ ನಿಮ್ಮ &quot; Products &quot; ನ್ನು &quot; Order history &quot; ಯಿಂದ ಡೌನ್ಲೋಡ್ ಮಾಡಬಹುದು.ನಿಮ್ಮ order ಪೂರ್ಣಗೊಂಡು ಒಂದು ದಿವಸದೊಳಗೆ ನಾವು ನಿಮ್ಮನ್ನು ಸಂಪರ್ಕಿಸಿ ವಿವರವಾದ ಮಾಹಿತಿಯನ್ನು ಕೊಡುವೆವು.ಅಥವಾ ನೀವು ಈ ದೂರವಾಣಿ ಸಂಖ್ಯೆಯ ( 6282614041 , 8848872902 ) ಮೂಲಕ ನಮ್ಮನ್ನು ಸಂಪರ್ಕಿಸಬಹುದು.</p>

  <p>

  </p>

  <p><strong>೧೩. ಈ ಮೊದಲೇ ಆಸ್ಟ್ರೋಲೈಟ್ ಸೋಫ಼್ಟ್ವೇರ್ ಮೊದಲೇ ಖರೀದಿಸಿದ್ದರೆ ಈ ವೆಬ್ಸೈಟ್ ನಿಂದ ಏನಾದರೂ ಲಾಭವಿದೆಯೇ?&nbsp;</strong></p>

  <p>ಖಂಡಿತವಾಗಿಯೂ ಇದೆ. Laptop/Desktop ಉಪಯೋಗಿಸುವವರು ಮನೆಯಿಂದ ಹೊರಗೆ ಇರುವಾಗ mobile ಮೂಲಕ ಅಥವಾ ಇತರರ mobile/computer ಮೂಲಕವೂ ಈ ಸೌಲಭ್ಯವನ್ನು ಪಡೆಯಬಹುದು.</p>

  <p>

  </p>

  <p><strong>೧೪. ಪ್ರಪಂಚದ ಯಾವುದೇ ಸ್ಥಳದ ಮುಹೂರ್ತವು ಈ ವೆಬ್ಸೈಟ್ನಲ್ಲಿ ಲಭ್ಯವಿದೆಯೇ?&nbsp;</strong></p>

  <p>ಹೌದು. ಪ್ರಪಂಚದ ಯಾವುದೇ ಸ್ಥಳದ ಮುಹೂರ್ತವು ಲಭ್ಯವಿದೆ.</p>

  <p>

  </p>

  <p><strong>೧೫. ಪ್ರಪಂಚದ ಯಾವುದೇ ಸ್ಥಳದ ಅಕ್ಷಾಂಶ ರೇಖಾಂಶ ವನ್ನು ಪಡೆಯಬಹುದೇ?&nbsp;</strong></p>

  <p>ಹೌದು. ಪ್ರಪಂಚದ ಯಾವುದೇ ಸ್ಥಳದ ಅಕ್ಷಾಂಶ ರೇಖಾಂಶ ವನ್ನು ನಿಮಗೆ ಈ ವೆಬ್ಸೈಟ್ನಲ್ಲಿ ಪಡೆಯಬಹುದು.</p>

  <p>

  </p>

  <p><strong>೧೬. ಆರ್ಡರ್ಗಳನ್ನು ಖರೀದಿಸುವ ಮೊದಲು ಮಾದರಿ ಫ಼ೈಲ್ಗಳನ್ನು ನೋಡಬಹುದೇ?&nbsp;</strong></p>

  <p>ಆರ್ಡರ್ಗಳನ್ನು ಖರೀದಿಸುವ ಮೊದಲು Click here to view sample pdf ನ್ನು ಕ್ಲಿಕ್ ಮಾಡುವುದರ ಮೂಲಕ ಮಾದರಿ ಫ಼ೈಲ್ಗಳನ್ನು ನೋಡಬಹುದು.</p>

  <p>

  </p>

  <p><strong>೧೭. ಮುಹೂರ್ತ ಹಾಗೂ ಜಾತಕದ Settings change ಮಾಡುವುದು ಹೇಗೆ ?&nbsp;</strong></p>

  <p>ಮುಹೂರ್ತದ Settings change ಮಾಡಲು ಮೊದಲಿಗೆ Settings ಗೆ ಹೋಗಿ &quot; Muhurta configuration &quot; ಕ್ಲಿಕ್ ಮಾಡಬೇಕು. ನಂತರ ನಮಗೆ ಬೇಕಾದ &quot; Muhurta type &quot; ಕ್ಲಿಕ್ ಮಾಡಿ ಬೇಕಾದ configuration ಆಯ್ಕೆ ಮಾಡಬೇಕು. ಅನಂತರ &quot; Save &quot; ಕ್ಲಿಕ್ ಮಾಡಬೇಕು. ಜಾತಕದ Settings change ಮಾಡಲು ಮೊದಲಿಗೆ settings ಗೆ ಹೋಗಿ &quot; General configuration &quot; ಕ್ಲಿಕ್ ಮಾಡಬೇಕು.ನಂತರ ನಮಗೆ ಬೇಕಾದ changes ಮಾಡಿ &quot; Save &quot; ಕ್ಲಿಕ್ ಮಾಡಬೇಕು.</p>

  <p>(ಜ್ಯೋತಿಷವನ್ನು ಸರಿಯಾಗಿ ಅಧ್ಯಯನ ಮಾಡಿದವರು ಮಾತ್ರ ಇದರ ಬದಲಾವಣೆಯನ್ನು ಮಾಡಬಹುದು.)</p>

  <p>

  </p>

  <p><strong>೧೮. ಈ ವೆಬ್ಸೈಟ್ನಿಂದ ಯಾರಿಗೆಲ್ಲ ಪ್ರಯೋಜನವಿದೆ?&nbsp;</strong></p>

  <p>ಇದು ಮುಖ್ಯವಾಗಿ ಜನಸಾಮಾನ್ಯರಿಗೆ ತಮ್ಮ ಜಾತಕ ಫಲ ಚಿಂತನೆ , ವಿವಾಹ ,ಸೀಮಂತ, ಅನ್ನ ಪ್ರಾಶನ,ವಾಹನ ಖರೀದಿ ಇತ್ಯಾದಿಗಳಿಗೆ ಮುಹೂರ್ತವನ್ನು ತಿಳಿಯಲು ,ಜಾತಕ ಹೊಂದಾಣಿಕೆ ಮಾಡಲು ,ಸಂಖ್ಯಾಶಾಸ್ತ್ರ ಇತ್ಯಾದಿಗಳನ್ನು ನೋಡಲು ಉಪಯೋಗಕ್ಕೆ ಬರುವುದು. ಜ್ಯೋತಿಷಿಗಳಿಗೆ ,ಜ್ಯೋತಿಷ ವಿದ್ಯಾರ್ಥಿಗಳಿಗೆ ಹಾಗು ಜ್ಯೋತಿಷದಲ್ಲಿ ಆಸಕ್ತಿಇರುವ ಎಲ್ಲರಿಗೂ ಪ್ರಯೋಜನಕ್ಕೆ ಬರುವುದು. ಇದು ಸಂಪೂರ್ಣ ಶಾಸ್ತ್ರೀಯವಾಗಿದ್ದು,ನಿಖರವಾದ ಗಣಿತದಿಂದಲೂ ಕೂಡಿದ್ದು ಎಲ್ಲರಿಗೂ ಸುಲಭವಾಗಿ ತಿಳಿಯುವ ಶೈಲಿಯಲ್ಲಿ ಬರೆಯಲಾಗಿದೆ.</p>

  <p>

  </p>

</div>
