<h2 class="content-block">Nithya Panchanga</h2>
<div class="dx-card content-block responsive-paddings">
    <form action="your-action" [formGroup]="panchangaForm">
        <div class="dx-fieldset">
                    <div class="dx-fieldset-column">
                        <div class="dx-field">
                            <div class="dx-field-label">Date</div>
                            <div class="dx-field-value">
                                <dx-date-box formControlName="Date" type="date" displayFormat="dd/MM/yyyy"  [(ngModel)]="birthDateinDateFormat" dateSerializationFormat="yyyy-MM-dd" [useMaskBehavior]="true">
                                </dx-date-box>
                                </div>
                        </div>
                        </div>
                        <div class="dx-fieldset-column">
                            <div class="dx-field">
                                <div class="dx-field-label">Time Format*</div>
                                <div class="dx-field-value">
                                <dx-select-box 
                                (onValueChanged)="timeformatdataSelection($event)"
                                      [dataSource]="timeformatdata"
                                      displayExpr="Text"
                                      valueExpr="Id"
                                      [searchEnabled]="true"
                                      [value]="timeformatvalue">
                                  </dx-select-box>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="dx-fieldset-column">
                            <div class="dx-field">
                                <div class="dx-field-label">Language</div>
                                <div class="dx-field-value">
                                  <!-- <dx-select-box formControlName="language"
                                      [items]="languages"
                                      placeholder="Choose Type"
                                      displayExpr="Text"
                                      valueExpr="Id"
                                      showClearButton="true" [value]="languages[0]"
                                  ></dx-select-box> -->
                                  <dx-select-box
                                  [dataSource]="languagedata"
                                  (onValueChanged)="languagedataSelection($event)"
                                  displayExpr="Text"
                                  valueExpr="Id"
                                  [searchEnabled]="true"
                                  [value]="languagevalue" >
                              </dx-select-box>
                                </div>
                            </div>
                        </div>
                        <div class="dx-fieldset-column">
                            <div class="dx-field">
                                <div class="dx-field-label">Place</div>
                                <div class="dx-field-value">
                                    <dx-text-box id="txtHome" valueChangeEvent="keyup" formControlName="birthPlace" showClearButton="true" [(ngModel)]="panchangaRequest.Place"></dx-text-box>
                                    <p style="color:red" id='err_birthPlace'></p>
                            </div>
                        </div>
                        </div>
                        <div class="clear"></div>
                       
            </div>
    
        <div class="dx-fieldset">
            <dx-validation-summary id="summary"></dx-validation-summary>
    
            <dx-button [disabled]="!panchangaForm.valid" (onClick)='OnSubmit_click()'
                id="button"
                text="Submit"
                type="success"  
                [useSubmitBehavior]="true">
            </dx-button>
        </div>
    </form>
</div>
