<h2 class="content-block">Assign Price List</h2>
<div class="dx-card content-block responsive-paddings">
<dx-data-grid *ngIf="priceList"
    id="gridContainer"
    keyExpr="Id"
    [dataSource]="priceList"
    (onRowRemoving)="onRowRemoving($event)"
    [showBorders]="true">
    <dxo-editing [allowDeleting]="true">
    </dxo-editing>
    <dxo-selection mode="single"></dxo-selection>

    <dxi-column dataField="Category"></dxi-column>
    <dxi-column dataField="PriceList"></dxi-column>
    <dxi-column dataField="Type"></dxi-column>
    <dxi-column dataField="From" caption="FromDate" dataType="date" format="dd/MM/yyyy"></dxi-column>
    <dxi-column dataField="To" dataType="date" dataType="date" format="dd/MM/yyyy"></dxi-column>
    <dxi-column dataField="Override"></dxi-column>
</dx-data-grid>
<div class="dx-fieldset">
    <dx-button id="gridDeleteSelected"
        text="Assign New Price List"
        [height]="34"
        [width]="195"
        (onClick)="OnAssignNewPriceList()">
    </dx-button>
    </div>
</div>
