<h2 class="content-block">Baby Naming</h2>
<div class="dx-card content-block responsive-paddings">
    <form action="your-action" [formGroup]="babyNamingForm">
        <div class="dx-fieldset">
            <div class="dx-fieldset-column">
                <div class="dx-field">
                    <div class="dx-field-label">Date*</div>
                    <div class="dx-field-value">
                        <dx-date-box formControlName="Date" type="date" displayFormat="dd/MM/yyyy" [(ngModel)]="birthDateinDateFormat"
                            [(min)]="mindateinDateFormat" [(max)]="maxdateinDateFormat">
                        </dx-date-box>
                        <!-- <dx-date-box formControlName="Date" pickerType="list" type="date" displayFormat="dd/MM/yyyy"  [(ngModel)]="birthDateinDateFormat" [(min)]="mindateinDateFormat"
                                                            [(max)]="maxdateinDateFormat">
                                                            </dx-date-box> -->
                    </div>
                </div>
            </div>
            <div class="dx-fieldset-column">
                <div class="dx-field">
                    <div class="dx-field-label">Time*</div>
                    <div class="dx-field-value">
                        <!-- <dx-date-box formControlName="Time" width="300" type="datetime" [showClearButton]="true" displayFormat="shortTime" (onOpened)="opened($event)" dateSerializationFormat="HH:mm:ss">
                                                          </dx-date-box> -->
                        <dx-date-box formControlName="Time" type="time" [showClearButton]="true" pickerType="native"
                            [(ngModel)]="birthTimeinDateFormat">
                        </dx-date-box>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <!-- <div class="dx-fieldset-column">
                <div class="dx-field">
                    <div class="dx-field-label">Gender*</div>
                    <div class="dx-field-value">
                        <dx-radio-group [dataSource]="genderdata" [value]="genderValue" displayExpr="Text" valueExpr="Id"
                            (onValueChanged)="onGenderChanged($event)" layout="horizontal">
                        </dx-radio-group>
                    </div>
                </div>
            </div> -->
            <div class="dx-fieldset-column">
                <div class="dx-field">
                    <div class="dx-field-label">Gender*</div>
                    <div class="dx-field-value">
                        <dx-radio-group [dataSource]="genderdata" 
                        [value]="genderValue" 
                        displayExpr="Text" 
                        valueExpr="Id"
                        (onValueChanged)="onGenderChanged($event)" 
                        layout="horizontal">
                        </dx-radio-group>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="dx-fieldset-column">
                <div class="dx-field">
                    <div class="dx-field-label">Time Format*</div>
                    <div class="dx-field-value">
                        <dx-select-box 
                        formControlName="Timeformat" valueChangeEvent="keyup" 
                        (onValueChanged)="timeformatdataSelection($event)" [dataSource]="timeformatdata"
                            displayExpr="Text" valueExpr="Id" [searchEnabled]="true" [value]="timeformatvalue">
                        </dx-select-box>
                        <span style="color:red" id='err_Timeformat'></span>
                    </div>
                </div>
            </div>
            <div class="dx-fieldset-column">
                <div class="dx-field">
                    <div class="dx-field-label">Place*</div>
                    <div class="dx-field-value">
                        <dx-text-box id="txtHome" valueChangeEvent="keyup" formControlName="Place" showClearButton="true" [(ngModel)]="babyNamingRequest.Place"></dx-text-box>
                        <span style="color:red" id='err_Place'></span>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    
        <div class="dx-fieldset submit-btn">   
                <div class="dx-field"> 
            <dx-button [disabled]="!babyNamingForm.valid||!timeZoneName" (onClick)='OnSubmit_click()'
                id="button"
                text="Submit"
                type="success"  
                [useSubmitBehavior]="true">
            </dx-button>
                </div>
        </div>
    </form>
</div>

