<h2 class="content-block">Terms and Conditions</h2>

<div class="dx-card content-block responsive-paddings">

  <ul>
    <li>Mahadeva&rsquo;s Astrolite allows you to access the website www. astrolite.in and all the content in it on certain terms and conditions as specified below. By clicking &ldquo;I Agree&rdquo; button you signify that you agree with all our terms and conditions of use.</li>
    <li>Mahadeva&rsquo;s Astrolite holds all the rights to modify, alter, or add the terms and conditions without any notice to the users of <a href="http://www.astrolite.in">www.astrolite.in</a> . The users agreeing to these conditions only can use our services.&nbsp;</li>
    <li>It is your responsibility to give the necessary information about yourself and its modification can only be possible by you.&nbsp;</li>
    <li>On registration,you can generate your own username and password which is unique for everyone. And every registration is for single user only. If any user has any doubt about misuse of account, it is our advice to change the username and password immediately.&nbsp;</li>
    <li>We reserve the right to terminate your account immediately&nbsp;</li>
  </ul>
  
  <p><span style="color: rgb(184, 49, 47);">*</span> If we are unable to verify your registration data or the information provided by you.</p>
  
  <p><span style="color: rgb(209, 72, 65);">*</span> If we believe that your actions may cause legal liability for you, astrolite.in, or our Some other users</p>
  
  <p>&nbsp;<span style="color: rgb(209, 72, 65);">* </span>If you violated the terms of our Privacy policy.</p>
  
  <ul>
    <li>The services offered by astrolite.in are not meant for replacing the emotional or medical treatment, it is offered here just as service. astrolite.in does not hold any responsibility or liability about the reality or reliability of the astrological effects on the human physiologically.&nbsp;</li>
    <li>Wallet :</li>
  </ul>
  
  <p>The money that you get as reward or add in your wallet can only be used for the online services we provide in our website <a href="http://www.astrolite.in">www.astrolite.in</a> . Wallet cannot be used for any other purpose, not even for buying &ldquo;Astrolite&rdquo; products.</p>
  
  <ul>
    <li>The money you add to your wallet will not be refunded.You can just use it for the e-services we provide.&nbsp;</li>
    <li>In cases of inconvenience, the problem should be informed through Email or can contact our number in during the office time. The problem will be solved as early as possible.&nbsp;</li>
    <li>Hardcopies of any reports will be mailed via courier to the address provided by the purchaser within a week (excluding holidays).</li>
    <li>In case of any defect in the product we supplied, corrected copy will be sent to the purchaser after analyzing and confirming the defect on receipt of information about the defect from the customer.&nbsp; &nbsp; &nbsp;</li>
    <li>We do not consider refunds for incorrect data provided by the customer.Once it reaches the &ldquo;processing stage&rdquo;, you cannot change the data. Therefore please re-check all data entered before processing.&nbsp;</li>
  </ul>
  
  </div>
