<h2 class="content-block">Terms and Conditions</h2>

<div class="dx-card content-block responsive-paddings">

  <ul>
    <li>Mahadeva&rsquo;s Astrolite allows you to access the website <a href="http://www.astrolite.in">www.astrolite.in</a> and all the content in it on certain terms and conditions as specified below. By clicking &ldquo;I Agree&rdquo; button you signify that you agree with all our terms and conditions of use.</li>
    <li>Mahadeva&rsquo;s Astrolite holds all the rights to modify, alter, or add the terms and conditions without any notice to the users of <a href="http://www.astrolite.in">www.astrolite.in</a> . The users agreeing to these conditions only can use our services.&nbsp;</li>
    <li>It is your responsibility to give the necessary information about yourself.&nbsp;</li>
    <li>On registration, you can generate your own username and password which is unique for everyone. Every registration is for single user only. If any user has any doubt with respect to any misuse of account, it is our advice to change the username and password immediately.&nbsp;</li>
    <li>We reserve the right to terminate your account immediately on the following conditions-&nbsp;</li>
  </ul>
  
  <p><span style="color: rgb(184, 49, 47);">*</span> If we are unable to verify your registration data or the information provided by you.</p>
  
  <p><span style="color: rgb(209, 72, 65);">*</span> If we believe that your actions may cause legal liability to you, <a href="http://www.astrolite.in">www.astrolite.in</a>, , or other users</p>
  
  <p>&nbsp;<span style="color: rgb(209, 72, 65);">* </span>If you violated the terms of our Privacy Policy.</p>
  
  <ul>
    <li>The services offered by <a href="http://www.astrolite.in">www.astrolite.in</a> are truly professional and may not be considered a substitute or alternative in any respects. Moreover, we may not be liable to any consequences henceforth, if any, whatsoever.&nbsp;</li>
    <li>Wallet :</li>
  </ul>
  
  <p>The money in the Wallet can only be used to avail our online services through our website <a href="http://www.astrolite.in">www.astrolite.in</a> . The amount in the Wallet may earn rewards or bonus but may not accrue any interest. It shall not be refunded or redeemed to buy &ldquo;Astrolite&rdquo; products.</p>
  
  <ul>
    <li>In case of any inconvenience, the problem should be informed through E-mail or you may contact us during office hours preferably. (09.30 AM- 05.30 PM) (except Sunday) The problem will be solved as early as possible.&nbsp;</li>
    <li>Hardcopies of any requisite reports will be mailed via courier to the address provided by the purchaser within a week. (excluding holidays).</li>
    <li>In case of any defect in our product, rectified copy will be sent to the purchaser on the confirmation of the defect.&nbsp; &nbsp; &nbsp;</li>
    <li>No refunds will be entertained once the data entry reaches the  &ldquo;processing stage&rdquo;. So, the customers are requested hereby to verify all relevant data before submission.&nbsp;</li>
  </ul>
  
  </div>
