<h2 class="content-block">Match Making</h2>
<div class="dx-card content-block responsive-paddings">
        <aw-wizard #wizard [navBarLayout]="'large-empty-symbols'" class="custom-css">
                <aw-wizard-step [stepTitle]="'Enter Girl Details'" [navigationSymbol]="{ symbol: '&#xf182;', fontFamily: 'FontAwesome' }">
            <form action="your-action" [formGroup]="femaleMatchMakingForm">
        <div class="dx-card content-padding responsive-paddings">
        <div class="dx-fieldset">
            <div class="dx-header img">
            <div class="math-image">
                <img src="assets/images/female.png" width="75px">
            </div>
        </div>
        <div class="dx-header head"> 
            <div class="dx-fieldset-header">Enter Girl Details</div>
        </div>
            <div class="clear"></div>
            <div class="dx-fieldset-column">
                <div class="dx-field">
                    <div class="dx-field-label">Name</div>
                    <div class="dx-field-value">
                        <dx-text-box formControlName="femaleName" valueChangeEvent="keyup" placeholder="Enter Name here..." showClearButton="true"></dx-text-box>
                        <p style="color:red" id='err_femaleName'></p>
                    </div>
                </div>
                </div>
                <div class="clear"></div>
                    <div class="dx-fieldset-column">
                        <div class="dx-field">
                            <div class="dx-field-label">Date of birth</div>
                            <div class="dx-field-value">
                                <dx-date-box formControlName="FemaleBdate" type="date" displayFormat="dd/MM/yyyy"  [(ngModel)]="female_birthDateinDateFormat" dateSerializationFormat="yyyy-MM-dd" [useMaskBehavior]="true">
                                </dx-date-box>
                                </div>
                        </div>
                        </div>
                        <div class="dx-fieldset-column">
                        <div class="dx-field">
                            <div class="dx-field-label">Birth Time*</div>
                            <div class="dx-field-value">
                              <!-- <dx-date-box formControlName="Time" width="300" type="datetime" [showClearButton]="true" displayFormat="shortTime" (onOpened)="opened($event)" dateSerializationFormat="HH:mm:ss">
                            </dx-date-box> -->
                            <dx-date-box formControlName="FemaleBtime" type="time" pickerType="rollers" [(ngModel)]="female_birthTimeinDateFormat" dateSerializationFormat="HH:mm:ss">
                            </dx-date-box>
                            </div>
                        </div>
                        </div>
                        <div class="clear"></div>
                        <div class="dx-fieldset-column">
                            <div class="dx-field">
                                <div class="dx-field-label">Time Format*</div>
                                <div class="dx-field-value">
                                <dx-select-box 
                                (onValueChanged)="femaletimeformatdataSelection($event)"
                                      [dataSource]="femaletimeformatdata"
                                      displayExpr="Text"
                                      valueExpr="Id"
                                      [searchEnabled]="true"
                                      [value]="female_timeformatvalue">
                                  </dx-select-box>
                                </div>
                            </div>
                        </div>
                        <div class="dx-fieldset-column">
                            <div class="dx-field">
                                <div class="dx-field-label">Birth Place</div>
                                <div class="dx-field-value">
                                    <dx-text-box id="female_birthplace_txt" valueChangeEvent="keyup" formControlName="FemaleBplace" [(ngModel)]="matchMakingService.female_birthplace" showClearButton="true"></dx-text-box>
                                    <p style="color:red" id='err_FemaleBplace'></p>
                            </div>
                        </div>
                        </div> 
                        <div class="clear"></div>
            <!-- <div class="dx-fieldset-column3">
                <div class="dx-field">
                    <div class="dx-field-label">Latitude</div>
                        <div class="dx-field-value">
                    <dx-number-box formControlName="Female_LatDeg" [disabled]="!checkBoxValue_Female" [(ngModel)]="matchRequest.Female.LatDeg"></dx-number-box>
                    <p style="color:red" id='err_Female_LatDeg'></p>
                    </div>
                </div>
            </div>
            <div class="dx-fieldset-column3">
                <div class="dx-field">
                        <div class="dx-field-value">
                    <dx-number-box formControlName="Female_LatMt" [disabled]="!checkBoxValue_Female" [(ngModel)]="matchRequest.Female.LatMt"></dx-number-box>
                    <p style="color:red" id='err_Female_LatMt'></p>
                    </div>
                </div>
            </div>
            <div class="dx-fieldset-column3">
                <div class="dx-field">
                        <div class="dx-field-value">
                    <dx-text-box formControlName="Female_NS" [disabled]="!checkBoxValue_Female" [(ngModel)]="matchRequest.Female.NS"></dx-text-box>
                    <p style="color:red" id='err_Female_NS'></p>
                        </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="dx-fieldset-column3">
                <div class="dx-field">
                        <div class="dx-field-label" >Longititude</div>
                        <div class="dx-field-value">
                    <dx-number-box formControlName="Female_LongDeg" [disabled]="!checkBoxValue_Female" [(ngModel)]="matchRequest.Female.LongDeg"></dx-number-box>
                    <p style="color:red" id='err_Female_LongDeg'></p>
                        </div>
                </div>
            </div>
            <div class="dx-fieldset-column3">
                <div class="dx-field">
                        <div class="dx-field-value">
                    <dx-number-box formControlName="Female_LongMt" [disabled]="!checkBoxValue_Female" [(ngModel)]="matchRequest.Female.LongMt"></dx-number-box>
                    <p style="color:red" id='err_Female_LongMt'></p>
                    </div>
                </div>
            </div>
            <div class="dx-fieldset-column3">
                <div class="dx-field">
                        <div class="dx-field-value">
                    <dx-text-box formControlName="Female_EW" [disabled]="!checkBoxValue_Female" [(ngModel)]="matchRequest.Female.EW"></dx-text-box>
                    <p style="color:red" id='err_Female_EW'></p>
                        </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="dx-fieldset-column3">
                <div class="dx-field">
                        <div class="dx-field-label" >Zone Time</div>
                        <div class="dx-field-value">
                    <dx-number-box formControlName="Female_ZH" [disabled]="!checkBoxValue_Female" [(ngModel)]="matchRequest.Female.ZH"></dx-number-box>
                    <p style="color:red" id='err_Female_ZH'></p>
                        </div>
                </div>
            </div>
            <div class="dx-fieldset-column3">
                <div class="dx-field">
                        <div class="dx-field-value">
                    <dx-number-box formControlName="Female_ZM" [disabled]="!checkBoxValue_Female" [(ngModel)]="matchRequest.Female.ZM"></dx-number-box>
                    <p style="color:red" id='err_Female_ZM'></p>
                        </div>
                </div>
            </div>
            <div class="dx-fieldset-column3">
                <div class="dx-field">
                        <div class="dx-field-value">
                    <dx-text-box formControlName="Female_PN" [disabled]="!checkBoxValue_Female" [(ngModel)]="matchRequest.Female.PN"></dx-text-box>
                    <p style="color:red" id='err_Female_PN'></p>
                        </div>
                </div>
            </div>
            <div class="clear"></div>
            <p style="color: red">TimeZoneName: {{timeZoneName_Female}}</p>
        </div>
        <div class="dx-fieldset">
            <div>
                <dx-check-box 
                    id="check"
                    [(value)]="checkBoxValue_Female"
                    text="Click here to Edit">
                </dx-check-box>
            </div>
        </div> -->
        <div class="row first-row">
            <div class="first-column">
                <div class="f-label">Latitude</div>
                <div class="first-textbox">
                    <dx-number-box formControlName="Female_LatDeg" [disabled]="true" [(ngModel)]="matchRequest.Female.LatDeg"></dx-number-box>
                </div>
            </div>
        
            <div class="column">
                <div>
                    <dx-number-box formControlName="Female_LatMt" [disabled]="true" [(ngModel)]="matchRequest.Female.LatMt"></dx-number-box>
                </div>
            </div>
            <div class="column">
                <dx-text-box formControlName="Female_NS" [disabled]="true" [(ngModel)]="matchRequest.Female.NS"></dx-text-box>
            </div>
        </div>
        <div class="clear"></div>
        <div class="row">
            <div class="first-column">
                <div class="f-label">Longititude</div>
                <div class="first-textbox">
                    <dx-number-box formControlName="Female_LongDeg" [disabled]="true" [(ngModel)]="matchRequest.Female.LongDeg"></dx-number-box>
                </div>
            </div>
            <div class="column">
                <div>
                    <dx-number-box formControlName="Female_LongMt" [disabled]="true" [(ngModel)]="matchRequest.Female.LongMt"></dx-number-box>
                </div>
            </div>
            <div class="column">
                <div>
                    <dx-text-box formControlName="Female_EW" [disabled]="true" [(ngModel)]="matchRequest.Female.EW"></dx-text-box>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="row">
            <div class="first-column">
                <div class="f-label">Zone Hour</div>
                <div class="first-textbox">
                    <dx-number-box formControlName="Female_ZH" [disabled]="true" [(ngModel)]="matchRequest.Female.ZH"></dx-number-box>
                </div>
            </div>
        
            <div class="column">
                <dx-number-box formControlName="Female_ZM" [disabled]="true" [(ngModel)]="matchRequest.Female.ZM"></dx-number-box>
            </div>
            <div class="column">
                <dx-text-box formControlName="Female_PN" [disabled]="true" [(ngModel)]="matchRequest.Female.PN"></dx-text-box>
            </div>
        </div>
        <div class="clear"></div>
        <p style="color: red">Time Zone: {{timeZoneName_Female}}</p>
        
</div>
<div class="dx-fieldset centered-content">
        <dx-button [disabled]="!femaleMatchMakingForm.valid" text="Continue" type="success"
            [useSubmitBehavior]="true" awNextStep>
        </dx-button>
    </div>
        </div>
    </form>
</aw-wizard-step>
<aw-wizard-step [stepTitle]="'Enter Boy Details'" [navigationSymbol]="{ symbol: '&#xf183;', fontFamily: 'FontAwesome' }">
    <form action="your-action" [formGroup]="maleMatchMakingForm">
            <div class="dx-card content-padding responsive-paddings">
        <div class="dx-fieldset">
                <div class="dx-header img">
                        <div class="math-image">
                            <img src="assets/images/male.png" width="75px">
                        </div>
                    </div>
                    <div class="dx-header head"> 
                            <div class="dx-fieldset-header">Enter Boy Details</div>
                        </div>
                        <div class="clear"></div>
            <div class="dx-fieldset-column">
                <div class="dx-field">
                    <div class="dx-field-label">Name</div>
                    <div class="dx-field-value">
                        <dx-text-box formControlName="maleName" valueChangeEvent="keyup" placeholder="Enter Name here..." showClearButton="true"></dx-text-box>
                        <p style="color:red" id='err_maleName'></p>
                    </div>
                </div>
                </div>
                <div class="clear"></div>
                    <div class="dx-fieldset-column">
                        <div class="dx-field">
                            <div class="dx-field-label">Date of birth</div>
                            <div class="dx-field-value">
                                <dx-date-box formControlName="MaleBdate" type="date" displayFormat="dd/MM/yyyy"  [(ngModel)]="male_birthDateinDateFormat" dateSerializationFormat="yyyy-MM-dd" [useMaskBehavior]="true">
                                </dx-date-box>
                                </div>
                        </div>
                        </div>
                        <div class="dx-fieldset-column">
                        <div class="dx-field">
                            <div class="dx-field-label">Birth Time*</div>
                            <div class="dx-field-value">
                              <!-- <dx-date-box formControlName="Time" width="300" type="datetime" [showClearButton]="true" displayFormat="shortTime" (onOpened)="opened($event)" dateSerializationFormat="HH:mm:ss">
                            </dx-date-box> -->
                            <dx-date-box formControlName="MaleBtime" type="time" pickerType="rollers" [(ngModel)]="male_birthTimeinDateFormat" dateSerializationFormat="HH:mm:ss">
                            </dx-date-box>
                            </div>
                        </div>
                        </div>
                        <div class="clear"></div>
                        <div class="dx-fieldset-column">
                            <div class="dx-field">
                                <div class="dx-field-label">Time Format*</div>
                                <div class="dx-field-value">
                                <dx-select-box 
                                (onValueChanged)="maletimeformatdataSelection($event)"
                                      [dataSource]="maletimeformatdata"
                                      displayExpr="Text"
                                      valueExpr="Id"
                                      [searchEnabled]="true"
                                      [value]="male_timeformatvalue">
                                  </dx-select-box>
                                </div>
                            </div>
                        </div>
                        <div class="dx-fieldset-column">
                            <div class="dx-field">
                                <div class="dx-field-label">Birth Place</div>
                                <div class="dx-field-value">
                                    <dx-text-box id="male_birthplace_txt" valueChangeEvent="keyup" formControlName="MaleBplace"[(ngModel)]="matchMakingService.male_birthplace" showClearButton="true"></dx-text-box>
                                    <p style="color:red" id='err_MaleBplace'></p>
                            </div>
                        </div>
                        </div>
                        <div class="clear"></div>
                       
            <!-- <div class="dx-fieldset-column3">
                <div class="dx-field">
                    <div class="dx-field-label">Latitude</div>
                        <div class="dx-field-value">
                    <dx-number-box formControlName="Male_LatDeg" [disabled]="!checkBoxValue_Male" [(ngModel)]="matchRequest.Male.LatDeg"></dx-number-box>
                    <p style="color:red" id='err_Male_LatDeg'></p>
                    </div>
                </div>
            </div>
            <div class="dx-fieldset-column3">
                <div class="dx-field">
                        <div class="dx-field-value">
                    <dx-number-box formControlName="Male_LatMt" [disabled]="!checkBoxValue_Male" [(ngModel)]="matchRequest.Male.LatMt"></dx-number-box>
                    <p style="color:red" id='err_Male_LatMt'></p>
                    </div>
                </div>
            </div>
            <div class="dx-fieldset-column3">
                <div class="dx-field">
                        <div class="dx-field-value">
                    <dx-text-box formControlName="Male_NS" [disabled]="!checkBoxValue_Male" [(ngModel)]="matchRequest.Male.NS"></dx-text-box>
                    <p style="color:red" id='err_Male_NS'></p>
                        </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="dx-fieldset-column3">
                <div class="dx-field">
                        <div class="dx-field-label" >Longititude</div>
                        <div class="dx-field-value">
                    <dx-number-box formControlName="Male_LongDeg" [disabled]="!checkBoxValue_Male" [(ngModel)]="matchRequest.Male.LongDeg"></dx-number-box>
                    <p style="color:red" id='err_Male_LongDeg'></p>
                        </div>
                </div>
            </div>
            <div class="dx-fieldset-column3">
                <div class="dx-field">
                        <div class="dx-field-value">
                    <dx-number-box formControlName="Male_LongMt" [disabled]="!checkBoxValue_Male" [(ngModel)]="matchRequest.Male.LongMt"></dx-number-box>
                    <p style="color:red" id='err_Male_LongMt'></p>
                    </div>
                </div>
            </div>
            <div class="dx-fieldset-column3">
                <div class="dx-field">
                        <div class="dx-field-value">
                    <dx-text-box formControlName="Male_EW" [disabled]="!checkBoxValue_Male" [(ngModel)]="matchRequest.Male.EW"></dx-text-box>
                    <p style="color:red" id='err_Male_EW'></p>
                        </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="dx-fieldset-column3">
                <div class="dx-field">
                        <div class="dx-field-label" >Zone Time</div>
                        <div class="dx-field-value">
                    <dx-number-box formControlName="Male_ZH" [disabled]="!checkBoxValue_Male" [(ngModel)]="matchRequest.Male.ZH"></dx-number-box>
                    <p style="color:red" id='err_Male_ZH'></p>
                        </div>
                </div>
            </div>
            <div class="dx-fieldset-column3">
                <div class="dx-field">
                        <div class="dx-field-value">
                    <dx-number-box formControlName="Male_ZM" [disabled]="!checkBoxValue_Male" [(ngModel)]="matchRequest.Male.ZM"></dx-number-box>
                    <p style="color:red" id='err_Male_ZM'></p>
                        </div>
                </div>
            </div>
            <div class="dx-fieldset-column3">
                <div class="dx-field">
                        <div class="dx-field-value">
                    <dx-text-box formControlName="Male_PN" [disabled]="!checkBoxValue_Male" [(ngModel)]="matchRequest.Male.PN"></dx-text-box>
                    <p style="color:red" id='err_Male_PN'></p>
                        </div>
                </div>
            </div>
            <div class="clear"></div>
            <p style="color: red">TimeZoneName: {{timeZoneName_Male}}</p>
        </div>
        <div class="dx-fieldset">
            <div>
                <dx-check-box 
                    id="check"
                    [(value)]="checkBoxValue_Male"
                    text="Click here to Edit">
                </dx-check-box>
            </div>
        </div> -->

        <div class="row first-row">
            <div class="first-column">
                <div class="f-label">Latitude</div>
                <div class="first-textbox">
                    <dx-number-box formControlName="Male_LatDeg" [disabled]="true" [(ngModel)]="matchRequest.Male.LatDeg"></dx-number-box>
                </div>
            </div>
        
            <div class="column">
                <div>
                    <dx-number-box formControlName="Male_LatMt" [disabled]="true" [(ngModel)]="matchRequest.Male.LatMt"></dx-number-box>
                </div>
            </div>
            <div class="column">
                <dx-text-box formControlName="Male_NS" [disabled]="true" [(ngModel)]="matchRequest.Male.NS"></dx-text-box>
            </div>
        </div>
        <div class="clear"></div>
        <div class="row">
            <div class="first-column">
                <div class="f-label">Longititude</div>
                <div class="first-textbox">
                    <dx-number-box formControlName="Male_LongDeg" [disabled]="true" [(ngModel)]="matchRequest.Male.LongDeg"></dx-number-box>
                </div>
            </div>
            <div class="column">
                <div>
                    <dx-number-box formControlName="Male_LongMt" [disabled]="true" [(ngModel)]="matchRequest.Male.LongMt"></dx-number-box>
                </div>
            </div>
            <div class="column">
                <div>
                    <dx-text-box formControlName="Male_EW" [disabled]="true" [(ngModel)]="matchRequest.Male.EW"></dx-text-box>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="row first-row">
            <div class="first-column">
                <div class="f-label">Zone Hour</div>
                <div class="first-textbox">
                    <dx-number-box formControlName="Male_ZH" [disabled]="true" [(ngModel)]="matchRequest.Male.ZH"></dx-number-box>
                </div>
            </div>
        
            <div class="column">
                <dx-number-box formControlName="Male_ZM" [disabled]="true" [(ngModel)]="matchRequest.Male.ZM"></dx-number-box>
            </div>
            <div class="column">
                <dx-text-box formControlName="Male_PN" [disabled]="true" [(ngModel)]="matchRequest.Male.PN"></dx-text-box>
            </div>
        </div>
        <div class="clear"></div>
        <p style="color: red">Time Zone: {{timeZoneName_Male}}</p>
    </div>
    <div class="dx-fieldset centered-content">
            <dx-button text="Back" type="success" [useSubmitBehavior]="true" awPreviousStep>
            </dx-button>
            <dx-button [disabled]="!maleMatchMakingForm.valid" text="Continue" type="success" [useSubmitBehavior]="true" awNextStep>
            </dx-button>
            </div>
            </div>
</form>
</aw-wizard-step>
<aw-wizard-step [stepTitle]="'General'" [navigationSymbol]="{ symbol: '&#xf00c;', fontFamily: 'FontAwesome' }">
    <div class="dx-card content-padding responsive-paddings">
        <div class="dx-fieldset-column">
            <div class="dx-field">
                <div class="dx-field-label">Languages*</div>
                <div class="dx-field-value">
                  <!-- <dx-select-box formControlName="language"
                      [items]="languages"
                      placeholder="Choose Type"
                      displayExpr="Text"
                      valueExpr="Id"
                      showClearButton="true" [value]="languages[0]"
                  ></dx-select-box> -->
                  <dx-select-box
                  [dataSource]="languagedata"
                  (onValueChanged)="languagedataSelection($event)"
                  displayExpr="Text"
                  valueExpr="Id"
                  [searchEnabled]="true"
                  [value]="languagevalue" >
              </dx-select-box>
                </div>
            </div>
        </div>
        <div class="dx-fieldset-column">
            <div class="dx-field">
                <div class="dx-field-label">Report Types</div>
                <div class="dx-field-value">
                  <dx-select-box
                  [dataSource]="reportTypedata"
                  (onValueChanged)="reportTypedataSelection($event)"
                  displayExpr="Text"
                  valueExpr="Id"
                  [searchEnabled]="true"
                  [value]="reportTypevalue" >
              </dx-select-box>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="dx-fieldset-column">
            <div class="dx-field">
                <div class="dx-field-label">Report Size</div>
                <div class="dx-field-value">
                  <dx-select-box 
                  (onValueChanged)="reportSizedataSelection($event)"
                      [dataSource]="reportSizedata"
                      displayExpr="Text"
                      valueExpr="Id"
                      [searchEnabled]="true"
                      [value]="reportSizevalue">
                  </dx-select-box>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        
        <div class="dx-field centered-content">
                <dx-button text="Back" type="success" [useSubmitBehavior]="true" awPreviousStep>
                </dx-button>
               <dx-button [disabled]="!femaleMatchMakingForm.valid||!maleMatchMakingForm.valid" (onClick)='Matchmaking_Click()'
                text="Submit"
                type="success"  
                [useSubmitBehavior]="true">
            </dx-button>
                </div>
    </div>
</aw-wizard-step>
</aw-wizard>
</div>
