
.centered-content {
    margin: auto;
    text-align: center;
  }
::ng-deep #summary {
    padding-left: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}

::ng-deep #button {
    display: block;
}

.dx-fieldset-column {
    float: left;
    width: 46%;
    margin-right: 40px;
    margin-top: 24px !important;
}

.dx-fieldset-column3 {
    float: left;
    width: 30%;
    margin-right: 25px;
    margin-top: 24px !important;
}

.clear {
    clear: both;
}

.dx-texteditor-container {
    margin-bottom: 14px;
}

.dx-header {
    margin-right: 20px;
    float: left;
}

.dx-fieldset-header {
    margin-top: 25px;
}
.content-padding{
margin-left: 20px;
margin-right: 20px;
margin-top: 10px;
}
::ng-deep a {
    text-transform: capitalize !important;
}

.dx-fieldset {
    margin: 0;
    padding: 0;
}


@media (max-width: 800px) {
    .dx-fieldset-column {
        float: left;
        width: 100%;
        height: 55px;
    }
    .dx-fieldset-column3 {
        float: left;
        width: 100%;
        /*height:55px;*/
    }
    .dx-field-label {
        width: 60%;
        align-self: flex-end;
    }
    .responsive-paddings {
        padding: 5px;
    }
    .dx-field-value {
        width: 100% !important;
    }
    .column {
        float: left !important;
        width: 22% !important;
        padding: 10px;
    }
    .first-column {
        float: left !important;
        width: 50% !important;
        padding: 10px;
    }
    .first-row {
        margin-top: 30px;
    }
    .dx-card{
        border: none;
    }
    .content-padding{
        margin-left: 2px;
       margin-right: 2px;
        margin-top: 10px;
    }

}

.dx-field-value,
.dx-field-label {
    text-align: left;
}

.column {
    float: left;
    width: 10%;
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.first-column {
    float: left;
    width: 27%;
    padding: 10px 11px 9px 0px;
}

.f-label {
 /*   width: 37%;*/
    float: left;
    margin-top: 10px;
}

.first-textbox {
    width: 30%;
    float: right;
}
