
  
<h2 class="content-block">Report</h2>
<div class="dx-card content-block responsive-paddings  ">
    
  
  <div class="dx-fieldset">
        <div  *ngIf="muhurthaResponse.CountDesc!=null">
                <p style="color:green">Dates With Green Color indicates the Matching Dates</p>
                <p style="color:red">Dates With Red Color indicates the Non-Matching Dates</p>
        </div>
       <p> {{muhurthaResponse.CountDesc}}</p>
    <div >
        <div >
        <!-- <p><span>{{item.Date}}</span><span>{{item.Lagna}}</span></p> -->
        <table>
            <tr *ngFor="let item of muhurthaResponse.MuhurthaDates">
                <td [ngStyle]="{'color':item.Taranukula}" [ngClass]="getFont(muhurthaRequest.LangCode)">
                    {{item.Date}}
                </td>
                <td [ngStyle]="{'color':item.Taranukula}" [ngClass]="getFont(muhurthaRequest.LangCode)">
                    {{item.Lagna}}
                </td>
            </tr>
         </table>  
    </div>
    </div>
    <div class="dx-field"  *ngIf="muhurthaResponse.Comment!=''">
            <div  [ngClass]="getFont(muhurthaRequest.LangCode)">
              {{muhurthaResponse.Comment}}
            </div>  
        </div>
</div>
        <div  *ngIf="muhurthaResponse.CountDesc!=null">
            <dx-button
                  icon="cart"
                  type="success"
                  text="Buy Now"
                  (onClick)="onClick()">
              </dx-button>
          </div>
        
</div>

