
  
<h2 class="content-block">Report</h2>
<div class="dx-card content-block responsive-paddings  ">
    
  <h2  [ngClass]="getFont(muhurthaRequest.LangCode)" style="font-size: 20px !important;text-align: center;font-weight: bold;">{{caption.Muhurtha}}</h2>  
  
  <div class="dx-fieldset">
       <p> {{muhurthaResponse.CountDesc}}</p>
    <div *ngFor="let item of muhurthaResponse.MuhurthaDates">
        <div [ngStyle]="{'color':item.Taranukula}" [ngClass]="getFont(muhurthaRequest.LangCode)">
        <p><span>{{item.Date}}</span><span>{{item.Lagna}}</span></p>
        
    </div>
    </div>
    <div class="dx-field">
            <div class="dx-field-label" [ngClass]="getFont(muhurthaRequest.LangCode)">
              {{muhurthaResponse.Comment}}
            </div>  
        </div>
</div>
        <div class="dx-field-value" *ngIf="muhurthaResponse.CountDesc!=null">
              <p style="color:green">Dates With Green Color indicates the Matching Dates</p>
              <p style="color:red">Dates With Red Color indicates the Non-Matching Dates</p>
            <dx-button
                  icon="cart"
                  type="success"
                  text="Buy Now"
                  (onClick)="onClick()">
              </dx-button>
          </div>
        
</div>

