
<h2 class="content-block">Price List</h2>
<div class="dx-card content-block responsive-paddings price-grid">
<form action="your-action" [formGroup]="priceListForm">
    <div class="dx-fieldset">
        <div class="dx-fieldset-column">
            <div class="dx-field">
                <div class="dx-field-label">Name</div>
                <div class="dx-field-value">
                    <dx-text-box formControlName="Name" valueChangeEvent="keyup" placeholder="Enter Name here..." showClearButton="true"></dx-text-box>
                    <p style="color:red" id='err_Name'></p>
                </div>
            </div>
        </div>
        <div class="dx-fieldset-column">
            <div class="dx-field">
                <div class="dx-field-label">Discount</div>
                <div class="dx-field-value">
                    <dx-number-box formControlName="Formula" valueChangeEvent="keyup" placeholder="Enter Discount here..." showClearButton="true"></dx-number-box>
                    <p style="color:red" id='err_Formula'></p>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>

    <div class="dx-fieldset">
        <div class="dx-field">
            <dx-button [disabled]="!priceListForm.valid" (onClick)='OnGenerate_click()' id="button" text="Generate"
                type="success" [useSubmitBehavior]="true">
            </dx-button>
        </div>
    </div>
</form>
</div>
<div class="dx-card content-block responsive-paddings price-grid">
<div id="data-grid-demo" #datagridBasePrice *ngIf="priceListUpdated">
    <dx-data-grid (onToolbarPreparing)="onToolbarPreparing($event)"
        id="gridContainer"
        [dataSource]="dataSource"
        keyExpr="ItMastId"
        [showBorders]="true">
        
        <dxo-paging [enabled]="false"></dxo-paging>
        <dxo-editing 
            mode="batch">
        </dxo-editing>
        <dxi-column dataField="ItName" caption="Item Name" [allowEditing]="false"></dxi-column>
        <dxi-column dataField="Amount" [width]="100"></dxi-column>
        <dxi-column dataField="PrintAmount" [width]="100"></dxi-column>
    </dx-data-grid>
    <div class="dx-fieldset">
    <dx-button id="gridDeleteSelected"
        text="Save"
        [height]="34"
        [width]="195"
        (onClick)="saveRecords()">
    </dx-button>
    </div>
</div>    
</div>

<dx-popup
    class="popup"
    [width]="250"
    [height]="150"
    [showTitle]="true"
    title="Success"
    [dragEnabled]="false"
    [closeOnOutsideClick]="true"
    [(visible)]="popupVisible">
    <div *dxTemplate="let data of 'content'">
        <p>
            <span>Item Added Successfully</span>
        </p>
        <dx-button text='OK' (onClick)="ClosePopUp()"></dx-button>
    </div>
</dx-popup>