<dx-data-grid 
    id="gridContainer"
    keyExpr="Id"
    [height]="740"
    [dataSource]="employees"
    (onSelectionChanged)="selectionChanged($event)"
    (onContentReady)="contentReady($event)"
    [masterDetail]="{ enabled: false, template: 'detail' }"
    [showBorders]="true">
    <dxo-editing [allowDeleting]="true">
    </dxo-editing>
    <dxo-selection mode="single"></dxo-selection>

    <dxi-column dataField="Name"></dxi-column>
    <dxi-column dataField="Formula"></dxi-column>

    <div *dxTemplate="let employee of 'detail'">
        <dx-data-grid
        id="gridContainer"
        [dataSource]="dataSource"
        keyExpr="Id"
        [showBorders]="true">
        
        <dxo-paging [enabled]="false"></dxo-paging>
        <dxo-editing 
            mode="batch">
        </dxo-editing>
        <dxi-column dataField="Description" [allowEditing]="false"></dxi-column>
        <dxi-column dataField="MRP" [width]="50"></dxi-column>
        <dxi-column dataField="PrintMRP" [width]="80"></dxi-column>
    </dx-data-grid>
    </div>
</dx-data-grid>

<dx-button id="gridDeleteSelected"
        text="Click"
        [height]="34"
        [width]="195"
        (onClick)="click()">
    </dx-button>