<h2 class="content-block">Report</h2>
<div class="dx-card content-block responsive-paddings">

<!-- <dx-data-grid *ngIf="priceList"
    id="gridContainer"
    keyExpr="Id"
    [dataSource]="priceList"
    (onRowExpanded)="selectionChanged($event)"
    (onRowCollapsed)="onRowCollapsed($event)"
    (onRowRemoving)="onRowRemoving($event)"
    [masterDetail]="{ enabled: true, template: 'detail' }"
    [showBorders]="true"> -->
    <dx-data-grid *ngIf="priceList"
    id="gridContainer"
    keyExpr="Id"
    [dataSource]="priceList"
    (onSelectionChanged)="selectionChanged($event)"
    (onRowCollapsed)="onRowCollapsed($event)"
    (onRowRemoving)="onRowRemoving($event)"
    [masterDetail]="{ enabled: false, template: 'detail' }"
    [showBorders]="true">
    <dxo-editing [allowDeleting]="true">
    </dxo-editing>
    <dxo-selection mode="single"></dxo-selection>

    <dxi-column dataField="Name"></dxi-column>
    <dxi-column dataField="Formula" caption="Discount%"></dxi-column>

    <div *dxTemplate="let priceListItem of 'detail'">
        <dx-data-grid
        id="gridContainer"
        [dataSource]="dataSource"
        keyExpr="Id"
        [showBorders]="true">
        
        <dxo-paging [enabled]="false"></dxo-paging>
        <dxo-editing 
            mode="batch">
        </dxo-editing>
        <dxi-column dataField="ItName" caption="Item Name" [allowEditing]="false"></dxi-column>
        <dxi-column dataField="Amount" [width]="80"></dxi-column>
        <dxi-column dataField="PrintAmount" [width]="100"></dxi-column>
    </dx-data-grid>
    </div>
</dx-data-grid>
<div class="dx-fieldset">
<dx-button id="gridDeleteSelected"
        text="Add New Price List"
        [height]="34"
        [width]="195"
        (onClick)="OnAddNewPriceList()">
    </dx-button>
    </div>
</div>
