

// .dx-drawer-content {
//   padding-left: 0px !important;
//   width: 0px !important;
// }

.dx-gallery-item-image {
  max-width: 100%;
   -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  /* align-self: flex-start; */
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  /* flex-shrink: 0; */
  height: auto;
   margin: 0px;
}


.content {
  line-height: 1.5;

  h2 {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
  }
}

.content-block {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;

  .screen-x-small & {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.responsive-paddings {
  padding: 20px;

  .screen-large & {
    padding: 40px;
  }
}

.dx-card.wide-card {
  border-radius: 0;
  margin-left: 0;
  margin-right: 0;
  border-right: 0;
  border-left: 0;
}

.full-height-scrollable > div > div >.dx-scrollable-content {
  height: 100%;

  & > .dx-scrollview-content {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
}
aw-wizard-navigation-bar.horizontal.large-empty-symbols ul.steps-indicator li.done:after{
  color: #D97227 !important;
  border: 2px solid #D97227 !important;

}
.submit-btn{

  display: flex;
  justify-content: center;

}
$side-panel-min-width: 60px;


//User panel for mobile
@media (max-width: 450px){
// .user-panel {
//   margin-left: 46px;
// }

.user-info{
    display: flex;
    align-items: center;
    background: #ee7939;
    border-radius: 5px;
    width: 136px;
    /* margin-left: 51px; */
    border: solid 1px#ee7e3c;
    color: #000;
}
.dx-button-mode-text{

  background-color: transparent;
  border-color: #ffffff;
}
}
//User panel for mobile end
