/* You can add global styles to this file, and also import other style files */


html, body {
  margin: 0px;
  min-height: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}



@font-face {
  font-family: 'kanfontfamily';
   src: url('/assets/fonts/kan.woff')  format('woff'),
   
  
}
@font-face {
  
   font-family: 'hinfontfamily';
   src: url('/assets/fonts/hin.woff')  format('woff'),
  
}

@font-face {
  font-family: 'malfontfamily';
   src: url('/assets/fonts/Mal.woff')  format('woff'),
   
  
}
@font-face {
  
   font-family: 'tamfontfamily';
   src: url('/assets/fonts/Tam.woff')  format('woff'),
  
}
$font-path: "assets/fonts";