/* You can add global styles to this file, and also import other style files */
@import '~@ngx-share/button/themes/default/default-theme';

html, body {
  margin: 0px;
  min-height: 100%;
  height: 100%;
  overflow: overlay;
}

* {
  box-sizing: border-box;
}



// @font-face {
//   font-family: 'kanfontfamily';
//    src: url('/assets/fonts/Nudi01e.woff2')  format('woff2'),
   
  
// }

@font-face {
   font-family: 'kanfontfamily';
   src: local('kanfontfamily'),
     url('/assets/fonts/KAN.woff2')  format('woff2'),
 }
@font-face {
  
   font-family: 'hinfontfamily';
   src: local('hinfontfamily'),
   url('/assets/fonts/HIN.woff2')  format('woff2'),
}

@font-face {
  font-family: 'malfontfamily';
  src: local('malfontfamily'),
    url('/assets/fonts/Mal.woff')  format('woff'),
   url('/assets/fonts/MAL.woff2')  format('woff2'),
  
}
@font-face {
  
   font-family: 'tamfontfamily';
   src: local('tamfontfamily'),
   url('/assets/fonts/Tam.woff')  format('woff'),
   url('/assets/fonts/TAM.woff2')  format('woff2'),
}
$font-path: "assets/fonts";