

    <div class="dx-card content-block responsive-paddings " [ngClass]="getFont(numerologyRequest.LangCode)" *ngFor="let item of numerologyResponse.Predictions "  >
    
        <div class="num-title">{{item.Title}}</div>
        <div class="num-title">: {{item.SubTitle}}</div>
        <div class="clear"></div>
          <div>{{item.Prediction}}</div>

</div>

<div class="dx-card content-block responsive-paddings "    >
    <div class="calender">
            <div class="header">{{manthcaption}}</div>
    <table>
    
    <thead>
    
    <tr>
    <td style='background-color:crimson' [ngClass]="getFont(numerologyRequest.LangCode)" >{{caption.Sunday}}</td>
    <td style='background-color:white' [ngClass]="getFont(numerologyRequest.LangCode)" >{{caption.Monday}}</td>
    <td style='background-color:red' [ngClass]="getFont(numerologyRequest.LangCode)" >{{caption.Tuesday}}</td>
    <td style='background-color:green' [ngClass]="getFont(numerologyRequest.LangCode)" >{{caption.Wednesday}}</td>
    <td style='background-color:yellow' [ngClass]="getFont(numerologyRequest.LangCode)" >{{caption.Thursday}}</td>
    <td style='background-color:white' [ngClass]="getFont(numerologyRequest.LangCode)" >{{caption.Friday}}</td>
    <td style='background-color:#02B0D9' [ngClass]="getFont(numerologyRequest.LangCode)" >{{caption.Saturday}}</td>
    
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of serialseMonth">
    <td [ngStyle]="{'background-color':GetBackColor(item.Sunday),'color':GetForeColor(item.Sunday)}">{{split(item.Sunday)}}</td>
    <td [ngStyle]="{'background-color':GetBackColor(item.Monday),'color':GetForeColor(item.Monday)}">{{split(item.Monday)}}</td>
    <td [ngStyle]="{'background-color':GetBackColor(item.Tuesday),'color':GetForeColor(item.Tuesday)}">{{split(item.Tuesday)}}</td>
    <td [ngStyle]="{'background-color':GetBackColor(item.Wednesday),'color':GetForeColor(item.Wednesday)}">{{split(item.Wednesday)}}</td>
    <td [ngStyle]="{'background-color':GetBackColor(item.Thursday),'color':GetForeColor(item.Thursday)}">{{split(item.Thursday)}}</td>
    <td [ngStyle]="{'background-color':GetBackColor(item.Friday),'color':GetForeColor(item.Friday)}">{{split(item.Friday)}}</td>
    <td [ngStyle]="{'background-color':GetBackColor(item.Saturday),'color':GetForeColor(item.Saturday)}">{{split(item.Saturday)}}</td>
    
    </tr>
    </tbody>
    </table>
    </div>
    </div>
    
<div [ngClass]="getFont(numerologyRequest.LangCode)"  >
<div class="dx-card content-block responsive-paddings">
<div class="dx-card content-block responsive-paddings col-sm-4" style="float:left; background-color:#5FAF0A;color:white"  >

{{caption.VeryGood}}

</div>
<div class="dx-card content-block responsive-paddings ">

{{caption.VeryGoodDesc}}

</div>
</div>
<div class="dx-card content-block responsive-paddings">
<div class="dx-card content-block responsive-paddings col-sm-4" style="float:left; background-color:#02B0D9;color:white"  >


{{caption.Good}}
</div>
<div class="dx-card content-block responsive-paddings ">
{{caption.GoodDesc}}
</div>
</div>

<div class="dx-card content-block responsive-paddings">
<div class="dx-card content-block responsive-paddings col-sm-4" style="float:left; background-color:#FCF40F;color:white"  >
{{caption.Average}}
</div>
<div class="dx-card content-block responsive-paddings ">
{{caption.AverageDesc}}

</div>
</div>
<div class="dx-card content-block responsive-paddings">
<div class="dx-card content-block responsive-paddings col-sm-4" style="float:left; background-color:#AC0B73;color:white"  >
{{caption.NotBad}}
</div>
<div class="dx-card content-block responsive-paddings ">

{{caption.NotBadDesc}}
</div>
</div>
<div class="dx-card content-block responsive-paddings">
<div class="dx-card content-block responsive-paddings col-sm-4" style="float:left; background-color:#D6000A;color:white "  >
{{caption.Weak}}


</div>
<div class="dx-card content-block responsive-paddings">

{{caption.WeakDesc}}

</div>
</div>

</div>

<!-- <div class="dx-card content-block responsive-paddings ">
    <div class="dx-field-value">
          <dx-button
              icon="cart"
              type="success"
              text="Buy Now"
              (onClick)="onClick()">
          </dx-button>
      </div>
  </div> -->

  <!-- <dx-popup
  class="popup"
  [width]="450"
  [height]="650"
  [showTitle]="true"
  title="Login"
  [dragEnabled]="false"
  [closeOnOutsideClick]="true"
  [(visible)]="popupVisible">
  <div *dxTemplate="let data of 'content'">
     
<div class="dx-card content-block responsive-paddings">
    <dx-validation-group>
            <dx-button icon="arrowleft" *ngIf='isOTPRequested' (onClick)='onBackClick()'></dx-button>
        <div class="login-header">
            <div class="title">Astrolite</div>
            <div>Sign In to your account</div>
        </div>
        <form *ngIf='!needtoEnterOTP' [formGroup]="loginForm">
        <div class="dx-field">
            <dx-text-box [(value)]="login" formControlName="UserName" placeholder="Mobile No / Email" width="100%">
            </dx-text-box>
            <p style="color:red;font-size: 12px;" id='err_UserName'></p>
        </div>
       <div class="twocol">
        <div class="dx-field" style="margin-right: 12px;" >
            <dx-text-box mode="password" formControlName="Password" *ngIf='!isOTPRequested' [(value)]="password" placeholder="Password" width="100%">
            </dx-text-box>
            <dx-text-box mode="password" formControlName="Password" *ngIf='isOTPRequested' [(value)]="password" placeholder="Enter OTP" width="100%">
            </dx-text-box>
        </div>
    
        <div class="dx-field">
            <dx-button type="default" text="Request OTP" *ngIf='!isOTPRequested' (onClick)="onRequestOTP()" width="100%"></dx-button>
            <dx-button type="default" text="Re-generate OTP" *ngIf='isOTPRequested' (onClick)="onRegenerateOTP()" width="100%"></dx-button>
        </div>
    </div>
    <div class="clear"></div>
        <div class="dx-field">
            <dx-button type="default" text="Login" [disabled]="!loginForm.valid" (onClick)="Login_Click()" width="100%"></dx-button>
        </div>
        
        <div class="dx-field">
        <div class="dx-fieldset-column"style="width: 175px;">
            <a routerLink="/settings/forgotPassword">Forgot password ?</a>
        </div>
        <div class="dx-fieldset-column">
            <a (click)="goToRegistration()">Register</a>
        </div>
      </div>
    
        <p>Login through Social Accounts</p>
        <div class="dx-field">
            <dx-button type="danger" text="Google" (onClick)="signInWithGoogle()" width="100%"></dx-button>
        </div>
        <div class="dx-field">
            <dx-button type="default" text="Facebook" (onClick)="signInWithFB()" width="100%"></dx-button>
        </div>
    </form>
    <form *ngIf='needtoEnterOTP' [formGroup]="uservalidateForm">
        <p>{{message}}</p>
        <div class="dx-field">
            <dx-text-box mode="password" formControlName="OTP" placeholder="OTP" width="100%">
            </dx-text-box>
            <p style="color:red;" id='err_OTP'></p>
            <a (click)="ResendOTP_click()">Resend OTP</a>
        </div>
        <div class="dx-field">
            <dx-button icon= "images/icons/weather.png" text="Submit" (onClick)="ValidateUserByOTP()"[disabled]="!uservalidateForm.valid" width="100%"></dx-button>
            
        
        </div>
        
    </form>
    </dx-validation-group>
    </div>
    
    <dx-popup
        class="popup"
        [width]="250"
        [height]="150"
        [showTitle]="true"
        [title]="title"
        [dragEnabled]="false"
        [closeOnOutsideClick]="true"
        [(visible)]="popUpVisible">
        <div *dxTemplate="let data of 'content'">
            <p>
                <span>{{message}}</span>
            </p>
        </div>
    </dx-popup>
  </div>
</dx-popup> -->


