

    <div class="dx-card content-block responsive-paddings " [ngClass]="getFont(numerologyRequest.LangCode)" *ngFor="let item of numerologyResponse.Predictions "  >
    
        <div class="num-title">{{item.Title}}</div>
        <div class="num-title">: {{item.SubTitle}}</div>
        <div class="clear"></div>
          <div>{{item.Prediction}}</div>

</div>
<div [ngClass]="getFont(numerologyRequest.LangCode)"  >
<div class="dx-card content-block responsive-paddings">
<div class="dx-card content-block responsive-paddings col-sm-4" style="float:left; background-color:#5FAF0A;color:white;width: 85%"  >

{{caption.VeryGood}}

</div>
<div class="dx-card content-block responsive-paddings ">

{{caption.VeryGoodDesc}}

</div>
</div>
<div class="dx-card content-block responsive-paddings">
<div class="dx-card content-block responsive-paddings col-sm-4" style="float:left; background-color:#02B0D9;color:white;width: 85%"  >


{{caption.Good}}
</div>
<div class="dx-card content-block responsive-paddings ">
{{caption.GoodDesc}}
</div>
</div>

<div class="dx-card content-block responsive-paddings">
<div class="dx-card content-block responsive-paddings col-sm-4" style="float:left; background-color:#FCF40F;color:white;width: 85%"  >
{{caption.Average}}
</div>
<div class="dx-card content-block responsive-paddings ">
{{caption.AverageDesc}}

</div>
</div>
<div class="dx-card content-block responsive-paddings">
<div class="dx-card content-block responsive-paddings col-sm-4" style="float:left; background-color:#AC0B73;color:white;width: 85%"  >
{{caption.NotBad}}
</div>
<div class="dx-card content-block responsive-paddings ">

{{caption.NotBadDesc}}
</div>
</div>
<div class="dx-card content-block responsive-paddings">
<div class="dx-card content-block responsive-paddings col-sm-4" style="float:left; background-color:#D6000A;color:white;width: 85% "  >
{{caption.Weak}}


</div>
<div class="dx-card content-block responsive-paddings">

{{caption.WeakDesc}}

</div>
</div>

</div>

<div class="dx-card content-block responsive-paddings "    >
<table>

<thead>
<tr>{{manthcaption}}</tr>
<tr>
<td [ngClass]="getFont(numerologyRequest.LangCode)" >{{caption.Sunday}}</td>
<td [ngClass]="getFont(numerologyRequest.LangCode)" >{{caption.Monday}}</td>
<td [ngClass]="getFont(numerologyRequest.LangCode)" >{{caption.Tuesday}}</td>
<td [ngClass]="getFont(numerologyRequest.LangCode)" >{{caption.Wednesday}}</td>
<td [ngClass]="getFont(numerologyRequest.LangCode)" >{{caption.Thursday}}</td>
<td [ngClass]="getFont(numerologyRequest.LangCode)" >{{caption.Friday}}</td>
<td [ngClass]="getFont(numerologyRequest.LangCode)" >{{caption.Saturday}}</td>

</tr>
</thead>
<tbody>
<tr *ngFor="let item of serialseMonth">
<td [ngStyle]="{'background-color':GetBackColor(item.Sunday),'color':GetForeColor(item.Sunday)}">{{split(item.Sunday)}}</td>
<td [ngStyle]="{'background-color':GetBackColor(item.Monday),'color':GetForeColor(item.Monday)}">{{split(item.Monday)}}</td>
<td [ngStyle]="{'background-color':GetBackColor(item.Tuesday),'color':GetForeColor(item.Tuesday)}">{{split(item.Tuesday)}}</td>
<td [ngStyle]="{'background-color':GetBackColor(item.Wednesday),'color':GetForeColor(item.Wednesday)}">{{split(item.Wednesday)}}</td>
<td [ngStyle]="{'background-color':GetBackColor(item.Thursday),'color':GetForeColor(item.Thursday)}">{{split(item.Thursday)}}</td>
<td [ngStyle]="{'background-color':GetBackColor(item.Friday),'color':GetForeColor(item.Friday)}">{{split(item.Friday)}}</td>
<td [ngStyle]="{'background-color':GetBackColor(item.Saturday),'color':GetForeColor(item.Saturday)}">{{split(item.Saturday)}}</td>

</tr>
</tbody>
</table>

</div>

<div class="dx-card content-block responsive-paddings ">
    <div class="dx-field-value">
          <dx-button
              icon="cart"
              type="success"
              text="Buy Now"
              (onClick)="onClick()">
          </dx-button>
      </div>
  </div>


