.dx-button {
    float: none !important;
}

.KannadaFont {
    font-family: "kanfontfamily" !important;
    text-align: justify;
    font-size: 20px !important;
}

.EnglishFont {
    font-family: sans-serif !important;
    text-align: justify;
    font-size: 20px !important;
}

.HindiFont {
    font-family: "hinfontfamily" !important;
    text-align: justify;
    font-size: 20px !important;
}

.MalyalamFont {
    font-family: "malfontfamily" !important;
    text-align: justify;
    font-size: 20px !important;
}

.TamilFont {
    font-family: "tamfontfamily" !important;
    text-align: justify;
    font-size: 20px !important;
}

.logos-container {
    margin: 20px 0 40px 0;
    text-align: center;
    svg {
        display: inline-block;
    }
}

.devextreme-logo {
    width: 200px;
    height: 34px;
    margin-bottom: 13px;
}

.angular-logo {
    width: 220px;
    height: 62px;
}

.plus {
    margin: 15px 10px;
    width: 22px;
    height: 22px;
}

:host-context(.screen-x-small) .logos-container {
    svg {
        width: 100%;
        display: block;
        &.plus {
            margin: 0;
        }
    }
}

table,
tr,
td {
    border: 1px solid black !important;
}
.legend {
    padding: 20px;
}

.header{
font-family: 'PT Sans Narrow', sans-serif;
font-size: 18px;
font-weight: 700;
margin: 0 0 10px;
text-align: center

}

.calender{
  width: 340px;
    background: rgba(0, 0, 0, .1);
    padding: 12px;
    border-radius: 5px;
    box-sizing: border-box;
}
table {
  border-collapse: collapse;
  text-align: center;
}

td {
  color: #000;
  background: #fff;
  width: 50px;
  /* border-collapse: collapse; */
}
.dx-field-value,
.dx-field-label {
    text-align: left;
}

.dx-fieldset-column {
    float: left;
    width: 48%;
}

.dx-field-label {
    width: 200px !important;
}

.chakra {
    margin-left: 300px;
}

.clear {
    clear: both;
}

.num-title {
    float: left;
    font-weight: bold;
    color: #e91e63;
}
.caption {
    width: 220px;
    margin-top: 40px;
}

@media (max-width: 479px) {
    .dx-fieldset-column {
        float: left;
        width: 100%;
    }
    .chakra {
        margin-left: 2px;
    }
    .col-sm-4 {
        width: 85%;
    }
    .calender{
      width: 285px;
       
    }
    .caption {
        width: 220px;
        margin-top: 0px;
    }
    
}

