

<div class="dx-card content-block responsive-paddings">
  
    <div class="login-header">
        <div class="title">Forgot Password</div>
    </div>
    <form *ngIf='forgotPassword' [formGroup]="forgotPasswordForm">
    <div class="dx-field">
        <dx-text-box mode="text" valueChangeEvent="keyup" formControlName="UserName" placeholder="User Name" width="100%">
        </dx-text-box>
        <p style="color:red;" id='err_UserName'></p>
    </div>
    <div class="dx-field">
        <dx-button type="default" text="Get OTP" (onClick)="OnGetOTP_Click()"[disabled]="!forgotPasswordForm.valid||EMailOTPType" width="100%"></dx-button>
    </div>
    <p><span *ngIf="EMailOTPType">{{EMailOTPType}}</span></p>
</form>

<form *ngIf='SMSOTPType' [formGroup]="userOTPValidateForm">
        <p>{{message}}</p>
        <p>
            <span style="color:green;"*ngIf="SMSOTPType">{{SMSOTPType}}</span>
        </p>
    <div class="dx-field">
        <dx-text-box mode="password" valueChangeEvent="keyup" (onValueChanged)='onValueChanged($event)' formControlName="OTP" placeholder="Enter OTP" width="100%">
        </dx-text-box>
        <p style="color:red;" id='err_OTP'></p>
        <a (click)="ResendOTP_click()">Resend OTP</a>
        <!-- <div style="width: 175px;" *ngIf='counter== 0'>
            <a (click)="ResendOTP_click()">Resend OTP</a>
        </div>
        <div style="width: 175px;" *ngIf='counter!= 0'>
            <a class="isDisabled" (click)="ResendOTP_click()">Resend OTP</a>
        </div>     -->
    </div>
    <div class="dx-field">
        <dx-button text="Submit" (onClick)="OnValidateOTP_click()" width="100%"></dx-button>
    </div>
</form>
<form *ngIf='passwordEntry' [formGroup]="passwordEntryForm">
        <p style="color:green;" *ngIf="OTPValidated">{{OTPValidated}}</p>
    <div class="dx-field">
        <dx-text-box mode="password" formControlName="NewPassword" placeholder="New Password(4-8 Characters)" width="100%">
        </dx-text-box>
        <p style="color:red;" id='err_NewPassword'></p>
    </div>
    <div class="dx-field">
        <dx-text-box mode="password" formControlName="confirm_NewPassword" placeholder="ReEnter New Password" width="100%">
        </dx-text-box>
        <p style="color:red;" id='err_confirm_NewPassword'></p>
        <p style="color:red" *ngIf="passwordEntryForm.errors?.notSame">Passwords do not match</p>
    </div>
    <div class="dx-field">
        <dx-button type="default" text="Save" (onClick)="OnSave_Click()"[disabled]="!passwordEntryForm.valid" width="100%"></dx-button>
    </div>
</form>

</div>
<div *ngIf="changePasswordSuccessful" class="dx-card content-block responsive-paddings">
<div class="centre">
        <i class="dx-icon-check dx-icon-custom-style"></i>
        <h4>Thank you</h4>
<p><b> Your Account Password changed Successfully.</b></p>
</div>
</div>
