<div class="dx-card content-block responsive-paddings col-sm-6" style="float:left">
    <table *ngIf="firstPreference">
        <thead>
            <th style="text-align:center">First Preference</th>
            <tr>
                <th>Name</th>
                <th>Meaning</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of firstPreference">
                <td>
                    {{item.Name}}
                </td>
                <td>
                    {{item.Meaning}}
                </td>
            </tr>
        </tbody>
    </table>
    <br/>
    <table *ngIf="secondPreference">
        <thead>
            <th style="text-align:center">Second Preference</th>
            <tr>
                <th>Name</th>
                <th>Meaning</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of secondPreference">
                <td>
                    {{item.Name}}
                </td>
                <td>
                    {{item.Meaning}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
