<div class="dx-card content-block responsive-paddings">
  <p style="text-align: justify;"><strong>Horoscope</strong></p>

  <p style="text-align: justify;">It is believed that a person experiences benefic or malefic virtues according to his deeds during his lifetime. Moreover, the deeds of the present lifespan determine the benefic or malefic experience in our rebirth, be it in the form of any being.</p>
  
  <p style="text-align: justify;">According to Vedic astrology, it can be clearly predicted whether the deeds performed by an individual were good or bad in his previous lives through one&#39;s horoscope. As per this, based on some authentic calculations the predictions are made with respect to one&#39;s education, occupation, marriage, marital life, issues of children, health, dealings or any other pros and cons experienced by a person, thereby suggesting some relief measures too.</p>
  
  <p style="text-align: justify;">The above said matters depend on the accuracy of the time, date and place of birth of an individual. So, a horoscope prepared on the basis of the above credentials could help a person lead a fruitful life knowing how to deal with matters one experiences and act accordingly.&nbsp;</p>
  
  <p style="text-align: justify;">Hence, the horoscope is prepared very carefully on the basis of aspects like Samvatsara, Solar or lunar months, Nithyapanchanga, Grahasputa, Shadbala, Saptavarga, Ashtakavarga, Bindushodhane, Rashmibala, Kaalachakra dasha, Bhava shashtyamsha, details of Dashasandhi, Balarishta at the time of birth, Sadyorishta, Nakshatra sookshma phala, details of Vamsharishtha if any, Arishtabhanga, details of Bhavashashtyamsha for Bhava Phala, importance of Ashtakavarga phala, Samudayashtaka varga phala etc, which have been taken into consideration.</p>
  
  <p style="text-align: justify;"><strong>Ashtamangala Calculation</strong></p>
  
  <p style="text-align: justify;">Ashtamangala prashne is a form of practice under Vedic astrology, followed widely in Kerala, where usually a Navagraha pooja is performed to seek blessings from the Navagraha. After the pooja, with the arrangement of cowry shells, sandalwood, floral offerings, gold coin etc are placed in the hands of a little child. On the basis of the placement of the gold coin randomly in one of the twelve houses drawn in front of the astrologer, a review or diagnosis is done, which in turn takes some other aspects or omens also into consideration, like a lamp, Tamboola etc for a proper assessment.</p>
  
  <p style="text-align: justify;">This software could be useful for the astrologers to get the requisite readings for the said purpose.</p>
  
  <p style="text-align: justify;">Shadarooda, the corresponding Yoni, Jantu, Rashi or Nakshatra with respect to the Ashtamangala Number, Panchasootra, Chandrakriya, Chandraavastha, Chandravela Phala, Dinaashtabhaaga, Saptabhaaga, Tamboola graha, Baalaanna Varjya Nakshatra corresponding to the time of arrival of the Astrologer or Daivanjna, Gandanta, Ushnashikha etc, Thrisphuta, Chathusphuta and more than 70 other Sphutas as well as many other calculations for the DevaPrashna have been provided.&nbsp;</p>
  
  <p style="text-align: justify;"><strong>Matchmaking</strong></p>
  
  <p style="text-align: justify;">The compatibility between a male and female could be assessed precisely based on the date, time and place of birth to match the horoscopes of prospective brides and bridegrooms in order to achieve marital harmony.</p>
  
  <p style="text-align: justify;">The software furnishes Dashakoota as well as Ashtakoota, which is also depicted in terms of percentage (%). The assessment of Dashasandhi at the same time in both the horoscopes, the resemblance in malefic planets and a review of the planets in the Seventh and Eighth house (Sapthamashtama bhava) have been provided. Although the assessment is given over here as an authentic report, it is at the discretion of the astrologer to get a report of his choice. A concise report has also been provided for a person who has just an input of Rashi and Nakshatra.</p>
  
  <p style="text-align: justify;"><strong>Muhurtha</strong></p>
  
  <p style="text-align: justify;">Muhurtha have been generated on the basis of the calculations formulated in the books like Muhurtha Padavi and Muhurtha Madhavi, through which one could easily access the most auspicious time with respect to some special occasion or ceremony to be held in any part of the world. During Brahmopadesham or Upanayana, it could be extremely useful to know the purity of the Eighth house as well as the Gurubala to decide the most auspicious Muhurtha. It could be also useful to know the Muhurtha for buying a vehicle, beginning a house construction, a new job or a new journey etc. It also depicts the arrangement of planets as well as the Bhavashuddhi at the given Muhurtha through a GrahaKundali.&nbsp;</p>
  
  <p style="text-align: justify;">Anyone can have easy access to Muhurtha if he has the relevant inputs.</p>
  
  <p style="text-align: justify;"><strong>Panchangam</strong></p>
  
  <p style="text-align: justify;">Panchangam or to get the information with respect to Thithi, Vara, Nakshatra, Yoga, Karana at any location across the world could be known in terms of Ghati- Vighati as well as in hours and minutes separately. One could even know about the speciality of the day; for eg; Shivarathri, Ramanavami, Akshaya Thritiya etc.&nbsp;</p>
  
  <p style="text-align: justify;"><strong>Numerology</strong></p>
  
  <p style="text-align: justify;">One could suggest the lucky number, colour or a gemstone according to Numerology. Even the names could be suggested as well accordingly. The upcoming lucky or unlucky days could be predicted too, along with some other details.</p>
  
  <p style="text-align: justify;"><strong>Panchapakshi Muhurtha</strong></p>
  
  <p style="text-align: justify;">The auspicious time could also be predicted as done by sages during olden days on the basis of the movement of the Sun and the Moon. So, this could be used to know the most auspicious time for some special occasions or ceremonies as well as for some other activities like buying a vehicle, starting a business venture, the chance of winning in a game etc.</p>
  
  <p style="text-align: justify;"><strong>Hanuman Jyothishya</strong></p>
  
  <p style="text-align: justify;">In this app, one could select a relevant question from the list provided to know the solutions to the doubts arising in the life of an individual. For e.g; Can a particular subject be learnt? Will there be a chance to get a good job? Are there chances of marriage? Etc</p>
  
  <p style="text-align: justify;"><strong>Free Apps</strong></p>
  
  <p style="text-align: justify;">Prathamartava Guna Dosha</p>
  
  <p style="text-align: justify;">The auspiciousness or inauspiciousness of the timing of the first period in the life of a girl has been provided over here. Suitable remedial measures with explanation have been given as well.</p>
  
  <p style="text-align: justify;"><strong>Kaalidrushti</strong></p>
  
  <p style="text-align: justify;">Some bad omen at the death of an individual like Dhanishtapanchaka, Tripada dosha, Vaara dosha, Kaalidrushti dosha etc have been suggested to be solved with some remedial measures as per the shaastras.&nbsp;</p>
  
  <p style="text-align: justify;"><strong>Shraddha Nirnaya</strong></p>
  
  <p style="text-align: justify;">One could have access to decipher the date of Death Anniversary (Shraddha) as per the lunar or the solar months. Even the list of Shraddha, Thithi and Masikas could be generated too.</p>
  
  <p style="text-align: justify;"><strong>Baby Naming</strong></p>
  
  <p style="text-align: justify;">This app could help to know the beginning letter of a baby&rsquo;s name corresponding to the birth star or Nakshatra, which could prove to be auspicious or beneficial to the child, thereby to choose a meaningful name as well.</p>
  
  <p style="text-align: justify;"><strong>Choughadiya</strong></p>
  
  <p style="text-align: justify;">This shows the seven different forms of time in any given day. They are Udvega, Chara, Labha, Amrita, Kaala, Shubha and Roga. Accordingly, four among these are supposed to be auspicious whereas three are not. Even this could be used to know the auspicious time for some aspects. Generally, it is used to know the beginning of any business venture.&nbsp;</p>
  
  
</div>