    
  
  <div class="dx-fieldset-column">
  <div class="dx-card content-block responsive-paddings">
  
  <h3 >{{service.Name}}</h3>
    <div class="full-horoscope-1" id='employee'>
    <h5 >{{service.Description}}</h5>
    <h6  *ngIf='!checkBoxValue'>MRP.               {{service.MRP}}</h6>
    <h6  *ngIf='checkBoxValue'>MRP.               {{service.PrintMRP}}</h6>
    <h6  *ngIf='!checkBoxValue'>Discount             {{SoftCopyDifference}}</h6>
    <h6  *ngIf='checkBoxValue'>Discount             {{HardCopyDifference}}</h6>
    <h6  *ngIf='!checkBoxValue'>Offer Price      {{service.Amount}}</h6>
    <h6  *ngIf='checkBoxValue'>Offer Price      {{service.PrintAmount}}</h6>
   
    <div class="dx-fieldset">
       
            <dx-check-box 
                id="check"
                (onValueChanged)="hardcopyRequired_Click(service.ItMastId)"
                text="Hardcopy Required">
            </dx-check-box>
            <!-- <dx-check-box 
                id="check"
                (onValueChanged)="hardcopyRequired_Click($event)"
                [(value)]="checkBoxValue"
                text="Hardcopy Required">
            </dx-check-box> -->
       
    </div>
    
    <a (click)="onSamplePDF(service)">Click here to View Sample PDF</a>
    </div>
    <p><strong> Service is Within India Only</strong></p>
    <div class="next">
    <dx-button (onClick)='onNext(service)'
                id="button"
                text="Select"
                type="success"  
                [useSubmitBehavior]="true">
            </dx-button>
  </div>
    
</div>
</div>

<!-- <dx-load-panel
    #loadPanel
    shadingColor="rgba(0,0,0,0.4)"
    [position]="{ of: '#employee' }"
    [(visible)]="loading"
    [showIndicator]="true"
    [showPane]="true"
    [shading]="true"
    [closeOnOutsideClick]="false"
    (onShown)="onShown()"
    (onHidden)="onHidden()">
</dx-load-panel> -->