    
  
  <div class="dx-fieldset-column">
  <div class="dx-card responsive-paddings list-padding pricelist">
  <div class="price-box">
  <h3 >{{service.Name}}</h3>
    <div class="full-horoscope-1" id='employee'>
    <h5 >{{service.Description}}</h5>
        <div class="dx-field" *ngIf='!checkBoxValue'>
            <div class="cap">MRP.</div>
            <div class="data">{{service.MRP|currency:'INR'}}
            </div>
        </div>
    
        <div class="dx-field" *ngIf='checkBoxValue'>
            <div class="cap">MRP.</div>
            <div class="data">{{service.PrintMRP|currency:'INR'}}
            </div>
        </div>
        <div class="dx-field" *ngIf='!checkBoxValue'>
            <div class="cap">Discount</div>
            <div class="data">{{SoftCopyDifference|currency:'INR'}}
            </div>
        </div>
    
        <div class="dx-field" *ngIf='checkBoxValue'>
            <div class="cap">Discount</div>
            <div class="data">{{HardCopyDifference|currency:'INR'}}
            </div>
        </div>
        <div class="dx-field" *ngIf='!checkBoxValue'>
            <div class="cap"><strong>Price</strong></div>
            <div class="data"><strong>{{service.Amount|currency:'INR'}}</strong>
            </div>
        </div>
    
        <div class="dx-field" *ngIf='checkBoxValue'>
            <div class="cap effective"><strong>Effective Price</strong></div>
            <div class="data effective"><strong style="color:#e4810f">{{service.PrintAmount|currency:'INR'}}</strong>
            </div>
        </div>
    <div class="dx-field">
       
            <dx-check-box 
                id="check"
                [value]='checkBoxValue'
                (onValueChanged)="hardcopyRequired_Click($event, service.ItMastId)"
                text="Hardcopy Required">
            </dx-check-box>
       
    </div>
    
    <a (click)="onSamplePDF(service)">Click here to View Sample PDF</a>
    </div>
    <p><strong *ngIf="checkBoxValue">Delivery Service is Within India Only</strong></p>
    <div class="next">
    <dx-button (onClick)='onNext_click(service)'
                id="button"
                text="Select"
                type="success"  
                [useSubmitBehavior]="true">
            </dx-button>
  </div>
</div>
</div>
</div>
