::ng-deep #button {
    width: 150px;
    margin-left: 10%;
}

.data{

    float:left;
    width: 40%;
    text-align: left;
}
.cap{

    float: left;
    //margin-right: 12%;
    width: 40%;
    text-align: left;
}
.dx-fieldset-column {
    float: left;
    width: 33%;
    // margin-right: 40px;
    margin-top: 24px !important;
    }

    .responsive-paddings {
        padding: 20px;
    }
.pricelist{

    height: 525px;
}

.list-padding{
margin-right: 10px

}
    @media (max-width: 800px) {
        .dx-fieldset-column {
        float: left;
        width: 100%;
        
        }
        .responsive-paddings {
            padding: 10px;
        }
    }