    
    <h3 >{{service.Name}}</h3>
    <div class="full-horoscope-1">
    <h5 >{{service.Description}}</h5>
    <h6  *ngIf='!checkBoxValue'>MRP.               {{service.MRP}}</h6>
    <h6  *ngIf='checkBoxValue'>MRP.               {{service.PrintMRP}}</h6>
    <h6  *ngIf='!checkBoxValue'>Discount             {{SoftCopyDifference}}</h6>
    <h6  *ngIf='checkBoxValue'>Discount             {{HardCopyDifference}}</h6>
    <h6  *ngIf='!checkBoxValue'>Offer Price      {{service.Amount}}</h6>
    <h6  *ngIf='checkBoxValue'>Offer Price      {{service.PrintAmount}}</h6>
    <div class="hardcopy-checkbox">
    <div class="dx-fieldset">
        <div>
            <dx-check-box 
                id="check"
                (onValueChanged)="hardcopyRequired_Click(service.ItMastId)"
                text="Hardcopy Required">
            </dx-check-box>
            <!-- <dx-check-box 
                id="check"
                (onValueChanged)="hardcopyRequired_Click($event)"
                [(value)]="checkBoxValue"
                text="Hardcopy Required">
            </dx-check-box> -->
        </div>
    </div>
    </div>
    <a (click)="onClick()">Click here to View Sample PDF</a>
    </div>
    <h5 >Delivery Service is Within India Only</h5>
    <div class="next">
    <dx-button (onClick)='onNext(service)'
                id="button"
                text="Select"
                type="success"  
                [useSubmitBehavior]="true">
            </dx-button>
  </div>
    
    